<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Do you get any other income?
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<a class="nhsuk-skip-link" href="#maincontent" id="skipLink">Skip to main content</a>
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="benefits" id="skipLink">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    aria-hidden="true">
                    <path
                        d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
                    </path>
                </svg>
                Go back</a>
        </div>

        <h1 class="app-page-heading" id="otherIncomeH1">
            <span class="nhsuk-caption-l">Your income</span>Do you get any other income?
        </h1>

        <form action="#" method="post">

            <div class="nhsuk-form-group">

                <fieldset class="nhsuk-fieldset">
                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                        <h2 class="nhsuk-fieldset__heading nhsuk-u-visually-hidden" id="otherIncomeH2">
                            Do you get any other income?
                        </h2>
                    </legend>

                    <p>This may include money you earn from:</p>
                    <ul class="nhsuk-list nhsuk-list--bullet">
                        <li>interest from your bank or building society account</li>
                        <li>selling things, for example at car boot sales, an auction, or online</li>
                        <li>doing casual jobs such as gardening, delivering food or babysitting</li>
                        <li>charging people for using your equipment or tools</li>
                        <li>dividends paid to you by a company</li>
                    </ul>

                    <div class="nhsuk-radios nhsuk-radios--conditional">
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="yes" name="otherIncome" type="radio" value="Yes"
                                aria-controls="conditional-otherIncome" aria-expanded="false">
                            <label class="nhsuk-label nhsuk-radios__label" for="yes">
                                Yes
                            </label>
                        </div>

                        <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden"
                            id="conditional-otherIncome">

                            <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-u-font-weight-bold" for="benefits-info">
                                    How much will you get from other income in the 2019/20 academic year?
                                </label>£
                                <input class="nhsuk-input nhsuk-u-width-two-thirds" id="benefits-info" name="otherIncome"
                                    type="text">
                            </div>

                        </div>

                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="no" name="benefits" type="radio" value="No">
                            <label class="nhsuk-label nhsuk-radios__label" for="no">
                                No
                            </label>
                        </div>

                    </div>
                </fieldset>
            </div>

    </div>
</div>

<div class="nhsuk-form-group">
    <a href="other-income" class="nhsuk-button" role="button" id="continue">Continue</a>
  </div>


</div>
</div>
</div>
{% endblock %}