{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

{% block header %} {{ header({ "service": { "name": "Bursary", "href": "/" },
"showNav": "false", "showSearch": "false" }) }} {% endblock %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Students declaration {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
      <h1 class="nhsuk-app-heading" id="ppe-title">
        <span class="nhsuk-caption-l">Practice Placement Expenses</span>Students
        declaration
      </h1>
    </legend>

    <p>
      Please review all information you have provided before completing this
      declaration. Read this declaration carefully before accepting it. If you
      choose not to accept it, your funding will not be processed.
    </p>

    <p>I declare that:</p>
    <ul class="nhsuk-list nhsuk-list--number">
      <li>
        I am undertaking a pre-registration healthcare programme at a university
        in England, or I am undertaking a pre-registration Medical or Dental
        course at a university in the UK that is eligible for Practice Placement
        Expenses.
      </li>
      <li>
        I have read and understood the relevant booklet and/or any other
        relevant information regarding the conditions for claiming Practice
        Placement Expenses.
      </li>
      <li>
        I confirm that I have enrolled and commenced on my programme of study
        and am thus in active training.
      </li>
      <li>
        I confirm that the expenses claimed were essentially incurred as a
        result of my attending practice placements and that my normal daily
        travel to university costs have been deducted.
      </li>
      <li>
        I confirm that I have used the cheapest available transport to access
        the practice placement/s.
      </li>
      <li>
        I confirm that, if I have claimed for a private motor vehicle, I have
        appropriate insurance in place.
      </li>
      <li>
        I confirm that I am not studying as an assisted student i.e. I am not in
        receipt of any sponsorship from an employer or any other agency.
      </li>
      <li>
        Student Services is committed to administering entitlement accurately
        wherever possible. I agree to pay back Student Services within 30 days
        of receiving notification any excess payment, fees, and any other
        charges, in the event of the following circumstances:
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>Changing my study pattern from full-time to part-time</li>
          <li>
            Withdrawing , abandoning, suspending, deferring, or interrupting the
            course permanently or temporarily for any reason, regardless of
            whether I intend to return
          </li>
          <li>Taking a year out from study</li>
          <li>
            Being overpaid because I have failed to notify NHSBSA Student
            Services of a change in my circumstances.
          </li>
          <li>
            Where Student Services at its absolute discretion determines I have
            been given financial support to which I am not entitled
          </li>
          <li>
            Gaining support from sources other than Student Loans Company that
            might affect my entitlement
          </li>
        </ul>
        Should I fail to make full repayment of any amount due or agree an
        acceptable repayment plan with NHSBSA, I understand that the debt and
        relevant personal information may be passed to a debt collection agency.
        I also understand that I may be charged for any additional recovery
        costs and/ or interest at the rate of 8% on the referred debt which may
        be added to the balance.
      </li>
    </ul>

    <a href="declaration-page-two" class="nhsuk-button">Continue</a>
  </div>
</div>

{% endblock %}
