<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} WIP: What type of independent student are you? {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<!-- Breadcrumb -->

{% endblock %}
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="javascript:history.go(-1)" id="back">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
            aria-hidden="true">
            <path
              d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
            </path>
          </svg>
          Go back</a>
      </div>

      <span class="nhsuk-caption-l">Change of circumstances</span>
      <h1 class="nhsuk-heading-l">WIP: What type of independent student are you?</h1>

      <form action="/change-of-circumstances/V4/apply/are-you-independent-route" method="POST">

        <p>
          You are an independent if you:
        </p>
        <ul>
          <li>have any dependent children at the start of the academic year</li>
          <li>have no living biological or adoptive parents</li>
          <li>are estranged from your parents</li>
        </ul>


        <details class="nhsuk-details">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              What classes as a dependent child
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>A dependent child is a person aged:</p>
            <ul>
              <li>0 to 15 in a household (whether they are in a family or not)</li>
              <li>16 to 18 in full-time education and living in a family with his or her parent(s) or grandparent(s)
                and not undertaking an apprenticeship/receiving a full time wage</li>
            </ul>
            <p>It does not include any people aged 16 to 18 who have a spouse, partner or child living in the
              household.</p>
          </div>
        </details>


        <details class="nhsuk-details">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              What classes as being estranged from your parents
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>This only includes your biological or adoptive parents.</p>
            <p>To apply as an estranged student, we expect that you've had no contact with either of your parents in
              the 12 months before the first day of your course.</p>
          </div>
        </details>

        <div class="nhsuk-form-group">
          <fieldset class="nhsuk-fieldset">

            <div class="nhsuk-radios">
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="yes" name="isNowIndependent" type="radio" value="Yes" />
                <label class="nhsuk-label nhsuk-radios__label" for="yes">
                  Yes
                </label>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="no" name="isNowIndependent" type="radio" value="No" />
                <label class="nhsuk-label nhsuk-radios__label" for="no">
                  No
                </label>
              </div>

            </div>
          </fieldset>
        </div>

        <button class="nhsuk-button" type="submit">Continue</button>

        <p><a id="canceltoTasklist" href="tasklist-approved">Cancel</a></p>
      </form>


    </div>
  </div>
</div>

{% endblock %}