{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

{% block header %} {{ header({ "service": { "name": "Bursary", "href": "/" },
"showNav": "false", "showSearch": "false" }) }} {% endblock %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}How did you travel to your other placement address? {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="other-placement" id="back">
    <svg
      class="nhsuk-icon nhsuk-icon__chevron-left"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      aria-hidden="true"
    >
      <path
        d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"
      ></path>
    </svg>
    Go back</a
  >
</div>

<form action="/ppe/dates-required/other-transport" method="post">

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
      <h1 class="nhsuk-app-heading" id="travel-title">
        <span class="nhsuk-caption-l">Practice Placement Expenses</span>How did you travel to your other placement address?
      </h1>
    </legend>

    {% from 'checkboxes/macro.njk' import checkboxes %}

{{ checkboxes({
  "idPrefix": "othertransportType",
  "name": "othertransportType",
  "fieldset": {
    "legend": {
      "text": "How did you travel to your placement?",
      "classes": "nhsuk-fieldset__legend--l nhsuk-u-visually-hidden",
      isPageHeading: true
    }
  },
  "hint": {
    "text": "Select all options that apply."
  },
  "items": [
  {
    "value": "drive",
    "text": "Drive",
    id: "drive",
    name: "othertransportType"
  },
    {
      "value": "lift",
      "text": "I get a lift from someone else",
      id: "lift",
      name: "othertransportType"
    },
    {
      "value": "taxi",
      "text": "Taxi",
      id: "taxi",
      name: "othertransportType"
    },
    {
      "value": "public-transport",
      "text": "Public transport",
      id: "public-transport",
      name: "othertransportType"
    },
    {
      "value": "walk",
      "text": "Walk",
      id: "walk",
      name: "othertransportType"
    },
    {
      "value": "cycle",
      "text": "Cycle",
      id: "cycle",
      name: "othertransportType"
    }
  ]
}) }}

<div class="nhsuk-form-group">
  <button
    class="nhsuk-button"
    type="submit"
    id="continue"
    role="button"
  >
    Continue
  </button>
</div>

  </div>
</div>

{% endblock %}
