{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Upload your evidence {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <fieldset class="nhsuk-fieldset">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-app-heading" id="uploadEvidenceH1">
          Upload your evidence
        </h1>
      </legend>

      <p>Because you have indicated your income, you now need to upload:</p>
      <ul>
        <li>your payslips from the past 12 months</li>
        <li>your taxable allowances</li>
        <li>your pension statement</li>
        <li>your taxable benefits</li>
      </ul>
      <div class="nhsuk-form-group">
        <label for="file" class="nhsuk-label" id="title-label"
          ><strong>Upload your documents</strong></label
        >
        <p class="nhsuk-hint" id="file-format-hint">
          Please choose a file of one of the following types: types
        </p>
        <span class="nhsuk-hint"
          >The quality of your digital photo upload must be:</span
        >
        <ul class="list list-bullet nhsuk-hint">
          <li>original copy</li>
          <li>full document displayed</li>
          <li>clear and in focus</li>
          <li>in colour</li>
          <li>unaltered by computer software</li>
        </ul>
        <p class="nhsuk-hint" id="file-format-reject">
          If the document does not meet this criteria, your application will be
          rejected
        </p>

        <span class="nhsuk-hint"
          >Your file must be in one of the following formats:</span
        >
        <ul class="list list-bullet nhsuk-hint">
          <li>jpg</li>
          <li>bmp</li>
          <li>png</li>
          <li>tif</li>
          <li>pdf</li>
        </ul>

        <div class="nhsuk-form-group">
          <div class="form-group-error" id="fileSizeError" hidden="true">
            <span id="fileSizeErrorMessage" class="error-message"></span>
          </div>
          <input id="file" class="nhsuk-input" type="file" name="file" />
        </div>

        <div class="nhsuk-form-group">
          <button type="submit" class="nhsuk-button nhsuk-button--secondary">
            Upload file
          </button>
        </div>
        <h2 class="nhsuk-heading-m">Uploaded files</h2>
        <div class="nhsuk-card nhsuk-grid-column-full">
          <div class="nhsuk-card__content">
            <dl class="nhsuk-summary-list">
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Payslip1.pdf</dt>
                <dd class="nhsuk-summary-list__actions">
                  <a href="#" id="view">
                    View<span class="nhsuk-u-visually-hidden"> View</span>
                  </a>
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="#">
                    Remove<span class="nhsuk-u-visually-hidden"> Payslip1</span>
                  </a>
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">Payslip2.pdf</dt>
                <dd class="nhsuk-summary-list__actions">
                  <a href="#" id="view">
                    View<span class="nhsuk-u-visually-hidden"> View</span>
                  </a>
                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="#">
                    Remove<span class="nhsuk-u-visually-hidden">
                      date of birth</span
                    >
                  </a>
                </dd>
              </div>
            </dl>
          </div>
        </div>

        <div class="nhsuk-form-group">
          <a
            href="/person-assessment/scenarios/dependent-person1-2/person-1/dashboard/dashboard-incomecomplete"
            type="submit"
            class="nhsuk-button"
            >Accept and submit</a
          >
        </div>
      </div>
    </fieldset>
    <a href="#" id="saveDashboard">Save and come back later</a>
  </div>
</div>

{% endblock %}
