<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}{{ serviceName }} prototypes | What is their date of birth?{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %} {% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="name" id="back">
    <svg
      class="nhsuk-icon nhsuk-icon__chevron-left"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      aria-hidden="true"
    >
      <path
        d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"
      ></path>
    </svg>
    Go back
  </a>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-app-heading">
      <span class="nhsuk-caption-l">Child 1 details</span>
      <span>What is their date of birth?</span>
    </h1>

    <div class="nhsuk-form-group">
      <fieldset id="dob" role="group" class="nhsuk-fieldset">
        <span class="nhsuk-hint" id="formhint">For example, 15 3 2001</span>
        <div class="nhsuk-date-input">
          <div class="nhsuk-date-input__item">
            <label
              id="dob-day-label"
              class="nhsuk-label nhsuk-date-input__label"
              for="dob-day"
              >Day</label
            >
            <input
              class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
              id="dob-day"
              name="day"
              type="number"
              pattern="[0-9]*"
              maxlength="2"
              inputmode="numeric"
            />
          </div>

          <div class="nhsuk-date-input__item">
            <label
              id="dob-month-label"
              class="nhsuk-label nhsuk-date-input__label"
              for="dob-month"
              >Month</label
            >
            <input
              class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
              id="dob-month"
              name="month"
              type="number"
              pattern="[0-9]*"
              maxlength="2"
              inputmode="numeric"
            />
          </div>

          <div class="nhsuk-date-input__item">
            <label
              id="dob-year-label"
              class="nhsuk-label nhsuk-date-input__label"
              for="dob-year"
              >Year</label
            >
            <input
              class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4"
              id="dob-year"
              name="year"
              type="number"
              pattern="[0-9]*"
              maxlength="4"
              inputmode="numeric"
            />
          </div>
        </div>
      </fieldset>
    </div>

    <div class="nhsuk-form-group">
      <a
        href="education"
        class="nhsuk-button"
        type="submit"
        id="next"
        role="button"
      >
        Continue
      </a>
    </div>
  </div>
</div>

{% endblock %}
