<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Check the specialist equipment {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %} {% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-app-heading" id="summaryH1">
      <span class="nhsuk-caption-l">SRN000020301 - Liam Bloggs</span> Updated
      Laptop
    </h1>
  </div>

  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-form-group">
      <h2 class="nhsuk-heading-l" id="evidence">Laptop information</h2>
      <div class="nhsuk-card nhsuk-grid-column-full">
        <div class="nhsuk-card__content">
          <div class="nhsuk-form-group">
            <table role="table" class="nhsuk-table-responsive">
              <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
                  <th role="columnheader" class="" scope="col">Item</th>
                  <th role="columnheader" class="" scope="col">Supplier</th>
                  <th role="columnheader" class="" scope="col">Quote No.</th>
                  <th role="columnheader" class="" scope="col">
                    Amounts we’ve paid
                  </th>
                  <th role="columnheader" class="" scope="col">Evidence</th>
                </tr>
              </thead>
              <tbody class="nhsuk-table__body">
                <tr role="row" class="nhsuk-table__row">
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Item </span
                    >Laptop
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading"
                      >Supplier </span
                    ><strong>Argos</strong>
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading"
                      >Quote No. </span
                    >459820497
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading"
                      >Amounts we've paid</span
                    >£350
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Evidence</span
                    ><a href="#">
                      View (new tab)<span class="nhsuk-u-visually-hidden">
                        recorder_receipt.pdf</span
                      >
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="nhsuk-form-group">
        <a href="specialist-laptop" class="nhsuk-button" role="button" id="next"
          >Continue</a
        >
      </div>
    </div>
  </div>

  {% endblock %}
</div>
