<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-processor.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Student dashboard {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->


<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent" role="main" style="padding: 0;">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <div>
          <h1 class="nhsuk-app-heading" style="margin-bottom: 20px;">
            <span class="nhsuk-caption-l" id="studentRef">BRN0000259-3 - Mike Lee (September 2024)</span>
            <!-- Change of circumstances summary -->
          </h1>
        </div>

        <div class="nhsuk-card" style="background: #005EB8; margin-top: 0;">
          <div class="nhsuk-card__content">
            <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
              Change of circumstances completed
            </h1>
          </div>
        </div>


        <p>You've completed the following actions for this student:</p>
        <ul>
          <li>address updated</li>
          <li>bursary details updated</li>
          <li>payments updated (manually)</li>
          <li>calculations sheet uploaded</li>
          <li>email sent to student</li>
          <li>note created</li>
        </ul>

        <h2 class="nhsuk-heading-m" style="margin-top: 40px;">More details</h2>


        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Bursary details updated
            </span>
          </summary>
          <div class="nhsuk-details__text">

            <p>You've made this change to the student's bursary application.</p>

            <table role="table" class="nhsuk-table-responsive">
              <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
                  <th role="columnheader" class="" scope="col">
                    Question
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Old answer
                  </th>
                  <th role="columnheader" class="" scope="col">
                    New answer
                  </th>
                </tr>
              </thead>
              <tbody class="nhsuk-table__body">
                <tr role="row" class="nhsuk-table__row">
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading" aria-hidden="true">Age </span>Living with parents
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading" aria-hidden="true">How much </span>Yes
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading" aria-hidden="true">How often </span>No
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </details>



        <!-- <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Payments updated
            </span>
          </summary>
          <div class="nhsuk-details__text">

            <p>You've updated the student's payment schedule. You can view these changes in the <a
                href="payment-schedule-history" target="_blank">Payment schedule history (opens in a new tab)</a>.
            </p>

          </div>
        </details> -->



        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Email sent to student
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>You've sent this email to the student.</p>

            <div class="nhsuk-card">
              <div class="nhsuk-card__content">

                <p><strong>Change of circumstances completed - NHS Bursary</strong></p>

                <p>Dear Ali Smith</p>

                <p>We've completed your change of circumstances request for <strong>Change of address</strong>.</p>

                <p>We've made changes to your payments because of this change.
                  <a href="https://nhs-bursary.nhsbsa.nhs.uk/student/login">Sign in to your NHS Bursary account</a> to
                  review your new payments.
                </p>

                <p>If you've submitted any more changes, we'll send separate emails about these when they're complete or
                  if we need any more information.</p>

                <p>Student Services</p>

              </div>
            </div>
          </div>
        </details>



        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Note created
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>You've added this note to the student's record.</p>

            <div class="nhsuk-card">
              <div class="nhsuk-card__content">

                <h3 class="nhsuk-heading-s">Change of circumstances - 13 February 2025 at 11:37am
                  <br>
                  <div style="font-size: 1.1875rem; line-height: 1.47368;">Linked activity 252 - Change of address</div>
                  <strong class="nhsuk-tag nhsuk-tag--grey">System note</strong>
                </h3>

                <ul>
                  <li>Change of circumstances completed.</li>
                  <li>Address updated.</li>
                  <li>Living with parents updated.</li>
                  <li>Payments updated manually.</li>
                  <li>Email sent to student.</li>
                </ul>

                <p>Processor comment: I have added this optional comment, to provide some additional info about this
                  change which could be useful.</p>

                <p>Change type: Change of address<br>
                  Previous address: 13 Pleasant House, Laney Street, Smalltown, Scotland, NE33 3AB<br>
                  New address: 34 The Tower, Streetson Crescent, Bigtown, England, SR2 7NB<br>
                  Living with parents: No<br>
                  Comment: I moved out of my parents house into my studio flat.<br>
                  Date of change: 5 February 2025</p>

                <div class="nhsuk-hint" id="contact-hint">
                  Last modified by <strong>John Smith</strong>
                </div>

                <!-- <dl class="nhsuk-summary-list">
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Note type
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Change of Circumstances
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Link to activity (optional)
                </dt>
                <dd class="nhsuk-summary-list__value">
                  252 - Change of address (complete)
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Comments
                </dt>
                <dd class="nhsuk-summary-list__value">
                  I moved out of my parents house into my studio flat.<br>
                  Old address: 13 Pleasant House, Laney Street, Smalltown, Scotland, NE33 3AB<br>
                  New address 34 The Tower, Streetson Crescent, Bigtown, England, SR2 7NB<br>
                  Effective from date: 5 February 2025
                </dd>
              </div>
            </dl> -->

              </div>
            </div>
          </div>
        </details>

        <p>You can view how the student's payment schedule has changed in the <a href="payment-schedule-history">Payment
            schedule history</a>.</p>


        <div class="nhsuk-form-group">

          <a class="nhsuk-button nhsuk-u-margin-right-5" id="complete" href="student-details-locked-complete"
            role="button" data-module="nhsuk-button" style="margin-top: 20px;">Return to Student details</a>

        </div>

      </div>
    </div>

  </main>
</div>
{% endblock %}