<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-processor.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Student dashboard {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb"
  style="background-color: white; padding:12px 0; margin-bottom: 40px;">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a id="studentDetailsLink" class="nhsuk-breadcrumb__link"
          href="student-details-unlocked">Student details</a></li>

    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="#">Back to Course details</a></p>
  </div>
</nav>

{% endblock %}
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}


<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div>
        <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-4">
          <span class="nhsuk-caption-l" id="studentRef">
            <span>BRN0000259 - Mike Lee</span>
            <span class="nhsuk-u-visually-hidden"> - </span>
          </span>
          Payment schedule history
        </h1>
      </div>
    </div>

  </div>

  <h2 class="nhsuk-heading-l nhsuk-u-margin-bottom-6">August 2023 academic year </h2>

  <p style="margin-bottom: 0;">These are the overall amounts as of this date of change. To view the calculations for
    this academic year, go to <a href="view-calculations">Full year calculations</a>.</p>


  <!-- EXPERIMENTAL HEADING TABLE - NOT USED FOR ACCESSIBILITY REASONS -->

  <!-- <table role="table" class="nhsuk-table-responsive">
    <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row">
        <th role="columnheader" class="" scope="col" style="width: 4%; text-align: right;">
        </th>
        <th role="columnheader" class="" scope="col" style="width: 33%; text-align: left;">
          Date of change
        </th>
        <th role="columnheader" class="" scope="col" style="width: 31%; text-align: center;">
          Academic year
        </th>
        <th role="columnheader" class="" scope="col" style="width: 31%; text-align: right;">
          Cause of change
        </th>
        <th role="columnheader" class="" scope="col" style="width: 4%; text-align: right;">
        </th>
      </tr>
    </thead>

    <tbody class="nhsuk-table__body">
    </tbody>
  </table> -->




  <!-- <h2 class="nhsuk-heading-m">Changes made 3rd March 2025</h2> -->



  <details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">

      <span class="nhsuk-details__summary-text" style="width: 95%">
        <div class="nhsuk-grid-row">

          <div class="nhsuk-grid-column-one-half" style="width: 45%">
            <p class="nhsuk-u-text-align-left nhsuk-u-margin-bottom-0 nhsuk-u-margin-left-3">
              <span class="nhsuk-caption-m">Date of change </span>
              4 June 2023
            </p>
          </div>

          <div class="nhsuk-grid-column-one-half" style="padding-left: 0; width: 55%">
            <p class="nhsuk-u-text-align-left nhsuk-u-margin-bottom-0">
              <span class="nhsuk-caption-m">Cause of change </span>
              Initial calculation
            </p>
          </div>

        </div>

      </span>
    </summary>





    <div class="nhsuk-details__text" style="padding-bottom: 40px;">

      <hr>




      <!-- TERM 1 -->
      <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-4">
        <caption class="nhsuk-table__caption nhsuk-u-font-weight-bold nhsuk-u-font-size-24 nhsuk-u-margin-bottom-4">Term
          1 payments </caption>
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">Type</th>
            <!-- <th role="columnheader" class="" scope="col">Old amount</th> -->
            <th role="columnheader" class="" scope="col">New amount</th>
            <th role="columnheader" class="" scope="col">Expected date</th>
            <th role="columnheader" class="" scope="col">Payment date</th>
            <th role="columnheader" class="" scope="col">Change</th>
          </tr>
        </thead>

        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Type </span>
              Means tested bursary
            </td>

            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">New amount </span>
              £872
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Expected date </span>
              16 August 2023
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">No payment made as of date of change
              </span>

            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Change </span>
              <strong class="nhsuk-tag nhsuk-tag--green">
                New
              </strong>
            </td>
          </tr>

          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Type </span>
              Extra Weeks Allowance
            </td>

            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">New amount </span>
              £610
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Expected date </span>
              16 August 2023
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">No payment made as of date of change
              </span>

            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Change </span>
              <strong class="nhsuk-tag nhsuk-tag--green">
                New
              </strong>
            </td>
          </tr>

          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Type </span>
              Extra Weeks Allowance
            </td>

            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">New amount </span>
              £15
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Expected date </span>
              16 August 2023
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">No payment made as of date of change
              </span>

            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Change </span>
              <strong class="nhsuk-tag nhsuk-tag--green">
                New
              </strong>
            </td>
          </tr>

          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Type </span>
              Non means tested grant
            </td>

            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">New amount </span>
              £330
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Expected date </span>
              16 August 2023
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">No payment made as of date of change
              </span>

            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Change </span>
              <strong class="nhsuk-tag nhsuk-tag--green">
                New
              </strong>
            </td>
          </tr>

        </tbody>
      </table>

      <span class="nhsuk-heading-xs nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-2">Total amount for term 1: £1,827</span>
      <hr class="nhsuk-u-margin-top-2">



      <!-- TERM 2 -->
      <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-top-9 nhsuk-u-margin-bottom-4">
        <caption class="nhsuk-table__caption nhsuk-u-font-weight-bold nhsuk-u-font-size-24 nhsuk-u-margin-bottom-4">Term
          2 payments </caption>
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">Type</th>
            <!-- <th role="columnheader" class="" scope="col">Old amount</th> -->
            <th role="columnheader" class="" scope="col">New amount</th>
            <th role="columnheader" class="" scope="col">Expected date</th>
            <th role="columnheader" class="" scope="col">Payment date</th>
            <th role="columnheader" class="" scope="col">Change</th>
          </tr>
        </thead>

        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Type </span>
              Means tested bursary
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">New amount </span>
              £872
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Expected date </span>
              13 December 2023
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">No payment made as of date of change
              </span>

            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Change </span>
              <strong class="nhsuk-tag nhsuk-tag--green">
                New
              </strong>
            </td>
          </tr>

          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Type </span>
              Extra Weeks Allowance
            </td>

            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">New amount </span>
              £610
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Expected date </span>
              13 December 2023
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">No payment made as of date of change
              </span>

            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Change </span>
              <strong class="nhsuk-tag nhsuk-tag--green">
                New
              </strong>
            </td>
          </tr>

          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Type </span>
              Extra Weeks Allowance
            </td>

            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">New amount </span>
              £15
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Expected date </span>
              13 December 2023
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">No payment made as of date of change
              </span>

            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Change </span>
              <strong class="nhsuk-tag nhsuk-tag--green">
                New
              </strong>
            </td>
          </tr>

          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Type </span>
              Non means tested grant
            </td>

            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">New amount </span>
              £330
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Expected date </span>
              13 December 2023
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">No payment made as of date of change
              </span>

            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Change </span>
              <strong class="nhsuk-tag nhsuk-tag--green">
                New
              </strong>
            </td>
          </tr>

        </tbody>
      </table>

      <span class="nhsuk-heading-xs nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-2">Total amount for term 2: £1,827</span>
      <hr class="nhsuk-u-margin-top-2">



      <!-- TERM 3 -->
      <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-top-9 nhsuk-u-margin-bottom-4">
        <caption class="nhsuk-table__caption nhsuk-u-font-weight-bold nhsuk-u-font-size-24 nhsuk-u-margin-bottom-4">Term
          3 payments </caption>
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">Type</th>
            <!-- <th role="columnheader" class="" scope="col">Old amount</th> -->
            <th role="columnheader" class="" scope="col">New amount</th>
            <th role="columnheader" class="" scope="col">Expected date</th>
            <th role="columnheader" class="" scope="col">Payment date</th>
            <th role="columnheader" class="" scope="col">Change</th>
          </tr>
        </thead>

        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"
                aria-hidden="true">Type </span>
              Means tested bursary
            </td>
            <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"
                aria-hidden="true">New amount </span>
              £872
            </td>
            <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"
                aria-hidden="true">Expected date </span>
              14 March 2024
            </td>
            <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"
                aria-hidden="true">No payment made as of date of change </span>

            </td>
            <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"
                aria-hidden="true">Change </span>
              <strong class="nhsuk-tag nhsuk-tag--green">
                New
              </strong>
            </td>
          </tr>

          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"
                aria-hidden="true">Type </span>
              Extra Weeks Allowance
            </td>
            <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"
                aria-hidden="true">New amount </span>
              £610
            </td>
            <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"
                aria-hidden="true">Expected date </span>
              14 March 2024
            </td>
            <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"
                aria-hidden="true">No payment made as of date of change </span>

            </td>
            <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"
                aria-hidden="true">Change </span>
              <strong class="nhsuk-tag nhsuk-tag--green">
                New
              </strong>
            </td>
          </tr>

          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"
                aria-hidden="true">Type </span>
              Extra Weeks Allowance
            </td>
            <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"
                aria-hidden="true">New amount </span>
              £15
            </td>
            <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"
                aria-hidden="true">Expected date </span>
              14 March 2024
            </td>
            <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"
                aria-hidden="true">No payment made as of date of change </span>

            </td>
            <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"
                aria-hidden="true">Change </span>
              <strong class="nhsuk-tag nhsuk-tag--green">
                New
              </strong>
            </td>
          </tr>

          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"
                aria-hidden="true">Type </span>
              Non means tested grant
            </td>
            <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"
                aria-hidden="true">New amount </span>
              £330
            </td>
            <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"
                aria-hidden="true">Expected date </span>
              14 March 2024
            </td>
            <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"
                aria-hidden="true">No payment made as of date of change </span>

            </td>
            <td role="cell" class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"
                aria-hidden="true">Change </span>
              <strong class="nhsuk-tag nhsuk-tag--green">
                New
              </strong>
            </td>
          </tr>

        </tbody>
      </table>

      <span class="nhsuk-heading-xs nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-2">Total amount for term 3: £1,827</span>
      <hr class="nhsuk-u-margin-top-2">


      <!-- ONE OFF PAYMENTS -->

      <h2 class="nhsuk-heading-m" style="margin-bottom: 10px; margin-top: 60px;">One off payments</h2>

      <p>No one off payments.</p>






      <!-- CALCULATION DETAILS -->

      <h2 class="nhsuk-heading-m" style="margin-bottom: 10px; margin-top: 60px;">Full year award</h2>

      <p style="margin-bottom: 0;">These are the overall amounts as of this date of change. To view the calculations for
        this academic year, go to <a href="view-calculations">Full year calculations</a>.</p>

      <thead role="rowgroup" class="nhsuk-table__head">
        <tr role="row">
          <th role="columnheader" class="" scope="col">
            Award
          </th>
          <!-- <th role="columnheader" class="" scope="col">
              Old amount
            </th> -->
          <th role="columnheader" class="" scope="col">
            New amount
          </th>
          <th role="columnheader" class="" scope="col">Change</th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__header nhsuk-u-font-weight-bold" scope="row">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"> Award </span>
            Non means tested grant
          </td>
          <td class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">New amount </span>
            £1011
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Change </span>
            <strong class="nhsuk-tag nhsuk-tag--green">
              New
            </strong>
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__header nhsuk-u-font-weight-bold" scope="row">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"> Award </span>
            Means tested bursary
          </td>
          <td class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"> New amount </span>
            £2667.80
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Change </span>
            <strong class="nhsuk-tag nhsuk-tag--green">
              New
            </strong>
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__header nhsuk-u-font-weight-bold" scope="row">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"> Award </span>
            Extra Weeks Allowance
          </td>
          <td class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"> New amount </span>
            £1875
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Change </span>
            <strong class="nhsuk-tag nhsuk-tag--green">
              New
            </strong>
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__header nhsuk-u-font-weight-bold" scope="row">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"> Award </span>
            Dependants Allowance
          </td>
          <td class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"> New amount </span>
            £0
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Change </span>
            <strong class="nhsuk-tag nhsuk-tag--green">
              New
            </strong>
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__header nhsuk-u-font-weight-bold" scope="row">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"> Award </span>
            Parent Learning Allowance
          </td>
          <td class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"> New amount </span>
            £0
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Change </span>
            <strong class="nhsuk-tag nhsuk-tag--green">
              New
            </strong>
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__header nhsuk-u-font-weight-bold" scope="row">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"> Award </span>
            Childcare Allowance
          </td>
          <td class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"> New amount </span>
            £0
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Change </span>
            <strong class="nhsuk-tag nhsuk-tag--green">
              New
            </strong>
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__header nhsuk-u-font-weight-bold" scope="row">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"> Award </span>
            Total amount payable
          </td>
          <td class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true"> New amount </span>
            £5481
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Change </span>
            <strong class="nhsuk-tag nhsuk-tag--green">
              New
            </strong>
          </td>
        </tr>
      </tbody>
      </table>



    </div>

  </details>



  <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
    <ul class="nhsuk-list nhsuk-pagination__list">
      <li class="nhsuk-pagination-item--previous">
        <a class="nhsuk-pagination__link nhsuk-pagination__link--prev" href="payment-schedule-history">
          <span class="nhsuk-pagination__title">Previous</span>
          <span class="nhsuk-u-visually-hidden">:</span>
          <span class="nhsuk-pagination__page">August 2024 academic year</span>
          <svg class="nhsuk-icon nhsuk-icon__arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
            aria-hidden="true" width="34" height="34">
            <path
              d="M4.1 12.3l2.7 3c.2.2.5.2.7 0 .1-.1.1-.2.1-.3v-2h11c.6 0 1-.4 1-1s-.4-1-1-1h-11V9c0-.2-.1-.4-.3-.5h-.2c-.1 0-.3.1-.4.2l-2.7 3c0 .2 0 .4.1.6z">
            </path>
          </svg>
        </a>
      </li>
      <!-- <li class="nhsuk-pagination-item--next">
        <a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="payment-schedule-history-page-2">
          <span class="nhsuk-pagination__title">Next</span>
          <span class="nhsuk-u-visually-hidden">:</span>
          <span class="nhsuk-pagination__page">August 2023</span>
          <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
            <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
          </svg>
        </a>
      </li> -->
    </ul>
  </nav>

</div>
{% endblock %}