<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-processor.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Student dashboard {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->


<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb"
  style="background-color: white; padding:12px 0; margin-bottom: 40px;">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a id="searchLink" class="nhsuk-breadcrumb__link" href="#">Student search</a>
      </li>
      <li class="nhsuk-breadcrumb__item"><a id="studentDetailsLink" class="nhsuk-breadcrumb__link"
          href="student-details-locked">Student details</a></li>

    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="#">Back to Course details</a></p>
  </div>
</nav>

{% endblock %}
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent" role="main">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <div class="nhsuk-back-link">
          <a class="nhsuk-back-link__link" href="javascript:history.go(-1)" id="back">
            <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
              aria-hidden="true">
              <path
                d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
              </path>
            </svg>
            Go back
          </a>
        </div>

        <div>
          <h1 class="nhsuk-app-heading nhsuk-heading-l">
            <span class="nhsuk-caption-l" id="studentRef">BRN0000259-3 - Mike Lee (September 2024)</span>
            Add additional evidence (optional)
          </h1>
        </div>

        <p>If you have performed manual calculations, you can upload evidence of this now. The student will not see
          this.</p>

        <div class="nhsuk-card">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-heading-m">Uploaded files</h2>

            <table class="nhsuk-table nhsuk-u-margin-bottom-5">
              <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
                  <!-- <th role="columnheader" class="" scope="col">
                    Type
                  </th> -->
                  <th role="columnheader" class="" scope="col">
                    File
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Action
                  </th>
                </tr>
              </thead>
              <tbody class="nhsuk-table__body">
                <tr role="row" class="nhsuk-table__row">
                  <!-- <td class="nhsuk-table__cell">SB Calc sheet</td> -->
                  <td class="nhsuk-table__cell "><a href="/files/letting-agent-letter.png" target="_blank"
                      rel="noopener">SB Calc Sheet for re-assessments v1 - 2025 rates draft.xlsx</a></td>
                  <td class="nhsuk-table__cell "><a href="evidence-list">Remove</a></td>
                </tr>
              </tbody>
            </table>

            <input id="fileInput" type="file" style="display:none;" />
            <input type="button" value="Add file" onclick="document.getElementById('fileInput').click();"
              class="nhsuk-button nhsuk-button--secondary" />

          </div>
        </div>



        <form action="/change-of-circumstances/V2/process-application/change-confirmation-comment" method="POST">

          <div class="nhsuk-form-group" style="margin-top: 20px;">
            <button class="nhsuk-button" type="submit">Continue</button>

            <p><a id="canceltoStudent" href="student-details-locked">Cancel</a></p>
          </div>

        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}