<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-processor.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Student dashboard {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb"
  style="background-color: white; padding:12px 0; margin-bottom: 40px;">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a id="studentDetailsLink" class="nhsuk-breadcrumb__link"
          href="student-details-unlocked">Student details</a></li>

      <li class="nhsuk-breadcrumb__item"><a id="studentDetailsLink" class="nhsuk-breadcrumb__link"
          href="course-details">Course details</a></li>

    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="#">Back to Course details</a></p>
  </div>
</nav>

{% endblock %}
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}


<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div>
        <h1 class="nhsuk-heading-xl">
          <span class="nhsuk-caption-l" id="studentRef">
            <span>BRN0000259-2 - Mike Lee (August 2024)</span>
            <span class="nhsuk-u-visually-hidden"> - </span>
          </span>
          Full year calculations
        </h1>
      </div>
    </div>

    <div class="nhsuk-grid-column-one-third">
      <div class="nhsuk-form-group">
        <a href="#" class="nhsuk-button nhsuk-button--secondary" role="button" id="next" style="float: right;">Unlock
          record</a>
      </div>
    </div>
  </div>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <table role="table" class="nhsuk-table-responsive">
        <caption class="nhsuk-table__caption"></caption>
        <thead role="rowgroup" class="nhsuk-table__head"> </thead>
        <tbody>
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Calculation date
            </th>
            <th role="columnheader" class="" scope="col">
              Non means tested grant
            </th>
            <th role="columnheader" class="" scope="col">
              Means tested bursary
            </th>
            <th role="columnheader" class="" scope="col">
              Number of extra weeks
            </th>
            <th role="columnheader" class="" scope="col">
              Extra Weeks Allowance
            </th>
            <th role="columnheader" class="" scope="col">
              Parent Learning Allowance
            </th>
            <th role="columnheader" class="" scope="col">
              Dependants Allowance
            </th>
            <th role="columnheader" class="" scope="col">
              Childcare Allowance
            </th>
            <th role="columnheader" class="" scope="col">Total</th>
          </tr>
        </tbody>

        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Calculation date </span>
              <span>22 January 2025</span>
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Non means tested grant</span>
              <span>£1000</span>
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Means tested bursary </span>
              <span>£2618</span>
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Number of extra weeks</span>
              <span>17</span>
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Extra Weeks Allowance </span>
              <span>£1428 </span>
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Parent Learning Allowance </span>
              <span>£0</span>
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Dependants Allowance </span>
              <span>£0</span>
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Childcare Allowance </span>
              <span>£0</span>
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Total </span>
              <span>£5046</span>
            </td>
          </tr>

          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Calculation date </span>
              <span>23 July 2024</span>
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Non means tested grant</span>
              <span>£1000</span>
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Means tested bursary </span>
              <span>£2182</span>
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Number of extra weeks</span>
              <span>17</span>
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Extra Weeks Allowance </span>
              <span>£952</span>
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Parent Learning Allowance </span>
              <span>£0</span>
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Dependants Allowance </span>
              <span>£0</span>
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Childcare Allowance </span>
              <span>£0</span>
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Total </span>
              <span>£4134</span>
            </td>
          </tr>

          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Calculation date </span>
              <span>5 June 2024</span>
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Non means tested grant</span>
              <span>£1000</span>
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Means tested bursary </span>
              <span>£2182</span>
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Number of extra weeks</span>
              <span>17</span>
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Extra Weeks Allowance </span>
              <span>£952</span>
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Parent Learning Allowance </span>
              <span>£0</span>
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Dependants Allowance </span>
              <span>£0</span>
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Childcare Allowance </span>
              <span>£0</span>
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Total </span>
              <span>£4134</span>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

    <a href="course-details" class="nhsuk-button" id="paymentButton" role="button" style="margin-top: 40px;">Return to
      course details </a>

  </div>

</div>
{% endblock %}