{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->
{% block header %} {{ header({ "service": { "name": "Bursary", "href": "/" },
"showNav": "false", "showSearch": "false" }) }} {% endblock %}
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Check your answers {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}

{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<!-- <div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="lettings-profit-question">
    <svg
      class="nhsuk-icon nhsuk-icon__chevron-left"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      aria-hidden="true"
    >
      <path
        d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"
      ></path>
    </svg>
    Go back</a
  >
</div> -->

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-app-heading">
      <span class="nhsuk-caption-l">Disabled students’ allowance</span>Check
      your answers
    </h1>

    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Previous assessment</dt>
        <dd class="nhsuk-summary-list__value">Yes</dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="previously-assessed" id="previousAssessmentChange">
            Change<span class="nhsuk-u-visually-hidden">
              Previous assessment</span
            >
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Date of assessment</dt>
        <dd class="nhsuk-summary-list__value">
          <p>25/3/2019</p>
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="assessed-yes" id="dateAssessmentChange">
            Change<span class="nhsuk-u-visually-hidden">
              Date of assessment</span
            >
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Disabilities</dt>
        <dd class="nhsuk-summary-list__value">
          <p>	Physical or mental health condition</p>
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="disability-assessed" id="disabilityChange">
            Change<span class="nhsuk-u-visually-hidden">
              Disabilities/span
            >
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Disability equipment</dt>
        <dd class="nhsuk-summary-list__value">
          <p>Laptop, printer, voice recorder.</p>
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="equipment-list-applied" id="equipmentChange">
            Change<span class="nhsuk-u-visually-hidden">
              Disability equipment</span
            >
          </a>
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Have your circumstances changed?
        </dt>
        <dd class="nhsuk-summary-list__value">
          <p>Yes</p>
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="circumstances-changed" id="circumstancesChange">
            Change<span class="nhsuk-u-visually-hidden">
              Have your circumstances changed?</span
            >
          </a>
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Change of circumstances</dt>
        <dd class="nhsuk-summary-list__value">
          <p>
            I need a new laptop.<br />
            I have been diagnosed with dyslexia.
          </p>
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="change-details" id="circumstancesChangesChange">
            Change<span class="nhsuk-u-visually-hidden">
              Change of circumstances</span
            >
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="nhsuk-heading-l" id="submitApplicationHeading">Submit your application</h2>
    <p>
      By clicking accept and continue you’re confirming that the details you’re
      providing are correct.
    </p>
    <p>You’ll need to upload your evidence on the next page.</p>

    <div class="nhsuk-form-group">
      <a
        id="register"
        role="button"
        class="nhsuk-button"
        href="evidence-assessed"
        >Accept and continue</a
      >
    </div>
    <a href="dashboard" id="saveDashboard">Cancel and return to dashboard</a>
  </div>
</div>

{% endblock %}
