<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Student dashboard {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block header %} {{ header({ "service": { "name": "Bursary", "href": "/" },
"showNav": "true", "showSearch": "false", "primaryLinks": [ { "url" :
"/dashboard/dashboard-enrolment", "label" : "Home" }, { "url" :
"personal-details", "label" : "Personal details" }, { "url" : "#", "label" :
"Payment details" }, { "url" : "#", "label" : "Sign out" } ] }) }} {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<!-- Breadcrumb -->

{% endblock %}
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

{{ backLink({
"href": "javascript:history.go(-1)",
"text": "Go back"
}) }}

<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="app-page-heading">Delete your September 2023 application</h1>

      <p>If you continue we will delete your September 2023 application and all information relating to it, including:
      </p>

      <ul>
        <li>All information you have provided</li>
        <li>Any documents you have uploaded as evidence</li>
        <li>All information that may have been provided by your parents or partner</li>
        <li>Any documents your parents or partner have uploaded as evidence</li>
      </ul>

      <p>Once your application has been deleted you will be able to re-apply for September 2023.</p>

      <h2 class="nhsuk-heading-l">Delete your application</h2>

      <p>By clicking Accept and delete you're confirming that you want to delete this application and all the data
        associated with it.</p>

      <a href="dashboard" class="nhsuk-button" role="button" id="delete" style="background-color: #d4351c;">Accept and
        delete</a>

      <p><a href="tasklist">Cancel and return to application</a></p>

    </div>
  </div>
</div>

{% endblock %}