<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-processor.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Change of circumstances summary {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->


<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb"
  style="background-color: white; padding:12px 0; margin-bottom: 40px;">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a id="searchLink" class="nhsuk-breadcrumb__link" href="#">Student search</a>
      </li>
      <li class="nhsuk-breadcrumb__item"><a id="studentDetailsLink" class="nhsuk-breadcrumb__link"
          href="/change-of-circumstances/V4/processor/student-details-locked">Student details</a></li>

    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="#">Back to Course details</a></p>
  </div>
</nav>

{% endblock %}
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent" role="main">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <span class="nhsuk-caption-l">BRN0000259-3 - Ali Smith (September 2024)</span>
        <h1 class="nhsuk-heading-l">
          Change of circumstances summary
        </h1>

        <div class="nhsuk-card">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-heading-m">Change details</h2>
            <div>

              <dl class="nhsuk-summary-list" style="margin-bottom: 0;">
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Type of change
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Parents' or partner's income or expenses
                  </dd>
                </div>

                <!-- <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Reason for change
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    {% if data['CoCScenario'] == "noChanges" %}
                    There has been some other change to my income or expenses, but the Change of circumstances form did not
                    ask me for it.
                    {% else %}
                    My income has changed as my sponsorship has ended and I got a new job. My expenses have changed as I have
                    moved to a new flat.
                    {% endif %}
                  </dd>
                </div> -->

                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Date of change
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    5 February 2025
                  </dd>
                </div>
              </dl>

            </div>
          </div>
        </div>


        <p>The student has reviewed their existing application, and made some changes. You can assess these changes
          below.</p>


        <table class="nhsuk-table">
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" scope="col">Application step</th>
              <th class="nhsuk-table__header" scope="col">Status</th>
            </tr>
          </thead>

          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <a id="assessEnrolment" href="#">Course details</a>
              </td>
              <td class="nhsuk-table__cell">
                <!-- <strong class="nhsuk-tag nhsuk-tag--aqua-green">Eligible course</strong> -->
                <strong class="nhsuk-tag nhsuk-tag--white">No change</strong>
              </td>
            </tr>

            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <a id="assessEligibility" href="#">Eligibility</a>
              </td>
              <td class="nhsuk-table__cell">
                <!-- <strong class="nhsuk-tag nhsuk-tag--aqua-green">Eligible</strong> -->
                <strong class="nhsuk-tag nhsuk-tag--white">No change</strong>
              </td>
            </tr>

            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <a id="assessStatus" href="status-assessment/summary">Status assessment</a>
              </td>
              <td class="nhsuk-table__cell">
                <!-- <strong class="nhsuk-tag nhsuk-tag--red">Dependent on parents</strong> -->
                <strong class="nhsuk-tag nhsuk-tag--white">No change</strong>
              </td>
            </tr>

            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <a id="studentIncomeExpenseLink" href="#">Student income/expenses details</a>
              </td>
              <td class="nhsuk-table__cell">
                <!-- <strong class="nhsuk-tag nhsuk-tag--aqua-green">Assessed</strong> -->
                <strong class="nhsuk-tag nhsuk-tag--white">No change</strong>
              </td>
            </tr>

            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <a id="person1IncomeExpensesLink" href="parent-details/summary">Parent or partner details</a>
              </td>
              <td class="nhsuk-table__cell">
                <strong class="nhsuk-tag nhsuk-tag--yellow">Changed</strong>
              </td>
            </tr>

            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <a id="person1ChildrenLink" href="#">Person 1 children details</a>
              </td>
              <td class="nhsuk-table__cell">
                <!-- <strong class="nhsuk-tag nhsuk-tag--aqua-green">Assessed</strong> -->
                <strong class="nhsuk-tag nhsuk-tag--white">No change</strong>
              </td>
            </tr>

            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <a id="person1IncomeExpensesLink" href="parent-income-expenses/summary">Person 1 income/expenses
                  details</a>
              </td>
              <td class="nhsuk-table__cell">
                <!-- <strong class="nhsuk-tag nhsuk-tag--aqua-green">Assessed</strong> -->
                <strong class="nhsuk-tag nhsuk-tag--yellow">Changed</strong>
              </td>
            </tr>

          </tbody>
        </table>








        <form action="/change-of-circumstances/V4/processor/change-summary-route" method="POST">

          <div class="nhsuk-form-group">

            <h2 class="nhsuk-heading-m" style="margin-top: 80px;">How would you like to continue?</h2>

            <div class="nhsuk-radios nhsuk-radios--conditional">

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="complete" name="CoCProcessorChoice" type="radio" value="complete"
                  aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                  Complete change and update student's details
                </label>
                <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
                  The student's bursary details and payments will be updated. We'll also send them an email
                </div>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="pend" name="CoCProcessorChoice" type="radio" value="pend"
                  aria-controls="conditional-contact-3" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-3">
                  <!-- Return change to student -->
                  Pend change and return to student
                </label>
                <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
                  The student can change their answers and add more evidence
                </div>
              </div>

              <!-- <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="decline" name="CoCProcessorChoice" type="radio" value="decline"
                  aria-controls="conditional-contact-2" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-2">
                  Cancel change
                </label>
                <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
                  You can enter a reason why you're cancelling this change
                </div>
              </div> -->

            </div>

          </div>

          <button class="nhsuk-button" type="submit" style="margin-top: 20px;">Continue</button>

          <p><a id="canceltoStudent" href="student-details-locked">Go back to Student details</a></p>
        </form>

      </div>

    </div>

  </main>
</div>
{% endblock %}