<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Student dashboard {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block header %} {{ header({ "service": { "name": "Bursary", "href": "/" },
"showNav": "true", "showSearch": "false", "primaryLinks": [ { "url" :
"dashboard", "label" : "Dashboard" }, { "url" : "personal-details", "label" :
"Personal details" }, { "url" : "application-history", "label" : "Previous
applications" } ,{ "url" : "#", "label" : "Sign out" } ] }) }} {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<!-- Breadcrumb -->

{% endblock %}
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="app-page-heading">Your bursary application</h1>

      <div class="nhsuk-u-padding-bottom-4">
        <h2 class="nhsuk-heading-m">Application incomplete</h2>
        <p>You have completed 7 of 8 sections.</p>
      </div>

      <ol class="app-task-list">
        <li>
          <span
            class="
              featured-list--item__number featured-list--item__number--mobile
              nhsuk-heading-l
            "
            >1</span
          >
          <h3 class="featured-list--item__heading nhsuk-heading-m">
            <span
              class="
                featured-list--item__number
                nhsuk-heading-l nhsuk-u-margin-bottom-1
              "
              >1</span
            >
            Apply for a non-means tested bursary
          </h3>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name"> Course details </span>
              <strong
                class="nhsuk-tag nhsuk-tag--green app-task-list__tag"
                id="createAcademicYear"
                >Complete</strong
              >
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Eligibility assessment
              </span>
              <strong
                class="nhsuk-tag nhsuk-tag--green app-task-list__tag"
                id="eligibilityAssessment"
                >Complete</strong
              >
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name"> Status assessment </span>
              <strong
                class="nhsuk-tag nhsuk-tag--green app-task-list__tag"
                id="statusAssessment"
                >Complete</strong
              >
            </li>
          </ul>
        </li>

        <li>
          <span
            class="
              featured-list--item__number featured-list--item__number--mobile
              nhsuk-heading-l
            "
            >2</span
          >
          <h3 class="featured-list--item__heading nhsuk-heading-m">
            <span
              class="
                featured-list--item__number
                nhsuk-heading-l nhsuk-u-margin-bottom-1
              "
              >2</span
            >
            Apply for a means-tested bursary
          </h3>

          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name"> Dependent details </span>
              <strong
                class="nhsuk-tag nhsuk-tag--green app-task-list__tag"
                id="dependentDetails"
                >Complete</strong
              >
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Income and expenses assessment
              </span>
              <strong
                class="nhsuk-tag nhsuk-tag--green app-task-list__tag"
                id="incomeAssessment"
                >Complete</strong
              >
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Parent or partner details
              </span>
              <strong
                class="nhsuk-tag nhsuk-tag--green app-task-list__tag"
                id="parentDetails"
                >Complete</strong
              >
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name"
                ><a href="parent-income" aria-describedby="createAcademicYear">
                  Parent or partner income and expenses assessment
                </a>
              </span>
              <strong
                class="nhsuk-tag nhsuk-tag--red app-task-list__tag"
                id="parentIncomeAssessment"
                >Declined</strong
              >
            </li>
          </ul>
        </li>

        <li>
          <span
            class="
              featured-list--item__number featured-list--item__number--mobile
              nhsuk-heading-l
            "
            >3</span
          >
          <h3 class="featured-list--item__heading nhsuk-heading-m">
            <span
              class="
                featured-list--item__number
                nhsuk-heading-l nhsuk-u-margin-bottom-1
              "
              >3</span
            >
            Complete your application
          </h3>
        </li>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="">Declaration </a></span
            >
            <strong
              class="nhsuk-tag nhsuk-tag--green app-task-list__tag"
              id="declaration"
              >Complete</strong
            >
          </li>
        </ul>
      </ol>
      <h2>What happens next</h2>

      <p>
        You provided details of your partner or parent as part of your NHS
        Bursary application and we sent them a secure form. This asked them to
        provide their financial information so that we could calculate your
        entitlement to the income assessed elements of NHS Bursary.
      </p>

      <p>
        One of these forms has been returned and our request declined. We must
        have financial information returned from all parties in order to
        calculate entitlement to the income assessed elements of NHS Bursary.
      </p>

      <div class="nhsuk-form-group">
        <a
          id="resendRestartApplication"
          role="button"
          class="nhsuk-button nhsuk-button--secondary"
          href="restart-application"
          >Resend request to restart their application</a
        >
      </div>

      <div class="nhsuk-form-group">
        <a
          id="nonMeansTested"
          role="button"
          class="nhsuk-button"
          href="non-means-tested"
          >Submit as a non-means tested applicant</a
        >
      </div>

      {% endblock %}
    </div>
  </div>
</div>
