<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}What address will you
live at while studying? {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<form
  id="registrationForm"
  name="registrationForm"
  action="/register/v2/account"
  method="post"
  autocomplete="on"
>
  <input
    type="hidden"
    name="_csrf"
    value="7f540de9-8add-4331-b4d9-37e6c1eaf7b4"
  />

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="/register/v2/dob" id="back">
          <svg
            class="nhsuk-icon nhsuk-icon__chevron-left"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            aria-hidden="true"
          >
            <path
              d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"
            ></path>
          </svg>
          Go back
        </a>
      </div>

      <fieldset class="nhsuk-fieldset">
  			<legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
  				<h1 class="nhsuk-heading-l">
  					What is your address?
  				</h1>
  			</legend>

  			<p>This is the address you'll live at while you're at university. For example, halls of residence or student housing.</p>

  			<p>You must tell us if your address changes.</p>

  			<div class="nhsuk-form-group">
  				<label class="nhsuk-label" id="nameOrNumber-label" for="nameOrNumber">Building name or number<span class="nhsuk-u-visually-hidden"> line 1 of 2</span></label>



  				<input class="nhsuk-input" name="nameOrNumber" id="nameOrNumber" type="text" maxlength="30" value="" />
  			</div>

  			<div class="nhsuk-form-group">
  				<label id="address1-label" for="address1" class="nhsuk-label nhsuk-u-visually-hidden">
  					<span class="nhsuk-u-visually-hidden">Building and street line 2 of 2</span>
  				</label>



  				<input name="address1" id="address1" class="nhsuk-input" type="text" maxlength="30" value="" />
  			</div>

  			<div class="nhsuk-form-group">
  				<label id="address2-label" for="address2" class="nhsuk-label">Street</label>



  				<input name="address2" id="address2" class="nhsuk-input" type="text" maxlength="30" value="" />
  			</div>

  			<div class="nhsuk-form-group">
  				<label id="town-label" for="town" class="nhsuk-label">Town or city</label>


  				<input name="town" id="town" class="nhsuk-input nhsuk-u-width-two-thirds" type="text" maxlength="30" value="" />
  			</div>

  			<div class="nhsuk-form-group">
  				<label id="country-label" for="country" class="nhsuk-label">Country</label>



  				<input name="country" id="country" class="nhsuk-input nhsuk-u-width-two-thirds" type="text" maxlength="30" value="" />
  			</div>

  			<div class="nhsuk-form-group">
  				<label id="postcode-label" for="postcode" class="nhsuk-label">Postcode</label>



  				<input name="postcode" id="postcode" class="nhsuk-input nhsuk-input--width-10" type="text" maxlength="8" value="" />
  			</div>
  		</fieldset>
    </div>
  </div>

  <div class="nhsuk-form-group">
    <button class="nhsuk-button" type="submit" id="next" role="button">
      Continue
    </button>
  </div>
</form>

{% endblock %}
