{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Change of circumstances evidence {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %} {% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">

    <span class="nhsuk-caption-l">Change of circumstances</span>



    <h1 class="nhsuk-heading-l">
      Upload evidence of parents no longer living together
    </h1>


    <!-- {% if data['CoCReturned'] == 'true' %}
    <div class="nhsuk-warning-callout" style="margin-bottom: 24px;">
      <h3 class="nhsuk-warning-callout__label">
        <span role="text">
          <span class="nhsuk-u-visually-hidden">Important: </span>
          Processor feedback
        </span>
      </h3>
      <p>Please upload new evidence that proves your parents no longer live together.</p>
    </div>
    {% endif %} -->


    <p>This should be a:</p>

    {% if data['parentsDontLiveTogetherReason'] == 'Divorced' or data['parentsDontLiveTogetherReason'] == 'Separated' %}
    <ul>
      <li id="documentType[0]">Decree Nisi</li>
      <li id="documentType[1]">Decree Absolute</li>
      <li id="documentType[2]">Final Order</li>
      <li id="documentType[3]">marriage certificate</li>
      <li id="documentType[4]">letter from a professional person</li>
      <li id="documentType[5]">Universal Credit award showing paid as a single person</li>
      <li id="documentType[6]">Council Tax letter showing the 25% discount</li>
      <li id="documentType[7]">legal separation document</li>
    </ul>

    {% elif data['parentsDontLiveTogetherReason'] == 'Deceased' %}
    <ul>
      <li id="documentType[0]">death certificate</li>
      <li id="documentType[2]">letter from a professional person</li>
    </ul>

    {% else %}
    <ul>
      <li id="documentType[0]">Decree Nisi</li>
      <li id="documentType[1]">Decree Absolute</li>
      <li id="documentType[2]">Final Order</li>
      <li id="documentType[3]">marriage certificate</li>
      <li id="documentType[4]">letter from a professional person</li>
      <li id="documentType[5]">Universal Credit award showing paid as a single person</li>
      <li id="documentType[6]">Council Tax letter showing the 25% discount</li>
      <li id="documentType[7]">legal separation document</li>
      <li id="documentType[8]">death certificate</li>
    </ul>
    {% endif %}


    <div class="nhsuk-card mb-30">
      <div class="nhsuk-card__content p10">
        <h2 class="nhsuk-heading-m">Uploaded files</h2>

        <table class="nhsuk-table">
          <caption class="nhsuk-u-visually-hidden">Uploaded
            documents table</caption>

          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" scope="col">Type</th>
              <th role="columnheader" scope="col">Status</th>
              <th role="columnheader" scope="col">What you can do</th>
            </tr>
          </thead>

          <tbody class="nhsuk-table__body">

            {% if data['parentsEvidenceAdded'] == "yes" %}
            <tr scope="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Letter from professional</td>
              <td class="nhsuk-table__cell">
                <span>Uploaded</span>
              </td>
              <td class="nhsuk-table__cell"><a href="#" id="documentView[0]" target="_blank" rel="noopener">View</a>
                <span>
                  <a id="documentRemove[0]"
                    href="parents-evidence-list?parentsEvidenceAdded=no">Remove</a>
                </span></td>
            </tr>
            {% endif %}

          </tbody>
        </table>
      </div>
    </div>


    {% if data['parentsEvidenceAdded'] == "yes" %}
    <p>
      You can upload more evidence if you need to. Or, you can select <span
        class="nhsuk-u-font-weight-bold">Continue</span> if you have uploaded everything.
    </p>
    {% endif %}


    <div class="nhsuk-form-group">
      <a class="nhsuk-button nhsuk-button--secondary" href="parents-evidence-upload" role="button">Add file</a>
    </div>


    <!-- If evidence is added, show "Add evidence" button -->
    {% if data['parentsEvidenceAdded'] == "yes" %}
    <p>By clicking continue you're confirming that you have uploaded all evidence required for this section of your
      application.</p>
    <a href="tasklist?allSectionsComplete=true" class="nhsuk-button" role="button">Continue</a>
    {% endif %}


    <p><a href="">Save and come back later</a></p>

  </div>
</div>
{% endblock %}