{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Change of circumstances evidence {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %} {% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">

    <span class="nhsuk-caption-l">Change of circumstances</span>


    <h1 class="nhsuk-heading-xl">
      Upload your evidence
    </h1>


    {% if data['CoCReturned'] == 'true' %}
    <div class="nhsuk-warning-callout" style="margin-bottom: 24px;">
      <h3 class="nhsuk-warning-callout__label">
        <span role="text">
          <span class="nhsuk-u-visually-hidden">Important: </span>
          Processor feedback
        </span>
      </h3>
      <p>Please upload new evidence that proves you no longer live with your partner.</p>
    </div>
    {% endif %}


    {# Determine if relationship status changed to something that needs evidence. #}
    {% if data['originalRelationshipStatus'] and data['relationshipStatus'] and
    data['originalRelationshipStatus'] != data['relationshipStatus'] and
    data['relationshipStatus'] != 'None of the above' %}

    <!-- Changed to being married -->
    {% if data['relationshipStatus'] == 'Married or in a civil partnership' %}
    <p>Because of your answers, we need:</p>
    <ul>
      <li id="documentType[0]">Marriage certificate</li>
      <li id="documentType[1]">Civil partnership certificate</li>
    </ul>

    <!-- Changed to being Widowed, Divorced or Separated -->
    {% else %}
    <p>Because of your answers, we need:</p>
    <ul>
      <li id="documentType[0]">Council tax letter 25% reduction</li>
      <li id="documentType[1]">Decree Nisi</li>
    </ul>
    {% endif %}

    {% endif %}




    <div class="nhsuk-card mb-30">
      <div class="nhsuk-card__content p10">
        <h2 class="nhsuk-heading-m">Uploaded files</h2>

        <table class="nhsuk-table">
          <caption class="nhsuk-u-visually-hidden">Uploaded
            documents table</caption>

          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" scope="col">Type</th>
              <th role="columnheader" scope="col">Status</th>
              <th role="columnheader" scope="col">What you can do</th>
            </tr>
          </thead>

          <tbody class="nhsuk-table__body">

            {% if data['statusAssessmentEvidenceAdded'] == "yes" %}
            <tr scope="row" class="nhsuk-table__row">

              {% if data['relationshipStatus'] == 'Married or in a civil partnership' %}
              <td class="nhsuk-table__cell">Marriage certificate</td>
              {% else %}
              <td class="nhsuk-table__cell">Council tax letter 25% reduction</td>
              {% endif %}

              <td class="nhsuk-table__cell">
                <span>Uploaded</span>
              </td>
              <td class="nhsuk-table__cell"><a
                  href="#"
                  id="documentView[0]" target="_blank" rel="noopener">View</a> <span>
                  <a id="documentRemove[0]"
                    href="status-assessment-evidence-list?statusAssessmentEvidenceAdded=no">Remove</a>
                </span></td>
            </tr>
            {% endif %}

            <tr scope="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Letter from employer</td>
              <td class="nhsuk-table__cell">
                <span>Approved</span>
              </td>
              <td class="nhsuk-table__cell"><a href="#" id="documentView[0]" target="_blank" rel="noopener">View</a>
              </td>
            </tr>

            <tr scope="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Wage slips</td>
              <td class="nhsuk-table__cell">
                <span>Approved</span>
              </td>
              <td class="nhsuk-table__cell"><a href="#" id="documentView[0]" target="_blank" rel="noopener">View</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <!-- If user has added evidence or does not need to, tell them they can continue -->
    {% if data['statusAssessmentEvidenceAdded'] == "yes" or
    data['originalRelationshipStatus'] == data['relationshipStatus'] %}
    <p>
      You can upload more evidence if you need to. Or, you can select <span
        class="nhsuk-u-font-weight-bold">Continue</span> if you have uploaded everything.
    </p>
    {% endif %}


    <div class="nhsuk-form-group">
      <a class="nhsuk-button nhsuk-button--secondary" href="status-assessment-evidence" role="button">Add file</a>
    </div>


    <!-- If user has added evidence or does not need to, show Continue button -->
    {% if data['statusAssessmentEvidenceAdded'] == "yes" or
    data['originalRelationshipStatus'] == data['relationshipStatus'] %}
    <p>By clicking continue you're confirming that you have uploaded all evidence required for this section of your
      application.</p>
    <a href="status-assessment-done" class="nhsuk-button" role="button">Continue</a>
    {% endif %}


    <p><a href="">Save and come back later</a></p>

  </div>
</div>
{% endblock %}