<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} {{ serviceName }} prototypes | When was the period of this self support? {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<a class="nhsuk-skip-link" href="#maincontent" id="skipLink"
  >Skip to main content</a
>
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" href="intro" id="back">
        <svg
          class="nhsuk-icon nhsuk-icon__chevron-left"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          aria-hidden="true"
        >
          <path
            d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"
          ></path>
          </svg>Go back</a
      >
    </div>

    <h1 class="nhsuk-app-heading" id="employmentDates">
      <span class="nhsuk-caption-l">Status assessment</span>
      When was the period of this self support?
    </h1>


    <span class="nhsuk-label" for="fromHint">From date</span>
    <div class="nhsuk-hint" id="fromHint">For example, 14 5 2019</div>
    <div class="nhsuk-date-input" id="date">
      <div class="nhsuk-date-input__item">
        <div class="nhsuk-form-group">
          <label class="nhsuk-label nhsuk-date-input__label" for="dayInput"
            >Day</label
          >
          <input
            class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
            id="dayInput"
            name="day"
            type="text"
            pattern="[0-9]*"
            inputmode="numeric"
          />
        </div>
      </div>
      <div class="nhsuk-date-input__item">
        <div class="nhsuk-form-group">
          <label class="nhsuk-label nhsuk-date-input__label" for="monthInput"
            >Month</label
          >
          <input
            class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
            id="monthInput"
            name="month"
            type="text"
            pattern="[0-9]*"
            inputmode="numeric"
          />
        </div>
      </div>
      <div class="nhsuk-date-input__item">
        <div class="nhsuk-form-group">
          <label class="nhsuk-label nhsuk-date-input__label" for="yearInput"
            >Year</label
          >
          <input
            class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4"
            id="yearInput"
            name="year"
            type="text"
            pattern="[0-9]*"
            inputmode="numeric"
          />
        </div>
      </div>

      <span class="nhsuk-label" for="toHint">To date</span>
      <div class="nhsuk-hint" id="toHint">For example, 20 3 2020</div>
      <div class="nhsuk-date-input" id="date">
        <div class="nhsuk-date-input__item">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-date-input__label" for="dayInputTo"
              >Day</label
            >
            <input
              class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
              id="dayInputTo"
              name="day"
              type="text"
              pattern="[0-9]*"
              inputmode="numeric"
            />
          </div>
        </div>
        <div class="nhsuk-date-input__item">
          <div class="nhsuk-form-group">
            <label
              class="nhsuk-label nhsuk-date-input__label"
              for="monthInputTo"
              >Month</label
            >
            <input
              class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
              id="monthInputTo"
              name="month"
              type="text"
              pattern="[0-9]*"
              inputmode="numeric"
            />
          </div>
        </div>
        <div class="nhsuk-date-input__item">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-date-input__label" for="yearInputTo"
              >Year</label
            >
            <input
              class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4"
              id="yearInputTo"
              name="year"
              type="text"
              pattern="[0-9]*"
              inputmode="numeric"
            />
          </div>
        </div>
      </div>

      <div class="nhsuk-form-group">
        <a
          href="type"
          class="nhsuk-button"
          role="button"
          id="continueBtn"
          >Continue</a
        >
      </div>
    </div>
  </div>
</div>

{% endblock %}
