{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Change of circumstances evidence {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %} {% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">

    <h1 class="nhsuk-heading-l">Change of circumstances evidence</h1>

    <p>You can upload any evidence that supports your change of circumstances.</p>

    <p>Once you're done, select Continue.</p>

    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-heading-m">Uploaded files</h2>

        <table class="nhsuk-table">
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Type
              </th>
              <th role="columnheader" class="" scope="col">
                File
              </th>
              <th role="columnheader" class="" scope="col">
                Action
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Bank statements</td>
              <td class="nhsuk-table__cell "><a href="/images/placeholder-image-16-9.jpg" target="_blank" rel="noopener">bank-statement.pdf</a></td>
              <td class="nhsuk-table__cell "><a href="#">Remove</a></td>
            </tr>
            
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Letter from letting agent</td>
              <td class="nhsuk-table__cell "><a href="/images/placeholder-image-16-9.jpg" target="_blank" rel="noopener">letting-agent-letter.pdf</a></td>
              <td class="nhsuk-table__cell "><a href="#">Remove</a></td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

    <div>
      <a href="evidence" class="nhsuk-button nhsuk-button--secondary" role="button">Add evidence</a>
    </div>

    <a href="provided-all-documents" class="nhsuk-button" role="button">Continue</a>

    </fieldset>

    <p><a href="">Save and come back later</a></p>

  </div>
</div>
{% endblock %}