<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Student Bursaries prototype
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="\students\branching\other">
            <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                aria-hidden="true">
                <path
                    d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
                </path>
            </svg>
            Go back</a>
    </div>

        <h1 class="app-page-heading">
            <span class="nhsuk-caption-l">NHSBSA prototype</span>Income review
        </h1>

          <dl class="nhsuk-summary-list nhsuk-u-width-full">

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Sponsorship / scholarship / cadetship (£)
              </dt>
              <dd class="nhsuk-summary-list__value">
                £6,000
              </dd>
          
            </div>
          
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Any income from your employer (before tax) (£)
              </dt>
              <dd class="nhsuk-summary-list__value">
                £0
              </dd>
          
            </div>
          
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Pension (before tax) (£)
              </dt>
              <dd class="nhsuk-summary-list__value">
                £0
              </dd>
          
            </div>
          
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Bank/building society interest (exclude details of any tax free interest, such as ISAs)
              </dt>
              <dd class="nhsuk-summary-list__value">
                £0
              </dd>
            </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                Profit from lettings or lodgings (£)
                </dt>
                <dd class="nhsuk-summary-list__value">
                  £10,000
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                 Taxable benefits (£)
                </dt>
                <dd class="nhsuk-summary-list__value">
                  £0
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                Maintenance received (before tax) (£)
                </dt>
                <dd class="nhsuk-summary-list__value">
                  £0
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Trust fund income (before tax) (£)
                </dt>
                <dd class="nhsuk-summary-list__value">
                  £0
                </dd>
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                    Other unearned income (£)
                </dt>
                <dd class="nhsuk-summary-list__value">
                  £750
                </dd>
            </div>
          
          </dl>
                <div class="nhsuk-form-group">
                    <a href=# class="nhsuk-button" role="button">Submit</a>
                </div>

                    <div class="form-group">
                        <p><a href="/index" id="cancel">Cancel</a></p>
                    </div>

                </div>
        </div>
    </div>
    {% endblock %}