<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Student dashboard {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block header %} {{ header({ "service": { "name": "Bursary", "href": "/" },
"showNav": "true", "showSearch": "false", "primaryLinks": [ { "url" :
"/dashboard/dashboard-enrolment", "label" : "Home" }, { "url" :
"personal-details", "label" : "Personal details" }, { "url" : "#", "label" :
"Payment details" }, { "url" : "#", "label" : "Sign out" } ] }) }} {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<!-- Breadcrumb -->

{% endblock %}
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="app-page-heading">Your September 2023 bursary application</h1>

      <div class="nhsuk-u-padding-bottom-4">
        <h2 class="nhsuk-heading-m">Your NHS Bursary application</h2>
        <p>You are applying for a means tested bursary studying Bachelor of Medicine and Surgery (course year 5) at
          Lancaster University.</p>
      </div>

      <button class="nhsuk-button" type="submit" role="button">
        Submit application
      </button>

      <ol class="app-task-list">

        <li>
          <span class="
              featured-list--item__number featured-list--item__number--mobile
              nhsuk-heading-l
            ">1</span>
          <h3 class="featured-list--item__heading nhsuk-heading-m">
            <span class="
                featured-list--item__number
                nhsuk-heading-l nhsuk-u-margin-bottom-1
              ">1</span>
            Course details
          </h3>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="course-details-view-answers">
                  Course details
                </a>
              </span>
              <strong class="nhsuk-tag nhsuk-tag--green app-task-list__tag">Complete</strong>
            </li>
          </ul>
        </li>

        <li>
          <span class="
              featured-list--item__number featured-list--item__number--mobile
              nhsuk-heading-l
            ">2</span>
          <h3 class="featured-list--item__heading nhsuk-heading-m">
            <span class="
                featured-list--item__number
                nhsuk-heading-l nhsuk-u-margin-bottom-1
              ">2</span>
            Check your eligibility
          </h3>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="view-declaration">
                  View declaration
                </a>
              </span>
              <strong class="nhsuk-tag nhsuk-tag--green app-task-list__tag">Complete</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="eligibility-view-answers">Eligibility</a></span>
              <strong class="nhsuk-tag nhsuk-tag--green app-task-list__tag">Complete</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="status-assessment-view-answers">Status assessment</a></span>
              <strong class="nhsuk-tag nhsuk-tag--green app-task-list__tag">Complete</strong>
            </li>
          </ul>
        </li>

        <li>
          <span class="
              featured-list--item__number featured-list--item__number--mobile
              nhsuk-heading-l
            ">3</span>
          <h3 class="featured-list--item__heading nhsuk-heading-m">
            <span class="
                featured-list--item__number
                nhsuk-heading-l nhsuk-u-margin-bottom-1
              ">3</span>
            Your income assessment
          </h3>

          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="student-income-details-view-answers">Student income details</a></span>
              <strong class="nhsuk-tag nhsuk-tag--green app-task-list__tag">Complete</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="student-expense-details-view-answers">Student expense details</a></span>
              <strong class="nhsuk-tag nhsuk-tag--green app-task-list__tag">Complete</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="parent-details-view-answers">Parent or partner details</a></span>
              <strong class="nhsuk-tag nhsuk-tag--green app-task-list__tag">Complete</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="students-children-details-view-answers">Student's children details</a></span>
              <strong class="nhsuk-tag nhsuk-tag--green app-task-list__tag">Complete</strong>
            </li>
          </ul>
        </li>

        <li>
          <span class="
              featured-list--item__number featured-list--item__number--mobile
              nhsuk-heading-l
            ">4</span>
          <h3 class="featured-list--item__heading nhsuk-heading-m">
            <span class="
                featured-list--item__number
                nhsuk-heading-l nhsuk-u-margin-bottom-1
              ">4</span>
            George Hutchinson details
          </h3>
        </li>

        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name"> Consent </span>
            <strong class="nhsuk-tag nhsuk-tag--green app-task-list__tag">Complete</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              Other dependent children details
            </span>
            <strong class="nhsuk-tag nhsuk-tag--green app-task-list__tag">Complete</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              Income details
            </span>
            <strong class="nhsuk-tag nhsuk-tag--green app-task-list__tag">Complete</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              Expense details
              </a>
            </span>
            <strong class="nhsuk-tag nhsuk-tag--green app-task-list__tag">Complete</strong>
          </li>
        </ul>

        <li>
          <span class="
              featured-list--item__number featured-list--item__number--mobile
              nhsuk-heading-l
            ">5</span>
          <h3 class="featured-list--item__heading nhsuk-heading-m">
            <span class="
                featured-list--item__number
                nhsuk-heading-l nhsuk-u-margin-bottom-1
              ">5</span>
            Joe Hutchinson details
          </h3>
        </li>

        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name"> Consent </span>
            <strong class="nhsuk-tag nhsuk-tag--green app-task-list__tag">Complete</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              Income details
            </span>
            <strong class="nhsuk-tag nhsuk-tag--green app-task-list__tag">Complete</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              Expense details
              </a>
            </span>
            <strong class="nhsuk-tag nhsuk-tag--green app-task-list__tag">Complete</strong>
          </li>
        </ul>

      </ol>

      <h2 class="nhsuk-heading-m">Delete application</h2>
      <p>If you have made a mistake on your September 2023 bursary application, you can delete it and start again.</p>

      <a href="delete-application" class="nhsuk-button nhsuk-button--secondary" role="button" id="continue">Delete
        application</a>

    </div>
  </div>
</div>

{% endblock %}