{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Change of circumstances evidence {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %} {% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">

    <h1 class="nhsuk-heading-l">Change of circumstances evidence</h1>

    <p>
      You can upload any evidence that supports your change of circumstances.
    </p>
    <p>If you do not need to give evidence, you can skip this step by selecting Continue.</p>

    <div>
      <a href="evidence" class="nhsuk-button nhsuk-button--secondary" role="button">Add evidence</a>
    </div>

    <a href="#" class="nhsuk-button" role="button">Continue</a>

    </fieldset>

    <p><a href="">Save and come back later</a></p>

  </div>
</div>
{% endblock %}