<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Check your answers {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<!-- Breadcrumb -->

{% endblock %}
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-app-heading">
        <span class="nhsuk-caption-l">Change of circumstances</span>
        Check your answers
      </h1>

      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Type of change</dt>
          <dd class="nhsuk-summary-list__value">Change of address</dd>

          <dd class="nhsuk-summary-list__actions">
            <a href="">
              Change<span class="nhsuk-u-visually-hidden">
                Change of circumstances</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Date of change
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>15 October 2024</p>
          </dd>

          <dd class="nhsuk-summary-list__actions">
            <a href="">
              Change<span class="nhsuk-u-visually-hidden">Date of change</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            New address
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>34<br>
              The Tower<br>
              Streetson Crescent<br>
              Bigtown<br>
              England<br>
              SR2 7NB</p>
          </dd>

          <dd class="nhsuk-summary-list__actions">
            <a href="change-address">
              Change<span class="nhsuk-u-visually-hidden">Address</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Living with parents?
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>No</p>
          </dd>

          <dd class="nhsuk-summary-list__actions">
            <a href="living-with-parents">
              Change<span class="nhsuk-u-visually-hidden">Living with parents</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Reason for change
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>I moved out of my parents house into my studio flat.</p>
          </dd>

          <dd class="nhsuk-summary-list__actions">
            <a href="">
              Change<span class="nhsuk-u-visually-hidden">Explanation of change of circumstances</span>
            </a>
          </dd>
        </div>

      </dl>

      <h2 class="nhsuk-heading-m" id="completeH2">
        Complete change of circumstances
      </h2>
      <p>
        By clicking accept you're confirming that the details you're providing are correct.
      </p>

      <div class="nhsuk-form-group">
        <a href="evidence-list" class="nhsuk-button" role="button" id="next">Accept and continue</a>

        <p><a id="canceltoTasklist" href="tasklist-approved">Cancel</a></p>
      </div>
    </div>
  </div>
</div>

{% endblock %}