<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-processor.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Student dashboard {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->


<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent" role="main" style="padding: 0;">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <div>
          <h1 class="nhsuk-app-heading" style="margin-bottom: 20px;">
            <span class="nhsuk-caption-l" id="studentRef">BRN0000259 - Mike Lee</span>
            <!-- Change of circumstances summary -->
          </h1>
        </div>

        <div class="nhsuk-card" style="background: #005EB8; margin-top: 0;">
          <div class="nhsuk-card__content">
            <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
              Change of circumstances completed
            </h1>
          </div>
        </div>


        <p>You've made the following changes for this student:</p>
        <ul>
          <li>address updated</li>
          <li>note created</li>
        </ul>

        <h2 class="nhsuk-heading-m" style="margin-top: 40px;">Changes made to student's record</h2>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Note created
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>You've added this note to the student's record.</p>

            <div class="nhsuk-card">
              <div class="nhsuk-card__content">

                <p><strong>Change of circumstances - 26 November 2024 at 11:37am</strong><br>
                  Linked activity 252 - Change of address</p>

                <p>Change of circumstances completed. Address updated.
                </p>

                <p>Processor comment: I have added this optional comment, to provide some additional info about this
                  change which could be useful.</p>

                <p>Change type: Change of address<br>
                  Previous address: 13 Pleasant House, Laney Street, Smalltown, Scotland, NE33 3AB<br>
                  New address: 34 The Tower, Streetson Crescent, Bigtown, England, SR2 7NB<br>
                  Living with parents: No<br>
                  Comment: Change of university house.<br>
                  Date of change: 15 October 2024</p>

                <div class="nhsuk-hint" id="contact-hint">
                  Last modified by <strong>John Smith</strong>
                </div>

              </div>
            </div>
          </div>
        </details>


        <div class="nhsuk-form-group">

          <a class="nhsuk-button nhsuk-u-margin-right-5" id="complete" href="student-details-locked-complete"
            role="button" data-module="nhsuk-button" style="margin-top: 20px;">Return to Student details</a>

        </div>

      </div>
    </div>

  </main>
</div>
{% endblock %}