<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-processor.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Student dashboard {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb"
  style="background-color: white; padding:12px 0; margin-bottom: 40px;">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a id="searchLink" class="nhsuk-breadcrumb__link" href="#">Student search</a>
      </li>
      <li class="nhsuk-breadcrumb__item"><a id="studentDetailsLink" class="nhsuk-breadcrumb__link"
          href="student-details-locked">Student details</a></li>
      <li class="nhsuk-breadcrumb__item"><a id="studentDetailsLink" class="nhsuk-breadcrumb__link"
          href="payment-details-locked-payments-callout">Payment details</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="#">Back to Course details</a></p>
  </div>
</nav>

{% endblock %}
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}


<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="javascript:history.go(-1)" id="back">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
            aria-hidden="true">
            <path
              d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
            </path>
          </svg>
          Go back
        </a>
      </div>

      <div>
        <h1 class="nhsuk-heading-l">
          <span class="nhsuk-caption-l" id="studentRef">
            <span>BRN0000259-2 - Mike Lee (August 2024)</span>
            <span class="nhsuk-u-visually-hidden"> - </span>
          </span>
          What is the reason for these changes?
        </h1>
      </div>
    </div>
  </div>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <form action="payment-details-locked-payments-updated" method="POST">

        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">

            <div class="nhsuk-radios nhsuk-radios--conditional">

              <h2 class="nhsuk-app-heading nhsuk-heading-m" style="margin: 8px 0 16px 0;">
                Change of circumstances
              </h2>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="contact-1" name="contact" type="radio" value="email"
                  aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                  Change of address
                </label>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="contact-1" name="contact" type="radio" value="email"
                  aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                  Change to dependent children's details
                </label>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="contact-1" name="contact" type="radio" value="email"
                  aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                  Change to income, or parents' or partner's income
                </label>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="contact-1" name="contact" type="radio" value="email"
                  aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                  Change to relationship status
                </label>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="contact-1" name="contact" type="radio" value="email"
                  aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                  Other change of circumstances
                </label>
              </div>

              <h2 class="nhsuk-app-heading nhsuk-heading-m" style="margin: 32px 0 16px 0;">
                Student attendance changes
              </h2>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="contact-1" name="contact" type="radio" value="email"
                  aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                  Change to course
                </label>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="contact-1" name="contact" type="radio" value="email"
                  aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                  Change to term dates
                </label>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="contact-1" name="contact" type="radio" value="email"
                  aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                  Change to university
                </label>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="contact-2" name="contact" type="radio" value="phone"
                  aria-controls="conditional-contact-2" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-2">
                  Correcting incorrect attendance confirmation
                </label>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="contact-2" name="contact" type="radio" value="phone"
                  aria-controls="conditional-contact-2" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-2">
                  Student partial repeat
                </label>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="contact-1" name="contact" type="radio" value="email"
                  aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                  Student resumption
                </label>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="contact-1" name="contact" type="radio" value="email"
                  aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                  Student withdrawal
                </label>
              </div>

              <h2 class="nhsuk-app-heading nhsuk-heading-m" style="margin: 32px 0 16px 0;">
                Other changes
              </h2>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="contact-2" name="contact" type="radio" value="phone"
                  aria-controls="conditional-contact-2" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-2">
                  Correcting incorrect calculations
                </label>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="contact-1" name="contact" type="radio" value="email"
                  aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                  Correcting processor errors
                </label>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="contact-1" name="contact" type="radio" value="email"
                  aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                  Policy change
                </label>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="contact-3" name="contact" type="radio" value=""
                  aria-controls="conditional-contact-3" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-3">
                  Other reason
                </label>
              </div>
              <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-3">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label" for="mobile">
                    Reason for change
                  </label>
                  <input class="nhsuk-input nhsuk-u-width-two-thirds" id="payment-change-reason-other" name="mobile" type="text">

                  <p id="charactersRemaining" class="nhsuk-hint" aria-hidden="true">50 characters remaining</p>
                  <p id="char-count-screen-reader" class="nhsuk-u-visually-hidden" aria-live="polite">You can enter up
                    to 50 characters</p>
                </div>
              </div>

            </div>
          </fieldset>

        </div>




        <!-- <div class="nhsuk-form-group">
          <fieldset class="nhsuk-fieldset">

            <div class="nhsuk-radios">
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="relationship-status" name="change-circumstance" type="radio"
                  value="Change of relationship status" />
                <label class="nhsuk-label nhsuk-radios__label" for="relationship-status">
                  Change of address (252)
                </label>
              </div>

              <div class="nhsuk-radios nhsuk-radios--conditional">

                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="contact-1" name="contact" type="radio" value="email"
                    aria-controls="conditional-contact-1" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                    Change of address (252)
                  </label>
                </div>

                <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-1">

                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="email">
                      Email address
                    </label>
                    <input class="nhsuk-input nhsuk-u-width-two-thirds" id="email" name="email" type="text">
                  </div>

                </div>

                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="address" name="change-circumstance" type="radio"
                    value="Change of address" />
                  <label class="nhsuk-label nhsuk-radios__label" for="address">
                    Policy change
                  </label>
                </div>

                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="other" name="change-circumstance" type="radio"
                    value="Other change" />
                  <label class="nhsuk-label nhsuk-radios__label" for="other">
                    Other reason
                  </label>
                </div>
              </div>
          </fieldset>
        </div> -->

        <button class="nhsuk-button" type="submit">Submit changes</button>

        <p><a id="canceltoTasklist" href="tasklist-approved">Cancel</a></p>
      </form>




    </div>
  </div>

</div>


<script>
  const textarea = document.querySelector('#payment-change-reason-other');
  const countRemaining = document.getElementById('charactersRemaining');
  const staticMsg = document.querySelector('#char-count-screen-reader');
  const maxCharacters = 50;
  let timeoutId;

  function updateCharacterCount() {
    const textEntered = textarea.value;
    const newLines = textEntered.match(/(\r\n|\n|\r)/g);
    const addition = newLines?.length || 0;
    const remainingCharacters = maxCharacters - textEntered.length + addition - (newLines?.length || 0);

    if (remainingCharacters >= 0) {
      countRemaining.textContent = `You have ${remainingCharacters} character${remainingCharacters === 1 ? '' : 's'} remaining`;
      countRemaining.classList.remove('nhsbsa-count-error-message');
      countRemaining.classList.add('nhsuk-hint');
      textarea.classList.remove('nhsuk-textarea--error');
    } else {
      countRemaining.textContent = `You have ${Math.abs(remainingCharacters)} character${Math.abs(remainingCharacters) === 1 ? '' : 's'} too many`;
      countRemaining.classList.add('nhsbsa-count-error-message');
      countRemaining.classList.remove('nhsuk-hint');
      textarea.classList.add('nhsuk-textarea--error');
    }
  }

  function updateScreenReaderMessage() {
    clearTimeout(timeoutId);
    timeoutId = setTimeout(() => {
      const textEntered = textarea.value;
      const newLines = textEntered.match(/(\r\n|\n|\r)/g);
      const addition = newLines?.length || 0;
      const remainingCharacters = maxCharacters - textEntered.length + addition - (newLines?.length || 0);
      // TO DO ADD FIX FOR 1 CHARACTER
      if (remainingCharacters < 0) {
        staticMsg.textContent = `You have ${Math.abs(remainingCharacters)} character${Math.abs(remainingCharacters) === 1 ? '' : 's'} too many`;
      } else {
        staticMsg.textContent = `You have ${remainingCharacters} character${remainingCharacters === 1 ? '' : 's'} remaining`;
      }
    }, 50);
  }

  textarea.addEventListener('input', () => {
    updateCharacterCount();
    updateScreenReaderMessage();
  });

  // Update character count if textarea has a value on page load
  window.addEventListener('load', () => {
    updateCharacterCount();
    updateScreenReaderMessage();
  });
</script>
{% endblock %}