{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

{% block header %} {{ header({ "service": { "name": "Bursary", "href": "/" },
"showNav": "false", "showSearch": "false" }) }} {% endblock %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} How many miles did you drive in total? {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="pick-address" id="back">
    <svg
      class="nhsuk-icon nhsuk-icon__chevron-left"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      aria-hidden="true"
    >
      <path
        d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"
      ></path>
    </svg>
    Go back</a
  >
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
      <h1 class="nhsuk-app-heading" id="total-mileage-title">
        <span class="nhsuk-caption-l">Journey details</span>How many miles did
        you drive in total?
      </h1>
    </legend>

    <p>Enter the total amount of miles you drove to and from your placement.</p>

    <p>
      If you travelled with a passenger, do not include the miles you drove them
      home. We will ask you how far you drove them on the next screen.
    </p>

    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="total-mileage"> Total miles </label>
      <input
        class="nhsuk-input nhsuk-input--width-10"
        id="total-mileage"
        name="total-mileage"
        type="text"
      />
    </div>

    <a href="other-placement" class="nhsuk-button">Continue</a>
  </div>
</div>

{% endblock %}
