<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Check your answers {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<!-- Breadcrumb -->

{% endblock %}
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-app-heading">
        <span class="nhsuk-caption-l">Change of circumstances</span>
        Check your answers
      </h1>

      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Type of change</dt>
          <dd class="nhsuk-summary-list__value">Change of address</dd>

          <dd class="nhsuk-summary-list__actions">
            <a href="changes">
              Change<span class="nhsuk-u-visually-hidden">
                Change of circumstances</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Date of change
          </dt>

          <dd class="nhsuk-summary-list__value">
            <p>
              {% if data['circumstance-day'] %}
              {{ data['circumstance-day'] }} <span class="cya-month">{{ data['circumstance-month'] }}</span> {{
              data['circumstance-year'] }}
              {% else %}
              5 February 2025
              {% endif %}
            </p>
          </dd>

          <dd class="nhsuk-summary-list__actions">
            <a href="date">
              Change<span class="nhsuk-u-visually-hidden">Date of change</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            New address
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              {% if data['address-1-name-or-number-1'] %}
              {{ data['address-1-name-or-number-1'] }} <br>
              {{ data['address-2-name-or-number-2'] }} <br>
              {{ data['address-3-street'] }} <br>
              {{ data['address-4-town'] }} <br>
              {{ data['address-5-country'] }} <br>
              {{ data['address-6-postcode'] }}

              {% else %}
              34<br>
              The Tower<br>
              Streetson Crescent<br>
              Bigtown<br>
              England<br>
              SR2 7NB

              {% endif %}
            </p>
          </dd>

          <dd class="nhsuk-summary-list__actions">
            <a href="change-address">
              Change<span class="nhsuk-u-visually-hidden">Address</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Living with parents?
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              {% if data['livingWithParents'] %}
              {{ data['livingWithParents'] }}
              {% else %}
              No
              {% endif %}
            </p>
          </dd>

          <dd class="nhsuk-summary-list__actions">
            <a href="living-with-parents">
              Change<span class="nhsuk-u-visually-hidden">Living with parents</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Reason for change (optional)
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              {% if data['reason'] %}
              {{ data['reason'] }}
              {% else %}
              I moved out of my parents house into my studio flat.
              {% endif %}
            </p>
          </dd>

          <dd class="nhsuk-summary-list__actions">
            <a href="explanation">
              Change<span class="nhsuk-u-visually-hidden">Explanation of change of circumstances</span>
            </a>
          </dd>
        </div>

      </dl>

      <div class="nhsuk-form-group">
        <a href="evidence-list" class="nhsuk-button" role="button" id="next">Continue</a>

        <p><a id="canceltoTasklist" href="tasklist-approved">Cancel</a></p>
      </div>
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    const months = {
      "01": "January",
      "02": "February",
      "03": "March",
      "04": "April",
      "05": "May",
      "06": "June",
      "07": "July",
      "08": "August",
      "09": "September",
      "1": "January",
      "2": "February",
      "3": "March",
      "4": "April",
      "5": "May",
      "6": "June",
      "7": "July",
      "8": "August",
      "9": "September",
      "10": "October",
      "11": "November",
      "12": "December",
    };

    $(".cya-month").text(function () {
      const month = $(this).text();
      console.log("month:", month);
      console.log("months[month]:", months[month]);
      return months[month];
    });
  });
</script>

{% endblock %}