<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Your residency details {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %} {% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-app-heading" id="yourResidency">
      <span class="nhsuk-caption-l">Your eligibility</span> Your residency details
    </h1>

    <p>
      We need to know where you lived in the 3 years before your course started
      and the reason why you lived away from the UK.
    </p>
  </div>
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-form-group">
      <table role="table" class="nhsuk-table-responsive">
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">Country</th>
            <th role="columnheader" class="" scope="col">Reason</th>
            <th role="columnheader" class="" scope="col">From date</th>
            <th role="columnheader" class="" scope="col">To date</th>
            <th role="columnheader" class="" scope="col">What you can do</th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Country </span>England
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Reason </span
              >Resident
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">From date </span
              >10/10/2018
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">To date </span
              >02/02/2021
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">What you can do </span
              ><a href="">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="nhsuk-form-group">
      <a
        href="add-residency"
        class="nhsuk-button nhsuk-button--secondary"
        role="button"
        id="add">Add another residency</a
      >
    </div>
    <div class="nhsuk-form-group">
      <a href="summary-uk" class="nhsuk-button" role="button"
        id="next">Continue</a
      >
    </div>

  </div>
</div>

{% endblock %}
