<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- page title -->
{% block pageTitle %} Which type of loan have you
applied for? {% endblock %}

<!-- breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %} {% endblock %}

<!-- back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %} {% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="studentloan-yes" id="back">
    <svg
      class="nhsuk-icon nhsuk-icon__chevron-left"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      aria-hidden="true"
    >
      <path
        d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"
      ></path>
    </svg>
    Go back</a
  >
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-heading-large">
      <span class="nhsuk-caption-l">Student loan details</span> Which type of
      loan have you applied for?
    </h1>

    <div class="nhsuk-form-group">
      <div class="nhsuk-radios">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-u-visually-hidden">
            which loan have you applied for
          </legend>

          <div class="nhsuk-radios__item">
            <input
              class="nhsuk-radios__input"
              id="student-loan"
              name="loan-type"
              type="radio"
              value="student-loan"
            />
            <label class="nhsuk-label nhsuk-radios__label" for="student-loan">
              Tuition fee and maintenance loan
            </label>
          </div>

          <div class="nhsuk-radios__item">
            <input
              class="nhsuk-radios__input"
              id="tuition-loan"
              name="loan-type"
              type="radio"
              value="tuition-loan"
            />
            <label class="nhsuk-label nhsuk-radios__label" for="tuition-loan">
              Tuition fee
            </label>
          </div>

          <div class="nhsuk-radios__item">
            <input
              class="nhsuk-radios__input"
              id="eu-loan"
              name="loan-type"
              type="radio"
              value="eu-loan"
            />
            <label class="nhsuk-label nhsuk-radios__label" for="eu-loan">
              EU tuition fee only
            </label>
          </div>
        </fieldset>
      </div>
    </div>

    <div class="nhsuk-form-group">
      <a
        href="sfe-number"
        class="nhsuk-button"
        role="button"
        id="next"
        >Continue</a
      >
    </div>
  </div>
</div>
{% endblock %}
