<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Student dashboard {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block header %} {{ header({ "service": { "name": "Bursary", "href": "/" },
"showNav": "true", "showSearch": "false", "primaryLinks": [ { "url" :
"dashboard1", "label" : "Dashboard" }, { "url" : "claim-history", "label" :
"Claim history" }, { "url" : "#", "label" : "Sign out" } ] }) }} {% endblock
%}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<!-- Breadcrumb -->
<a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>

{% endblock %}
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1 class="app-page-heading">
        <span class="nhsuk-caption-l">Welcome, John Smith</span> {{ serviceName
        }} account
      </h1>
      <!-- <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">

                    <div class="nhsuk-table__panel-with-heading-tab">
                        <h3 class="nhsuk-table__heading-tab">3 Notifications</h3>
                        <table class="nhsuk-table">
                            <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Other possible causes of your
                                symptoms</caption>
                            <thead role="rowgroup" class="nhsuk-table__head">
                                <tr role="row">
                                    <th role="columnheader" class="" scope="col">
                                        Notification
                                    </th>
                                    <th role="columnheader" class="" scope="col">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="nhsuk-table__body">
                                <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">More evidence required for person 1</td>
                                    <td class="nhsuk-table__cell "><a href="#">View application</a></td>
                                </tr>
                                <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">More evidence required for person 2</td>
                                    <td class="nhsuk-table__cell "><a href="#">View application</a></td>
                                </tr>
                                <tr role="row" class="nhsuk-table__row">
                                    <td class="nhsuk-table__cell">Complete diversity and inclusion survey</td>
                                    <td class="nhsuk-table__cell "><a href="#">Start survey</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div> -->
      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li
          class="
            beta-hub-main-topic
            nhsuk-grid-column-one-half
            nhsuk-card-group__item
          "
        >
          <!-- <div class="nhsuk-card nhsuk-card--clickable">
                        <div class="nhsuk-card__content">
                            <h2 class="nhsuk-card__heading nhsuk-heading-m">
                                <a class="nhsuk-card__link" href="dashboard">Your Bursary</a>
                            </h2>
                            <p class="nhsuk-card__description">View details relating to your 2021 {{ serviceName }}</p>
                            <div class="beta-hub-arrow">
                                <svg class="nhsuk-icon beta-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true"><circle cx="13.333" cy="13.333" r="13.333" fill=""></circle><g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667"><path d="M15.438 13l-3.771 3.771"></path><path data-name="Path" d="M11.667 9.229L15.438 13"></path></g></svg>
                              </div>
                        </div>
                    </div> -->

          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="task-list">
                  Start your claim
                </a>
              </h2>
              <div class="nhsuk-card__description">
                <p>View details relating to your 2021 {{ serviceName }}</p>
              </div>

              <div class="beta-hub-arrow">
                <svg
                  class="nhsuk-icon beta-icon__chevron-right-circle"
                  xmlns="http://www.w3.org/2000/svg"
                  width="27"
                  height="27"
                  aria-hidden="true"
                >
                  <circle cx="13.333" cy="13.333" r="13.333" fill=""></circle>
                  <g
                    data-name="Group 1"
                    fill="none"
                    stroke="#fff"
                    stroke-linecap="round"
                    stroke-miterlimit="10"
                    stroke-width="2.667"
                  >
                    <path d="M15.438 13l-3.771 3.771"></path>
                    <path data-name="Path" d="M11.667 9.229L15.438 13"></path>
                  </g>
                </svg>
              </div>
            </div>
          </div>
        </li>
        <li
          class="
            beta-hub-main-topic
            nhsuk-grid-column-one-half
            nhsuk-card-group__item
          "
        >
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="/ppe/dashboard/placement">
                  Your placement details
                </a>
              </h2>
              <div class="nhsuk-card__description">
                <p>View your placement details and add a new placement</p>
              </div>

              <div class="beta-hub-arrow">
                <svg
                  class="nhsuk-icon beta-icon__chevron-right-circle"
                  xmlns="http://www.w3.org/2000/svg"
                  width="27"
                  height="27"
                  aria-hidden="true"
                >
                  <circle cx="13.333" cy="13.333" r="13.333" fill=""></circle>
                  <g
                    data-name="Group 1"
                    fill="none"
                    stroke="#fff"
                    stroke-linecap="round"
                    stroke-miterlimit="10"
                    stroke-width="2.667"
                  >
                    <path d="M15.438 13l-3.771 3.771"></path>
                    <path data-name="Path" d="M11.667 9.229L15.438 13"></path>
                  </g>
                </svg>
              </div>
            </div>
          </div>
        </li>
        <li
          class="
            beta-hub-main-topic
            nhsuk-grid-column-one-half
            nhsuk-card-group__item
          "
        >
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="/ppe/dashboard/university-travel"> Your university details</a>
              </h2>
              <div class="nhsuk-card__description">
                <p>
                  manage your university details
                </p>
              </div>

              <div class="beta-hub-arrow">
                <svg
                  class="nhsuk-icon beta-icon__chevron-right-circle"
                  xmlns="http://www.w3.org/2000/svg"
                  width="27"
                  height="27"
                  aria-hidden="true"
                >
                  <circle cx="13.333" cy="13.333" r="13.333" fill=""></circle>
                  <g
                    data-name="Group 1"
                    fill="none"
                    stroke="#fff"
                    stroke-linecap="round"
                    stroke-miterlimit="10"
                    stroke-width="2.667"
                  >
                    <path d="M15.438 13l-3.771 3.771"></path>
                    <path data-name="Path" d="M11.667 9.229L15.438 13"></path>
                  </g>
                </svg>
              </div>
            </div>
          </div>
        </li>
        <li
          class="
            beta-hub-main-topic
            nhsuk-grid-column-one-half
            nhsuk-card-group__item
          "
        >
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="/ppe/dashboard/saved-passengers">
                  Your passengers
                </a>
              </h2>
              <div class="nhsuk-card__description">
                <p>Manage your passengers details </p>
              </div>

              <div class="beta-hub-arrow">
                <svg
                  class="nhsuk-icon beta-icon__chevron-right-circle"
                  xmlns="http://www.w3.org/2000/svg"
                  width="27"
                  height="27"
                  aria-hidden="true"
                >
                  <circle cx="13.333" cy="13.333" r="13.333" fill=""></circle>
                  <g
                    data-name="Group 1"
                    fill="none"
                    stroke="#fff"
                    stroke-linecap="round"
                    stroke-miterlimit="10"
                    stroke-width="2.667"
                  >
                    <path d="M15.438 13l-3.771 3.771"></path>
                    <path data-name="Path" d="M11.667 9.229L15.438 13"></path>
                  </g>
                </svg>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
