<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-processor.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Student dashboard {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->


<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb"
  style="background-color: white; padding:12px 0; margin-bottom: 40px;">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a id="searchLink" class="nhsuk-breadcrumb__link" href="#">Student search</a>
      </li>
      <li class="nhsuk-breadcrumb__item"><a id="studentDetailsLink" class="nhsuk-breadcrumb__link"
          href="/change-of-circumstances/V3/process-application/student-details-locked">Student details</a></li>

    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="#">Back to Course details</a></p>
  </div>
</nav>

{% endblock %}
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent" role="main">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <span class="nhsuk-caption-l">BRN0000259-3 - Mike Lee (September 2024)</span>
        <h1 class="nhsuk-heading-l">
          Change of circumstances summary
        </h1>

        <h2 class="nhsuk-heading-m nhsuk-u-margin-top-6">Change details</h2>
        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Type of change
            </dt>
            <dd class="nhsuk-summary-list__value">
              Student's income or expenses
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Reason for change
            </dt>
            <dd class="nhsuk-summary-list__value">
              {% if data['CoCScenario'] == "noChanges" %}
              There has been some other change to my income or expenses, but the Change of circumstances form did not
              ask me for it.
              {% else %}
              My income has changed as my sponsorship has ended and I got a new job. My expenses have changed as I have
              moved to a new flat.
              {% endif %}
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Date of change
            </dt>
            <dd class="nhsuk-summary-list__value">
              5 February 2025
            </dd>
          </div>
        </dl>




        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Income and expenses details
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <table class="nhsuk-table">
              <caption class="nhsuk-table__caption">Income details</caption>
              <thead>
                <tr>
                  <th scope="col">Type</th>
                  <th scope="col">Current answer</th>
                  <th scope="col">New answer</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Sponsorship income
                    {% if data['CoCScenario'] != "noChanges" %}
                    <strong class="nhsuk-tag nhsuk-tag--green">
                      Changed
                    </strong>
                    {% endif %}
                  </td>
                  <td>£5,250</td>

                  {% if data['CoCScenario'] == "noChanges" %}
                  <td>£5,250</td>
                  {% else %}
                  <td>None</td>
                  {% endif %}
                </tr>

                <tr>
                  <td>Employment income
                    {% if data['CoCScenario'] != "noChanges" %}
                    <strong class="nhsuk-tag nhsuk-tag--green">
                      Changed
                    </strong>
                    {% endif %}
                  </td>
                  <td>None</td>

                  {% if data['CoCScenario'] == "noChanges" %}
                  <td>None</td>
                  {% else %}
                  <td>£21,000</td>
                  {% endif %}

                </tr>

                <tr>
                  <td>Self-employment income</td>
                  <td>None</td>
                  <td>None</td>
                </tr>
                <tr>
                  <td>Pension payments</td>
                  <td>None</td>
                  <td>None</td>
                </tr>
                <tr>
                  <td>Rental income</td>
                  <td>None</td>
                  <td>None</td>
                </tr>
                <tr>
                  <td>Taxable state benefits</td>
                  <td>None</td>
                  <td>None</td>
                </tr>
                <tr>
                  <td>Maintenance payments from ex-partner</td>
                  <td>None</td>
                  <td>None</td>
                </tr>
                <tr>
                  <td>Money from trust fund</td>
                  <td>None</td>
                  <td>None</td>
                </tr>
                <tr>
                  <td>Other taxable income</td>
                  <td>None</td>
                  <td>None</td>
                </tr>
              </tbody>
            </table>

            <table class="nhsuk-table">
              <caption class="nhsuk-table__caption">Expenses details</caption>
              <thead>
                <tr>
                  <th scope="col">Type</th>
                  <th scope="col">Current answer</th>
                  <th scope="col">New answer</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Pension contributions</td>
                  <td>None</td>
                  <td>None</td>
                </tr>
                <tr>
                  <td>Life assurance payments</td>
                  <td>None</td>
                  <td>None</td>
                </tr>
                <tr>
                  <td>Mortgage total</td>
                  <td>None</td>
                  <td>None</td>
                </tr>

                <tr>
                  <td>Rent total
                    {% if data['CoCScenario'] != "noChanges" %}
                    <strong class="nhsuk-tag nhsuk-tag--green">
                      Changed
                    </strong>
                    {% endif %}
                  </td>
                  <td>£4,500</td>

                  {% if data['CoCScenario'] == "noChanges" %}
                  <td>£4,500</td>
                  {% else %}
                  <td>£6,280</td>
                  {% endif %}
                </tr>

                <tr>
                  <td>Maintenance payments to ex-partner</td>
                  <td>None</td>
                  <td>None</td>
                </tr>
              </tbody>
            </table>
          </div>
        </details>




        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Evidence uploaded
            </span>
          </summary>
          <div class="nhsuk-details__text">

            {% if data['CoCScenario'] == "noChanges" %}
            <h3 class="nhsuk-heading-s">Evidence for this change</h3>
            <p class="nhsuk-u-margin-bottom-6">No evidence uploaded for this change.</p>

            {% else %}

            <table class="nhsuk-table">
              <caption class="nhsuk-table__caption">Evidence for this change</caption>
              <thead>
                <tr>
                  <th scope="col">Relates to</th>
                  <th scope="col">Type</th>
                  <th scope="col">Upload date</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Sponsorship income</td>
                  <td>Letter from employer</td>
                  <td>15 October 2024 11:46</td>
                  <td class="nhsuk-table__cell ">
                    <a href="#" target="_blank" rel="noopener">
                      View
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>Employment income</td>
                  <td>Payslip</td>
                  <td>8 February 2025 16:04</td>
                  <td class="nhsuk-table__cell ">
                    <a href="#" target="_blank" rel="noopener">
                      Download
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>Rent total</td>
                  <td>Letter from letting agent</td>
                  <td>8 February 2025 16:03</td>
                  <td class="nhsuk-table__cell ">
                    <a href="#" target="_blank" rel="noopener">
                      View
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>

            {% endif %}

            <table class="nhsuk-table">
              <caption class="nhsuk-table__caption">Previously used evidence</caption>
              <thead>
                <tr>
                  <th scope="col">Relates to</th>
                  <th scope="col">Type</th>
                  <th scope="col">Upload date</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Rent total</td>
                  <td>Letter from letting agent</td>
                  <td>13 August 2024 11:35</td>
                  <td class="nhsuk-table__cell ">
                    <a href="#" target="_blank" rel="noopener">
                      View
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="nhsuk-u-secondary-text-colour" style="color: #4c6272;">Not assigned</td>
                  <td>Letter from employer</td>
                  <td>4 January 2024 11:35</td>
                  <td class="nhsuk-table__cell ">
                    <a href="#" target="_blank" rel="noopener">
                      Download
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </details>




        <form class="form" action="change-summary" method="post">

          <div class="nhsuk-form-group">

            <h2 class="nhsuk-heading-m nhsuk-u-margin-top-8">How would you like to continue?</h2>

            <div class="nhsuk-radios nhsuk-radios--conditional">

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="complete" name="CoCProcessorChoice" type="radio" value="complete"
                  aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                  Complete change and update student's details
                </label>
                <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
                  The student's bursary details and payments will be updated. We'll also send them an email
                </div>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="pend" name="CoCProcessorChoice" type="radio" value="pend"
                  aria-controls="conditional-contact-3" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-3">
                  Return change to student
                </label>
                <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
                  The student can change their answers and add more evidence
                </div>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="decline" name="CoCProcessorChoice" type="radio" value="decline"
                  aria-controls="conditional-contact-2" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-2">
                  Cancel change
                </label>
                <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
                  You can enter a reason why you're cancelling this change
                </div>
              </div>

            </div>

          </div>

          <button class="nhsuk-button" type="submit" style="margin-top: 20px;">Continue</button>

          <p><a id="canceltoStudent" href="student-details-locked">Go back to Student details</a></p>
        </form>

      </div>
    </div>
  </main>
</div>
{% endblock %}