<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-processor.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Student dashboard {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->


<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb"
  style="background-color: white; padding:12px 0; margin-bottom: 40px;">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a id="searchLink" class="nhsuk-breadcrumb__link" href="#">Student search</a>
      </li>
      <li class="nhsuk-breadcrumb__item"><a id="studentDetailsLink" class="nhsuk-breadcrumb__link"
          href="/change-of-circumstances/V2/process-application/student-details-locked">Student details</a></li>

    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="#">Back to Course details</a></p>
  </div>
</nav>

{% endblock %}
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent" role="main">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <div class="nhsuk-back-link">
          <a class="nhsuk-back-link__link" href="javascript:history.go(-1)" id="back">
            <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
              aria-hidden="true">
              <path
                d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
              </path>
            </svg>
            Go back
          </a>
        </div>

        <div>
          <h1 class="nhsuk-app-heading nhsuk-heading-l">
            <span class="nhsuk-caption-l" id="studentRef">BRN0000259-3 - Mike Lee (September 2024)</span>
            Add a comment about this change (optional)
          </h1>
        </div>

        <p>We'll create a note for you. You can add a comment to this note.</p>

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Preview of note
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <!-- <p>You've added this note to the student's record.</p> -->

            <div class="nhsuk-card">
              <div class="nhsuk-card__content">

                <h3 class="nhsuk-heading-s">Change of circumstances - 13 February 2025 at 11:37am
                  <br>
                  <div style="font-size: 1.1875rem; line-height: 1.47368;">Linked activity 252 - Change of address</div>
                  <strong class="nhsuk-tag nhsuk-tag--grey">System note</strong>
                </h3>

                {% if data['CoCScenario'] == "addressOnly" %}
                <ul>
                  <li>Change of circumstances completed.</li>
                  <li>Address updated.</li>
                  <li>Email sent to student.</li>
                </ul>

                {% elif data['CoCSchedulingChoice'] == "automaticReschedule" %}
                <ul>
                  <li>Change of circumstances completed.</li>
                  <li>Address updated.</li>
                  <li>Living with parents updated.</li>
                  <li>Payments updated automatically.</li>
                  <li>Email sent to student.</li>
                </ul>

                {% else %}
                <ul>
                  <li>Change of circumstances completed.</li>
                  <li>Address updated.</li>
                  <li>Living with parents updated.</li>
                  <li>Payments updated manually.</li>
                  <!-- <li>Calculations sheet uploaded.</li> -->
                  <li>Email sent to student.</li>
                </ul>
                {% endif %}

                <p id="processorCommentPreview">
                  Processor comment: <span id="processorCommentText">This is an example of what your comment will look
                    like.</span>
                </p>

                <p>Change type: Change of address<br>
                  Previous address: 13 Pleasant House, Laney Street, Smalltown, Scotland, NE33 3AB<br>
                  New address: 34 The Tower, Streetson Crescent, Bigtown, England, SR2 7NB<br>

                  Living with parents:

                  {% if data['CoCScenario'] == "addressOnly" %}
                  Yes
                  {% else %}
                  No
                  {% endif %}

                  <br>
                  Comment:

                  {% if data['CoCScenario'] == "addressOnly" %}
                  Me and my parents have moved house together.
                  {% else %}
                  I moved out of my parents house into my studio flat.
                  {% endif %}

                  <br>
                  Date of change: 5 February 2025
                </p>

                <div class="nhsuk-hint" id="contact-hint">
                  Last modified by <strong>John Smith</strong>
                </div>

              </div>
            </div>
          </div>
        </details>



        <form action="/change-of-circumstances/V2/process-application/change-confirmation-comment-route" method="POST">

          <div class="nhsuk-form-group">
            <div class="nhsuk-hint" id="example-hint">
              Comment (optional)
            </div>
            <textarea class="nhsuk-textarea" id="change-completion-processor-comment" name="example" rows="5"
              aria-describedby="example-hint"></textarea>

            <p id="charactersRemaining" class="nhsuk-hint" aria-hidden="true">500 characters remaining</p>
            <p id="char-count-screen-reader" class="nhsuk-u-visually-hidden" aria-live="polite">You can enter up to 500
              characters</p>
          </div>

          <div class="nhsuk-form-group" style="margin-top: 40px;">
            <button class="nhsuk-button" type="submit">Complete change</button>

            <p><a id="canceltoStudent" href="student-details-locked">Cancel</a></p>
          </div>

        </form>

      </div>
    </div>
  </main>
</div>


<script>
  const textarea = document.querySelector('#change-completion-processor-comment');
  const countRemaining = document.getElementById('charactersRemaining');
  const staticMsg = document.querySelector('#char-count-screen-reader');
  const maxCharacters = 500;
  let timeoutId;

  function updateCharacterCount() {
    const textEntered = textarea.value;
    const newLines = textEntered.match(/(\r\n|\n|\r)/g);
    const addition = newLines?.length || 0;
    const remainingCharacters = maxCharacters - textEntered.length + addition - (newLines?.length || 0);

    if (remainingCharacters >= 0) {
      countRemaining.textContent = `You have ${remainingCharacters} character${remainingCharacters === 1 ? '' : 's'} remaining`;
      countRemaining.classList.remove('nhsbsa-count-error-message');
      countRemaining.classList.add('nhsuk-hint');
      textarea.classList.remove('nhsuk-textarea--error');
    } else {
      countRemaining.textContent = `You have ${Math.abs(remainingCharacters)} character${Math.abs(remainingCharacters) === 1 ? '' : 's'} too many`;
      countRemaining.classList.add('nhsbsa-count-error-message');
      countRemaining.classList.remove('nhsuk-hint');
      textarea.classList.add('nhsuk-textarea--error');
    }
  }

  function updateScreenReaderMessage() {
    clearTimeout(timeoutId);
    timeoutId = setTimeout(() => {
      const textEntered = textarea.value;
      const newLines = textEntered.match(/(\r\n|\n|\r)/g);
      const addition = newLines?.length || 0;
      const remainingCharacters = maxCharacters - textEntered.length + addition - (newLines?.length || 0);
      // TO DO ADD FIX FOR 1 CHARACTER
      if (remainingCharacters < 0) {
        staticMsg.textContent = `You have ${Math.abs(remainingCharacters)} character${Math.abs(remainingCharacters) === 1 ? '' : 's'} too many`;
      } else {
        staticMsg.textContent = `You have ${remainingCharacters} character${remainingCharacters === 1 ? '' : 's'} remaining`;
      }
    }, 500);
  }

  textarea.addEventListener('input', () => {
    updateCharacterCount();
    updateScreenReaderMessage();
  });

  // Update character count if textarea has a value on page load
  window.addEventListener('load', () => {
    updateCharacterCount();
    updateScreenReaderMessage();
  });
</script>



<script>
  const commentPreview = document.getElementById('processorCommentPreview');
  const commentText = document.getElementById('processorCommentText');

  // When contents of Comment textbox is changed: update Comment in preview 
  textarea.addEventListener('input', () => {
    const value = textarea.value.trim();

    if (value) {
      commentText.textContent = value;
      commentPreview.style.display = 'block';
    } else {
      commentPreview.style.display = 'none';
    }
  });

  // On page load: replace placeholder if JS is running
  window.addEventListener('load', () => {
    const initialValue = textarea.value.trim();
    if (initialValue) {
      commentText.textContent = initialValue;
      commentPreview.style.display = 'block';
    } else {
      commentPreview.style.display = 'none';
    }
  });
</script>
{% endblock %}