<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- page title -->
{% block pageTitle %} How much did you pay for parking in total? {% endblock %}

<!-- breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %} {% endblock %}

<!-- back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %} {% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" href="other-costs" id="skipLink">
        <svg
          class="nhsuk-icon nhsuk-icon__chevron-left"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          aria-hidden="true"
        >
          <path
            d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"
          ></path>
        </svg>
        Go back</a
      >
    </div>

    <h1 class="nhsuk-heading-large">
      <span class="nhsuk-caption-l">Day one claim</span>
      How much did you pay for parking in total?
    </h1>

    <label class="nhsuk-label" for="parking-cost">Amount, in pounds</label>
    <p class="nhsuk-hint">For example, 127.90</p>

    <div class="nhsuk-form-group">
      <input
        class="nhsuk-input nhsuk-input--width-10"
        id="parking-cost"
        name="parking-cost"
        type="text"
        aria-describedby="parking-cost"
        inputmode="numeric"
      />
    </div>

    <div class="nhsuk-form-group">
      <a href="passengers" class="nhsuk-button" role="button">Continue</a>
    </div>
  </div>
</div>

{% endblock %}
