<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} {{ serviceName }} prototypes | Sign in to your account {%
endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %} {% endblock %}
<!-- Breadcrumb -->
<a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <span class="nhsuk-caption-l">Application Reference - 3011023</span>
      <h1 class="app-page-heading">SRN000020301 - Liam Bloggs</h1>



      <div class="nhsuk-form-group">
        <table role="table" class="nhsuk-table-responsive">
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">Item</th>
              <th role="columnheader" class="" scope="col">Supplier</th>
              <th role="columnheader" class="" scope="col">Quote No.</th>
              <th role="columnheader" class="" scope="col">Amounts we’ll pay </th>
              <th role="columnheader" class="" scope="col">Status</th>
              <th role="columnheader" class="" scope="col">Action</th>              
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Age </span>Laptop
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">How much? </span
                >PC World
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">How often? </span
                >459820497
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Delete </span
                >£400
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Delete </span
                ><strong class="nhsuk-tag nhsuk-tag--yellow"> Waiting </strong>
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Delete </span
                ><a href="update-equipment">Update</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
     


    
    </div>
  </div>
</div>
{% endblock %}
