{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

{% block header %} {{ header({ "service": { "name": "Bursary", "href": "/" },
"showNav": "false", "showSearch": "false" }) }} {% endblock %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} When did you attend your placement? {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
      <h1 class="nhsuk-app-heading" id="placement-title">
        <span class="nhsuk-caption-l">Placement details</span> When did you
        attend your placement?
      </h1>
    </legend>

    <div class="nhsuk-form-group">
      <fieldset
        class="nhsuk-fieldset"
        aria-describedby="date-hint"
        role="group"
      >
        <legend class="nhsuk-fieldset__legend nhsuk-label--l">
          <h1 class="nhsuk-fieldset__heading">Start Date</h1>
        </legend>
        <div class="nhsuk-hint" id="date-hint">For example, 15 3 2019</div>

        <div class="nhsuk-date-input" id="date-input">
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label
                class="nhsuk-label nhsuk-date-input__label"
                for="start-day"
              >
                Day
              </label>
              <input
                class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                id="start-day"
                name="start-day"
                type="text"
                pattern="[0-9]*"
                inputmode="numeric"
              />
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label
                class="nhsuk-label nhsuk-date-input__label"
                for="start-month"
              >
                Month
              </label>
              <input
                class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                id="start-month"
                name="start-month"
                type="text"
                pattern="[0-9]*"
                inputmode="numeric"
              />
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label
                class="nhsuk-label nhsuk-date-input__label"
                for="start-year"
              >
                Year
              </label>
              <input
                class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4"
                id="start-year"
                name="start-year"
                type="text"
                pattern="[0-9]*"
                inputmode="numeric"
              />
            </div>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="nhsuk-form-group">
      <fieldset
        class="nhsuk-fieldset"
        aria-describedby="date-2-hint"
        role="group"
      >
        <legend class="nhsuk-fieldset__legend nhsuk-label--l">
          <h1 class="nhsuk-fieldset__heading">End date</h1>
        </legend>
        <div class="nhsuk-hint" id="date-2-hint">
          For example, 16 4 2019

          <div class="nhsuk-date-input" id="end-date">
            <div class="nhsuk-date-input__item">
              <div class="nhsuk-form-group">
                <label
                  class="nhsuk-label nhsuk-date-input__label"
                  for="end-day"
                >
                  Day
                </label>
                <input
                  class="
                    nhsuk-input
                    nhsuk-date-input__input
                    nhsuk-input--width-2
                  "
                  id="end-day"
                  name="end-day"
                  type="text"
                  pattern="[0-9]*"
                  inputmode="numeric"
                />
              </div>
            </div>
            <div class="nhsuk-date-input__item">
              <div class="nhsuk-form-group">
                <label
                  class="nhsuk-label nhsuk-date-input__label"
                  for="end-month"
                >
                  Month
                </label>
                <input
                  class="
                    nhsuk-input
                    nhsuk-date-input__input
                    nhsuk-input--width-2
                  "
                  id="end-month"
                  name="end-month"
                  type="text"
                  pattern="[0-9]*"
                  inputmode="numeric"
                />
              </div>
            </div>
            <div class="nhsuk-date-input__item">
              <div class="nhsuk-form-group">
                <label
                  class="nhsuk-label nhsuk-date-input__label"
                  for="end-year"
                >
                  Year
                </label>
                <input
                  class="
                    nhsuk-input
                    nhsuk-date-input__input
                    nhsuk-input--width-4
                  "
                  id="end-year"
                  name="end-year"
                  type="text"
                  pattern="[0-9]*"
                  inputmode="numeric"
                />
              </div>
            </div>
          </div>
        </div>
      </fieldset>
      <a href="placement-address" class="nhsuk-button">Continue</a>
    </div>
  </div>
</div>
{% endblock %}
