<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}{{ serviceName }} prototypes | Application pending {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block header %} {{ header({ "service": { "name": "Bursary", "href": "/"
}, "showNav": "true", "showSearch": "false", "primaryLinks": [ { "url" : "submittedforms",
"label" : "Applications" },  { "url" : "search", "label" : "Search for a student" }, { "url" : "#", "label" : "Change password" }, { "url" : "index", "label" : "Log out" } ] })
}} {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<!-- Breadcrumb -->
<a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>

{% endblock %}
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

            <h1 class="app-page-heading">
              Application pending
            </h1>

            <div class="nhsuk-inset-text">
                <span class="nhsuk-u-visually-hidden">Information: </span>
                <p>This application has now been sent to back to the student to be amended.</p>
              </div>

            

                    {% endblock %}