<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}{{ serviceName }} prototypes | Student forms {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block header %} {{ header({ "service": { "name": "Bursary", "href": "/"
}, "showNav": "true", "showSearch": "false", "primaryLinks": [ { "url" : "#",
"label" : "Submissions" },  { "url" : "search", "label" : "Student search" }, { "url" : "#", "label" : "Change password" }, { "url" : "index", "label" : "Log out" } ] })
}} {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<!-- Breadcrumb -->
<a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>

{% endblock %}
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">

            <h1 class="app-page-heading">
                Student forms
            </h1>
    
            <ul class="nhsuk-grid-row nhsuk-card-group">
                <li class="beta-hub-main-topic nhsuk-grid-column-one-half nhsuk-card-group__item">

                    <div class="nhsuk-card nhsuk-card--clickable ">
                        <div class="nhsuk-card__content beta-card__content">
                            <h2 class="nhsuk-card__heading nhsuk-heading-m">
                                <a class="nhsuk-card__link" href="submittedforms">
                                    Submitted forms
                                </a>
                            </h2>
                            <div class="nhsuk-card__description">
                                <p>View list of submitted forms</p>
                            </div>

                            <div class="beta-hub-arrow">
                                <svg class="nhsuk-icon beta-icon__chevron-right-circle"
                                    xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true">
                                    <circle cx="13.333" cy="13.333" r="13.333" fill=""></circle>
                                    <g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round"
                                        stroke-miterlimit="10" stroke-width="2.667">
                                        <path d="M15.438 13l-3.771 3.771"></path>
                                        <path data-name="Path" d="M11.667 9.229L15.438 13"></path>
                                    </g>
                                </svg>
                            </div>

                        </div>
                    </div>

                </li>
              <!--   <li class="beta-hub-main-topic nhsuk-grid-column-one-half nhsuk-card-group__item">

                    <div class="nhsuk-card nhsuk-card--clickable ">
                        <div class="nhsuk-card__content beta-card__content">
                            <h2 class="nhsuk-card__heading nhsuk-heading-m">
                                <a class="nhsuk-card__link" href="approvedforms">
                                    Approved forms
                                </a>
                            </h2>
                            <div class="nhsuk-card__description">
                                <p>View list of approved forms</p>
                            </div>

                            <div class="beta-hub-arrow">
                                <svg class="nhsuk-icon beta-icon__chevron-right-circle"
                                    xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true">
                                    <circle cx="13.333" cy="13.333" r="13.333" fill=""></circle>
                                    <g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round"
                                        stroke-miterlimit="10" stroke-width="2.667">
                                        <path d="M15.438 13l-3.771 3.771"></path>
                                        <path data-name="Path" d="M11.667 9.229L15.438 13"></path>
                                    </g>
                                </svg>
                            </div>

                        </div>
                    </div>

                </li>
                <li class="beta-hub-main-topic nhsuk-grid-column-one-half nhsuk-card-group__item">

                    <div class="nhsuk-card nhsuk-card--clickable ">
                        <div class="nhsuk-card__content beta-card__content">
                            <h2 class="nhsuk-card__heading nhsuk-heading-m">
                                <a class="nhsuk-card__link" href="rejectedforms">
                                    Rejected forms
                                </a>
                            </h2>
                            <div class="nhsuk-card__description">
                                <p>View the rejected forms</p>
                            </div>

                            <div class="beta-hub-arrow">
                                <svg class="nhsuk-icon beta-icon__chevron-right-circle"
                                    xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true">
                                    <circle cx="13.333" cy="13.333" r="13.333" fill=""></circle>
                                    <g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round"
                                        stroke-miterlimit="10" stroke-width="2.667">
                                        <path d="M15.438 13l-3.771 3.771"></path>
                                        <path data-name="Path" d="M11.667 9.229L15.438 13"></path>
                                    </g>
                                </svg>
                            </div>

                        </div>
                    </div>

                </li> -->
            
                        </div>
                    </div>

                </li>
            </ul>

        </div>
    </div>
</div>

                    {% endblock %}