{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Change of circumstances evidence {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %} {% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <span class="nhsuk-caption-l">Change of circumstances</span>
    <h1 class="nhsuk-heading-l">
      {% if (data['livingWithParents'] == "Yes") %}
      Add evidence (optional)

      {% else %}
      Add evidence
      {% endif %}
    </h1>

    {% if data['livingWithParents'] == "Yes" %}
    <p>You can upload any evidence that supports your change of circumstances.</p>
    <p>If you do not need to give evidence, you can skip this step by selecting Continue.</p>

    {% elif data['CoCType'] == "Change of income" %}
    <p>You can upload evidence for your change of income or expenses.</p>

    {% elif data['CoCType'] == "Change of income" %}
    <p>You need to upload new evidence that supports your change. You cannot remove old evidence, but you can use it
      again if it supports this change.</p>

    {% else %}
    <p>You need to upload evidence that supports your change of circumstances.</p>
    {% endif %}

    {% if data['CoCType'] == "Change of address" %}
    <div>
      <a href="evidence" class="nhsuk-button nhsuk-button--secondary" role="button">Add evidence</a>
    </div>
    {% endif %}



    {% if data['CoCType'] == "Change of income" %}

    <h2 class="nhsuk-heading-m">Your income details</h2>

    <div class="nhsuk-card">
      <div class="nhsuk-card__content">

        <table style="margin-bottom: 24px;" id="evidenceTable" class="nhsuk-table">
          <caption class="nhsuk-table__caption">Sponsorship income</caption>
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Type
              </th>
              <th role="columnheader" class="" scope="col">
                File
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row" id="evidenceRow1">
              <td class="nhsuk-table__cell">Letter from your employer</td>
              <td style="" class="nhsuk-table__cell ">
                <a href="#" target="_blank" rel="noopener">
                  employer-letter.png
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <p style="margin-bottom: 0px;"><a href="upload-evidence-income?income=sponsorship income">Add more evidence of
            sponsorship income</a></p>

      </div>
    </div>
    <div class="nhsuk-card">
      <div class="nhsuk-card__content">

        {% if data['evidence'] != 'added' %}
        <h3 style="margin-bottom: 0px;" class="nhsuk-heading-s">Employment income</h3>
        <a style="margin-top: 24px; margin-bottom: 0px;" class="nhsuk-button nhsuk-button--secondary"
          href="upload-evidence-income?income=employment income">Add evidence</a>
        {% else %}

        <table style="margin-bottom: 24px;" id="evidenceTable" class="nhsuk-table">
          <caption class="nhsuk-table__caption">Employment income</caption>
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Type
              </th>
              <th role="columnheader" class="" scope="col">
                File
              </th>
              <th role="columnheader" class="" scope="col">
                Action
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row" id="evidenceRow1">
              <td class="nhsuk-table__cell">Letter from your employer</td>
              <td style="" class="nhsuk-table__cell ">
                <a href="#" target="_blank" rel="noopener">
                  employer-letter.png
                </a>
              </td>
              <td class="nhsuk-table__cell ">
                <a href="evidence?evidence=removed">Remove</a>
              </td>
            </tr>
          </tbody>
        </table>
        <p style="margin-bottom: 0px;"><a href="upload-evidence-income?income=employment income">Add more evidence of
            employment income</a></p>
        {% endif %}

      </div>
    </div>


    <h2 class="nhsuk-heading-m">Your expenses details</h2>

    <div class="nhsuk-card">
      <div class="nhsuk-card__content">

        <table style="margin-bottom: 24px;" id="evidenceTable" class="nhsuk-table">
          <caption class="nhsuk-table__caption">Rent</caption>
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Type
              </th>
              <th role="columnheader" class="" scope="col">
                File
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row" id="evidenceRow1">
              <td class="nhsuk-table__cell">Letter from letting agent</td>
              <td style="" class="nhsuk-table__cell ">
                <a href="#" target="_blank" rel="noopener">
                  letting-agent-letter.png
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <p style="margin-bottom: 0px;"><a href="upload-evidence-expenses?income=rent">Add more evidence of rent</a></p>

      </div>
    </div>

    {% endif %}



    {% if data['livingWithParents'] == "Yes" or data['evidence'] == 'added' %}
    <a href="declaration" class="nhsuk-button" role="button">Continue</a>
    {% endif %}


    <p><a href="">Save and come back later</a></p>

  </div>
</div>
{% endblock %}