<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Check your answers {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<!-- Breadcrumb -->

{% endblock %}
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-app-heading">
        <span class="nhsuk-caption-l">Change of circumstances</span>
        Check your answers
      </h1>

      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">Type of change</dt>
          <dd class="nhsuk-summary-list__value">Change to my income or expenses</dd>

          <dd class="nhsuk-summary-list__actions">
            <a href="changes">
              Change<span class="nhsuk-u-visually-hidden">
                Change of circumstances</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Date of change
          </dt>

          <dd class="nhsuk-summary-list__value">
            <p>
              {% if data['circumstance-day'] %}
              {{ data['circumstance-day'] }} <span class="cya-month">{{ data['circumstance-month'] }}</span> {{
              data['circumstance-year'] }}
              {% else %}
              5 February 2025
              {% endif %}
            </p>
          </dd>

          <dd class="nhsuk-summary-list__actions">
            <a href="date">
              Change<span class="nhsuk-u-visually-hidden">Date of change</span>
            </a>
          </dd>
        </div>


        {% if data['CoCType'] == "Change of address" %}
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            New address
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              {% if data['address-1-name-or-number-1'] %}
              {{ data['address-1-name-or-number-1'] }} <br>
              {{ data['address-2-name-or-number-2'] }} <br>
              {{ data['address-3-street'] }} <br>
              {{ data['address-4-town'] }} <br>
              {{ data['address-5-country'] }} <br>
              {{ data['address-6-postcode'] }}

              {% else %}
              34<br>
              The Tower<br>
              Streetson Crescent<br>
              Bigtown<br>
              England<br>
              SR2 7NB

              {% endif %}
            </p>
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="change-address">
              Change<span class="nhsuk-u-visually-hidden">Address</span>
            </a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Living with parents?
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              {% if data['livingWithParents'] %}
              {{ data['livingWithParents'] }}
              {% else %}
              No
              {% endif %}
            </p>
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="living-with-parents">
              Change<span class="nhsuk-u-visually-hidden">Living with parents</span>
            </a>
          </dd>
        </div>
        {% endif %}

        {% if (data['CoCType'] == "Change of income") and (data['no-income'] == "true") %}
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Reason for no income
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              {% if data['noIncomeReason'] %}
              {{ data['noIncomeReason'] }}

              {% else %}
              I have no income because my sponsorship has ended.
              {% endif %}
            </p>
          </dd>

          <dd class="nhsuk-summary-list__actions">
            <a href="no-income-reason">
              Change<span class="nhsuk-u-visually-hidden">Reason for no income</span>
            </a>
          </dd>
        </div>
        {% endif %}


        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Reason for change
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>
              {% if data['reason'] %}
              {{ data['reason'] }}

              {% elif data['noDetailsChanged'] == "true" %}
              There has been some other change to my income or expenses, but the Change of circumstances form did not
              ask me for it.

              {% else %}
              My income has changed as my sponsorship has ended and I got a new job. My expenses have changed as I have
              moved to a new flat.
              {% endif %}
            </p>
          </dd>

          <dd class="nhsuk-summary-list__actions">
            <a href="explanation">
              Change<span class="nhsuk-u-visually-hidden">Explanation of change of circumstances</span>
            </a>
          </dd>
        </div>

      </dl>

      {% if data['CoCType'] == "Change of income" %}
      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Your income details
          </span>
        </summary>

        <div class="nhsuk-details__text">
          <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key" style="width: 50%">Sponsorship income</dt>
              <dd class="nhsuk-summary-list__value">None</dd>
            </div>

            <!-- IF student is part time (i.e. NOT full time)... show these two questions. -->
            {% if data['studentIsFullTime'] != 'true' %}

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Employment income</dt>
              <dd class="nhsuk-summary-list__value">
                {% if data['no-income'] == "true" %}
                None
                {% else %}
                £21,000
                {% endif %}
              </dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Self-employment income</dt>
              <dd class="nhsuk-summary-list__value">None</dd>
            </div>

            {% endif %}

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Pension payments</dt>
              <dd class="nhsuk-summary-list__value">None</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Rental income</dt>
              <dd class="nhsuk-summary-list__value">None</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Taxable state benefits</dt>
              <dd class="nhsuk-summary-list__value">None</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Maintenance payments to ex-partner</dt>
              <dd class="nhsuk-summary-list__value">None</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Money from trust fund</dt>
              <dd class="nhsuk-summary-list__value">None</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Other taxable income</dt>
              <dd class="nhsuk-summary-list__value">None</dd>
            </div>

          </dl>
          <p><a href="income" class="nhsuk-button nhsuk-button--secondary">Change income</a></p>
        </div>
      </details>

      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Your expenses details
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Pension contributions</dt>
              <dd class="nhsuk-summary-list__value">None</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Life assurance payments</dt>
              <dd class="nhsuk-summary-list__value">None</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Mortgage total</dt>
              <dd class="nhsuk-summary-list__value">None</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Rent total</dt>
              <dd class="nhsuk-summary-list__value">£6,280</dd>
            </div>
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Maintenance payments from ex-partner</dt>
              <dd class="nhsuk-summary-list__value">None</dd>
            </div>
          </dl>
          <p><a href="income" class="nhsuk-button nhsuk-button--secondary">Change expenses</a></p>
        </div>
      </details>
      {% endif %}


      <div class="nhsuk-form-group">

        {% if data['noDetailsChanged'] == "true" %}
        <a href="summary-continue" class="nhsuk-button" role="button" id="next">Save and continue</a>
        {% else %}
        <a href="summary-continue" class="nhsuk-button" role="button" id="next">Save and continue to evidence</a>
        {% endif %}

        <p><a id="canceltoTasklist" href="tasklist-approved">Cancel</a></p>
      </div>
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    const months = {
      "01": "January",
      "02": "February",
      "03": "March",
      "04": "April",
      "05": "May",
      "06": "June",
      "07": "July",
      "08": "August",
      "09": "September",
      "1": "January",
      "2": "February",
      "3": "March",
      "4": "April",
      "5": "May",
      "6": "June",
      "7": "July",
      "8": "August",
      "9": "September",
      "10": "October",
      "11": "November",
      "12": "December",
    };

    $(".cya-month").text(function () {
      const month = $(this).text();
      console.log("month:", month);
      console.log("months[month]:", months[month]);
      return months[month];
    });
  });
</script>

{% endblock %}