<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-processor.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Student dashboard {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->


<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb"
  style="background-color: white; padding:12px 0; margin-bottom: 40px;">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a id="searchLink" class="nhsuk-breadcrumb__link" href="#">Student search</a>
      </li>
      <li class="nhsuk-breadcrumb__item"><a id="studentDetailsLink" class="nhsuk-breadcrumb__link"
          href="student-details-locked">Student details</a></li>

    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink"
        href="/internal/enrolment/details?enrolmentId=238">Back to Course details</a></p>
  </div>
</nav>

{% endblock %}
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent" role="main">



    <div>
      <h1 class="nhsuk-app-heading">
        <span class="nhsuk-caption-l" id="studentRef">BRN0000259 - Mike Lee</span>
        Change of circumstances summary
      </h1>
    </div>

    <details class="nhsuk-details">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          <!-- Student course details -->
          Student details
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <table role="table" class="nhsuk-table-responsive">

          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <!-- <th role="columnheader" class="" scope="col" style="width: 20%">University</th>
              <th role="columnheader" class="" scope="col" style="width: 20%">Course</th>
              <th role="columnheader" class="" scope="col" style="width: 20%">Eligibility status</th> -->
              <th role="columnheader" class="" scope="col" >Award</th>
              <th role="columnheader" class="" scope="col" >Current address is at parents house</th>
              <!-- <th role="columnheader" class="" scope="col" style="width: 20%">Num extra weeks</th> -->
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <!-- <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">University </span>
                <span id="courseCollegeName">University of Leeds (Medical)</span>
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Course </span>
                <span id="enrolmentCourseName">Dental Surgery</span>
              </td>
              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Eligibility status </span>
                <span id="eligibilityStatusName">Eligible</span>
              </td> -->

              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Award </span>
                <span id="AwardName">Means tested</span>
              </td>

              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Current address is at parents house</span>
                <span id="withParents">Yes</span>
              </td>

              <!-- <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Num extra weeks </span>
                <span id="NumExtraWeeks">0</span>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </details>


    <!-- <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h3 class="nhsuk-card__heading">Student details</h3>
        <table role="table" class="nhsuk-table-responsive">

          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">

              <th role="columnheader" class="" scope="col" >Award</th>
              <th role="columnheader" class="" scope="col" >Current address is at parents house</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">

              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Award </span>
                <span id="AwardName">Means tested</span>
              </td>

              <td role="cell" class="nhsuk-table__cell">
                <span class="nhsuk-table-responsive__heading">Current address is at parents house</span>
                <span id="withParents">Yes</span>
              </td>

            </tr>
          </tbody>
        </table>

      </div>
    </div> -->

    <h2 class="nhsuk-heading-m">Change details</h2>
    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Type
        </dt>
        <dd class="nhsuk-summary-list__value">
          Change address
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          New address
        </dt>
        <dd class="nhsuk-summary-list__value">
          13<br>
          Pleasant House<br>
          Laney Street<br>
          Smalltown<br>
          Scotland<br>
          NE33 3AB
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Comment
        </dt>
        <dd class="nhsuk-summary-list__value">
          I moved out of my parents house into my studio flat.
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Effective from date
        </dt>
        <dd class="nhsuk-summary-list__value">
          15/10/2024
        </dd>
      </div>
    </dl>



    <h2 class="nhsuk-heading-m" style="margin-top: 80px;">Evidence uploaded</h2>

    <table role="table" class="nhsuk-table-responsive" id="documentListTable" style="margin-bottom: 60px;">
      <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Evidence uploaded table</caption>
      <thead role="rowgroup" class="nhsuk-table__head">
        <tr role="row">
          <th role="columnheader" class="" scope="col">File</th>
          <th role="columnheader" class="" scope="col">Type</th>
          <th role="columnheader" class="" scope="col">Upload date</th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr role="row" class="nhsuk-table__row" id="documentListTableRow[0]">
          <td role="cell" class="nhsuk-table__cell">
            <a href="/images/placeholder-image-16-9.jpg" target="_blank" rel="noopener">letting-agent-letter.pdf</span></a>
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span>Letter from letting agent</span>
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span>23-October-2024 16:04</span>
          </td>
        </tr>
      </tbody>
    </table>

    <form>

      <div class="nhsuk-form-group" style="margin-bottom: 40px;">
    
        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">

          </legend>
        
          <div class="nhsuk-checkboxes">
    
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                Tick to confirm student's new address matches evidence provided
              </label>
            </div>
    
          </div>
        </fieldset>
    
      </div>
    
    </form>

    <div class="nhsuk-form-group">
      <a class="nhsuk-button nhsuk-u-margin-right-5" id="complete" href="change-confirmation" role="button"
        data-module="nhsuk-button">Update address and Complete</a>

      <a class="nhsuk-button nhsuk-button--secondary" id="Pend" href="student-details-locked-pended" role="button"
        data-module="nhsuk-button">Pend</a>


      <p><a id="canceltoStudent" href="student-details-locked">Cancel</a></p>
    </div>
  </main>
</div>
{% endblock %}