<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-processor.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Student dashboard {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->


<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb"
  style="background-color: white; padding:12px 0; margin-bottom: 40px;">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a id="searchLink" class="nhsuk-breadcrumb__link" href="#">Student search</a>
      </li>
      <li class="nhsuk-breadcrumb__item"><a id="studentDetailsLink" class="nhsuk-breadcrumb__link"
          href="student-details-locked.html">Student details</a></li>

    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink"
        href="/internal/enrolment/details?enrolmentId=238">Back to Course details</a></p>
  </div>
</nav>

{% endblock %}
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent" role="main">



    <div>
      <h1 class="nhsuk-app-heading">
        <span class="nhsuk-caption-l" id="studentRef">BRN0000259 - Robert Wilson</span>
        Change of circumstances summary
      </h1>
    </div>



    <div class="nhsuk-table__panel-with-heading-tab">
      <h2 class="nhsuk-table__heading-tab">Evidence uploaded</h2>
      <table role="table" class="nhsuk-table-responsive" id="documentListTable">
        <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Evidence uploaded table</caption>
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">Type</th>
            <th role="columnheader" class="" scope="col">Upload date</th>
            <th role="columnheader" class="" scope="col">View</th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row" id="documentListTableRow[0]">
            <td role="cell" class="nhsuk-table__cell">

              <span>Letter from letting agent</span>
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span>23-October-2024 16:04</span>
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <a href="/images/placeholder-image-16-9.jpg" target="_blank" rel="noopener">View</span></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <h2 class="nhsuk-heading-m">Change details</h2>
    <p>Type - Change address</p>
    <p class="wordbreak">Comment - I have moved home
    </p>
    <p>Effective from date - 15/10/2024</p>

    <div class="nhsuk-form-group">
      <a class="nhsuk-button nhsuk-u-margin-right-5" id="complete"
        href="#" role="button" data-module="nhsuk-button">Complete</a>

      <a class="nhsuk-button nhsuk-button--secondary" id="Pend"
        href="student-details-locked-pended" role="button" data-module="nhsuk-button">Pend</a>


      <p><a id="canceltoStudent" href="student-details-locked">Cancel</a></p>
    </div>
  </main>
</div>
{% endblock %}