<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-processor.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Student dashboard {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->


<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<!-- Breadcrumb -->

{% endblock %}
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div>
        <h1 class="nhsuk-heading-xl">
          <span class="nhsuk-caption-l" id="studentRef">
            <span>BRN0000259</span>
            <span class="nhsuk-u-visually-hidden"> - </span>
          </span>
          Student details
        </h1>
      </div>
    </div>

    <div class="nhsuk-grid-column-one-third">
      <div class="nhsuk-form-group">
        <a href="student-details-unlocked" class="nhsuk-button nhsuk-button--secondary" role="button" id="next"
          style="float: right;">Unlock record</a>
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-row">


    <div class="nhsuk-grid-column-one-third">
      <h2 class="nhsuk-heading-xs mb-0" style="margin: 0;">Name</h2>
      <p id="studentName" class="wordbreak mb-0" style="margin: 0;">Mike Lee</p>

      <h2 class="nhsuk-heading-xs mb-0" style="margin: 0;">Date of birth</h2>
      <p id="studentDOB" class="mb-0" style="margin: 0;">01/01/2000</p>

      <h2 class="nhsuk-heading-xs mb-0" style="margin: 0;">SFE Number</h2>
      <p id="sfeReferenceNo" class="wordbreak">9</p>
    </div>

    <div class="nhsuk-grid-column-one-third">
      <h2 class="nhsuk-heading-xs mb-0" style="margin: 0;">Address</h2>
      <address>
        <span id="studentAddress1" class="wordbreak">1</span><br>
        <span class="wordbreak">Street</span>
        <span>Town</span><br>
        <span>Town</span><br>
        <span id="studentPostcode" class="wordbreak">FY1 2AA</span>
      </address>
    </div>

    <div class="nhsuk-grid-column-one-third">

      <h2 class="nhsuk-heading-xs mb-0" style="margin: 0;">Phone</h2>
      <p id="studentPhone" class="mb-0" style="margin: 0;">07700000000</p>

      <h2 class="nhsuk-heading-xs mb-0" style="margin: 0;">Email</h2>
      <p id="studentEmail" class="wordbreak">nhsbsastudent+1@gmail.com</p>
    </div>
  </div>

  <div class="nhsuk-grid-row">


  </div>

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

      <div class="nhsuk-action-link">
        <a class="nhsuk-action-link__link" href="#">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
            aria-hidden="true" width="36" height="36">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
            </path>
          </svg>
          <span class="nhsuk-action-link__text">Edit student details</span>
        </a>
      </div>

      <div class="nhsuk-tabs" data-module="nhsuk-tabs">
        <div class="tabs-nav">
          <ul class="nhsuk-tabs__list" role="tablist">
            <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected" role="presentation"><a href="#tab-1"
                class="nhsuk-tabs__tab" id="tab_tab-1" role="tab" aria-controls="tab-1" aria-selected="true"
                tabindex="0">Activities</a></li>
            <li class="nhsuk-tabs__list-item" role="presentation"><a href="#tab-2" class="nhsuk-tabs__tab"
                id="tab_tab-2" role="tab" aria-controls="tab-2" aria-selected="false" tabindex="-1">Notes</a></li>
            <li class="nhsuk-tabs__list-item" role="presentation"><a href="#tab-3" class="nhsuk-tabs__tab"
                id="tab_tab-3" role="tab" aria-controls="tab-3" aria-selected="false" tabindex="-1">Course details</a>
            </li>
            <li class="nhsuk-tabs__list-item" role="presentation"><a href="#tab-4" class="nhsuk-tabs__tab"
                id="tab_tab-4" role="tab" aria-controls="tab-4" aria-selected="false" tabindex="-1">Payments</a></li>
            <li class="nhsuk-tabs__list-item" role="presentation"><a href="#tab-5" class="nhsuk-tabs__tab"
                id="tab_tab-5" role="tab" aria-controls="tab-5" aria-selected="false" tabindex="-1">Actions</a></li>
          </ul>
        </div>

        <div class="nhsuk-tabs__panel" id="tab-1" role="tabpanel" aria-labelledby="tab_tab-1">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">
              <h2 class="nhsuk-heading-m">Activities</h2>

              <!-- Action link -->
              <div class="nhsuk-action-link">
                <a class="nhsuk-action-link__link" href="#" id="viewDocuments">
                  <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path
                      d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                    </path>
                  </svg>
                  <span class="nhsuk-action-link__text">View documents</span>
                </a>
              </div>

            </div>
            <div class="nhsuk-grid-column-two-thirds">

              <details class="nhsuk-details nhsuk-expander" id="activity2">

                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">247 - Means Tested Bursary Application (Complete)</span>
                </summary>
                <div class="nhsuk-details__text" id="details-content-activities[2]">
                  <dl class="nhsuk-summary-list">
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">Date created:</dt>
                      <dd class="nhsuk-summary-list__value">23/10/2024 14:21:02</dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">Date last updated:</dt>
                      <dd class="nhsuk-summary-list__value">23/10/2024 16:14:56</dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">Last updated by:</dt>
                      <dd class="nhsuk-summary-list__value">Michael Lee</dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                      <dd class="nhsuk-summary-list__key">Cipher:</dd>
                      <dt class="nhsuk-summary-list__value">michael.lee7@nhs.net</dt>
                    </div>
                  </dl>
                  <p>

                  </p>
                </div>
              </details>

              <details class="nhsuk-details nhsuk-expander" id="activity0">

                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">252 - Change address (Complete)</span>
                </summary>
                <div class="nhsuk-details__text" id="details-content-activities[0]">
                  <dl class="nhsuk-summary-list">
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">Date created:</dt>
                      <dd class="nhsuk-summary-list__value">08/08/2024 11:47:54</dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">Date last updated:</dt>
                      <dd class="nhsuk-summary-list__value">22/10/2024 15:28:59</dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key">Last updated by:</dt>
                      <dd class="nhsuk-summary-list__value">Michael Lee</dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                      <dd class="nhsuk-summary-list__key">Cipher:</dd>
                      <dt class="nhsuk-summary-list__value">michael.lee7@nhs.net</dt>
                    </div>
                    <div class="nhsuk-summary-list__row">
                      <dd class="nhsuk-summary-list__key">Type:</dd>
                      <dt class="nhsuk-summary-list__value">Change address</dt>
                    </div>
                    <div class="nhsuk-summary-list__row">
                      <dd class="nhsuk-summary-list__key">Previous address:</dd>
                      <dt class="nhsuk-summary-list__value">13<br>
                        Pleasant House<br>
                        Laney Street<br>
                        Smalltown<br>
                        Scotland<br>
                        NE33 3AB</dt>
                    </div>
                    <div class="nhsuk-summary-list__row">
                      <dd class="nhsuk-summary-list__key">New address:</dd>
                      <dt class="nhsuk-summary-list__value">34<br>
                        The Tower<br>
                        Streetson Crescent<br>
                        Bigtown<br>
                        England<br>
                        SR2 7NB</dt>
                    </div>
                    <div class="nhsuk-summary-list__row">
                      <dd class="nhsuk-summary-list__key">Will be living in parent's home during term-time of academic
                        year:</dd>
                      <dt class="nhsuk-summary-list__value">Yes</dt>
                    </div>
                    <div class="nhsuk-summary-list__row">
                      <dd class="nhsuk-summary-list__key">Comment:</dd>
                      <dt class="nhsuk-summary-list__value">I moved out of my parents house into my studio flat.</dt>
                    </div>
                    <div class="nhsuk-summary-list__row">
                      <dd class="nhsuk-summary-list__key">Effective from date:</dd>
                      <dt class="nhsuk-summary-list__value">15/10/2024</dt>
                    </div>
                  </dl>

                  <p>
                    <a id="viewActivity1" href="student-details-locked"><strong>Activate</strong></a>
                  </p>

                </div>
              </details>

            </div>

          </div>
        </div>

        <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="tab-2" role="tabpanel" aria-labelledby="tab_tab-2">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-quarter">
              <h2 class="nhsuk-heading-m">Notes</h2>
              <a class="nhsuk-button" id="addNote" href="/internal/notes/addnote?studentId=259" role="button">Add
                note<span class="nhsuk-u-visually-hidden"> to student account</span></a>
            </div>

            <div class="nhsuk-grid-column-three-quarters">
              <label for="filterText" class="nhsuk-label">Filter notes</label>
              <input class="nhsuk-input nhsuk-u-width-full" type="text" name="search-box" value="" id="filterText"
                onkeyup="filterTable('filterText', 'notesTable')">
              <span class="inline-search-button">
                <span class="nhsuk-u-visually-hidden">Search</span>
              </span>

              <table id="notesTable">
                <caption class="nhsuk-u-visually-hidden">User notes table</caption>
                <thead role="rowgroup">
                  <tr role="row">
                    <th class="nhsuk-u-visually-hidden" scope="col" role="columnheader">Notes</th>
                  </tr>
                </thead>
                <tbody>


                  <tr role="row">
                    <td>
                      <p><strong>Change of Circumstances on 26/11/2024 11:37:38</strong><br>
                        Linked activity 252 - Change address</p>

                      <p>CoC approved - address updated.</p>

                      <p>Type - Change address<br>
                        Old address - 13 Pleasant House, Laney Street, Smalltown, Scotland, NE33 3AB<br>
                        New address - 34 The Tower, Streetson Crescent, Bigtown, England, SR2 7NB<br>
                        Will be living in parent's home during term-time of academic year - Yes<br>
                        Comment - Change of university house.<br>
                        Effective from date - 15/10/2024</p>

                      <div class="nhsuk-hint" id="contact-hint">
                        Last modified by <strong>John Smith</strong>
                      </div>
                    </td>
                  </tr>

                  <tr role="row">
                    <td>
                      <h3 class="nhsuk-heading-xs mt-0 mb-0">Email notification of Bursary application further
                        evidence request sent on 23/10/2024 16:14:56</h3>


                      <p>My message here</p>
                      <p class="nhsuk-hint">Last modified by <strong>Michael Lee</strong></p>

                    </td>
                  </tr>
                  <tr role="row">
                    <td>
                      <h3 class="nhsuk-heading-xs mt-0 mb-0">Email notification of Bursary application further
                        evidence request sent on 22/10/2024 15:27:19</h3>


                      <p>Tell us of your new relationship</p>
                      <p class="nhsuk-hint">Last modified by <strong>Michael Lee</strong></p>

                    </td>
                  </tr>
                  <tr role="row">
                    <td>
                      <h3 class="nhsuk-heading-xs mt-0 mb-0">New payments Scheduled on 16/10/2024 10:32:00</h3>


                      <p>An email of type "NHS Bursary - Application Approved" has been sent</p>
                      <p class="nhsuk-hint">Last modified by <strong>Michael Lee</strong></p>

                    </td>
                  </tr>
                </tbody>
              </table>
            </div>


          </div>
        </div>

        <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="tab-3" role="tabpanel" aria-labelledby="tab_tab-3">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">
              <h2 class="nhsuk-heading-m">Enrolments</h2>
            </div>

            <div class="nhsuk-grid-column-full">
              <table id="enrolmentTable" class="nhsuk-table-responsive">
                <caption class="nhsuk-u-visually-hidden">Enrolments table</caption>
                <thead role="rowgroup" class="nhsuk-table__head">
                  <tr role="row">
                    <th role="columnheader" scope="col">Academic year reference</th>
                    <th role="columnheader" scope="col">Academic year</th>
                    <th role="columnheader" scope="col">Study year</th>
                    <th role="columnheader" scope="col">Attendance status</th>
                  </tr>
                </thead>
                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-u-visually-hidden" hidden="">0000000250</span>
                      <a href="/internal/enrolment/details?enrolmentId=250">
                        <span id="enrolmentNo0">BRN0000259-6</span>
                      </a>
                    </td>
                    <td role="cell" class="nhsuk-table__cell">2021-Sep</td>
                    <td role="cell" class="nhsuk-table__cell">Course year 6</td>
                    <td role="cell" class="nhsuk-table__cell">Pending status</td>
                  </tr>
                  <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-u-visually-hidden" hidden="">0000000244</span>
                      <a href="/internal/enrolment/details?enrolmentId=244">
                        <span id="enrolmentNo1">BRN0000259-5</span>
                      </a>
                    </td>
                    <td role="cell" class="nhsuk-table__cell">2022-Aug</td>
                    <td role="cell" class="nhsuk-table__cell">Course year 5</td>
                    <td role="cell" class="nhsuk-table__cell">Pending status</td>
                  </tr>
                  <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-u-visually-hidden" hidden="">0000000243</span>
                      <a href="/internal/enrolment/details?enrolmentId=243">
                        <span id="enrolmentNo2">BRN0000259-4</span>
                      </a>
                    </td>
                    <td role="cell" class="nhsuk-table__cell">2020-Sep</td>
                    <td role="cell" class="nhsuk-table__cell">PHD</td>
                    <td role="cell" class="nhsuk-table__cell">Pending status</td>
                  </tr>
                  <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-u-visually-hidden" hidden="">0000000242</span>
                      <a href="/internal/enrolment/details?enrolmentId=242">
                        <span id="enrolmentNo3">BRN0000259-3</span>
                      </a>
                    </td>
                    <td role="cell" class="nhsuk-table__cell">2022-Sep</td>
                    <td role="cell" class="nhsuk-table__cell">Course year 1</td>
                    <td role="cell" class="nhsuk-table__cell">Pending status</td>
                  </tr>
                  <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-u-visually-hidden" hidden="">0000000238</span>
                      <a href="/internal/enrolment/details?enrolmentId=238">
                        <span id="enrolmentNo4">BRN0000259-2</span>
                      </a>
                    </td>
                    <td role="cell" class="nhsuk-table__cell">2023-Aug</td>
                    <td role="cell" class="nhsuk-table__cell">Course year 3</td>
                    <td role="cell" class="nhsuk-table__cell">Pending status</td>
                  </tr>
                  <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                      <span class="nhsuk-u-visually-hidden" hidden="">0000000231</span>
                      <a href="/internal/enrolment/details?enrolmentId=231">
                        <span id="enrolmentNo5">BRN0000259-1</span>
                      </a>
                    </td>
                    <td role="cell" class="nhsuk-table__cell">2023-Sep</td>
                    <td role="cell" class="nhsuk-table__cell">Course year 1</td>
                    <td role="cell" class="nhsuk-table__cell">Pending status</td>
                  </tr>
                </tbody>
              </table>
            </div>


          </div>
        </div>

        <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="tab-4" role="tabpanel" aria-labelledby="tab_tab-4">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">
              <h2 class="nhsuk-heading-m">Payments</h2>
            </div>
            <div class="nhsuk-grid-column-full">

              <!-- Action link -->
              <div class="nhsuk-action-link">
                <a class="nhsuk-action-link__link" href="/internal/payments/paymentDetails?studentId=259"
                  id="paymentBtnLink">
                  <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path
                      d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                    </path>
                  </svg>
                  <span class="nhsuk-action-link__text">Manage payments</span>
                </a>
              </div>



              <hr aria-hidden="true" class="mt-0">
              <h3 class="nhsuk-heading-xs t-mid" id="noPaymentsDue">This student has no payments due</h3>
              <hr aria-hidden="true">







            </div>
          </div>
        </div>

        <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="tab-5" role="tabpanel" aria-labelledby="tab_tab-5">
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">
              <h2 class="nhsuk-heading-m">Actions</h2>
            </div>
            <div class="nhsuk-grid-column-full">
              <!-- Action link -->
              <div class="nhsuk-action-link">
                <a class="nhsuk-action-link__link" href="/internal/studentDetails/sendEmail?studentId=259"
                  id="sendGeneralEmail">
                  <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path
                      d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                    </path>
                  </svg>
                  <span class="nhsuk-action-link__text">Send custom email</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="gem-c-modal-dialogue" data-module="modal-dialogue" id="dialog-deleteNote335">
    <div class="gem-c-modal-dialogue__overlay"></div>
    <dialog class="gem-c-modal-dialogue__box" aria-modal="true" role="dialog" tabindex="0">
      <div class="gem-c-modal-dialogue__content">
        <h1 class="nhsuk-heading-l">Delete note</h1>
        <p>Are you sure you want to delete this note?</p>
        <div class="dialog-actions">
          <a class="nhsuk-button" href="/internal/notes/delete?noteId=335" role="button"
            data-module="nhsuk-button">Yes</a>
          <a class="nhsuk-button nhsuk-button--secondary modalNo" href="#" role="button"
            data-module="nhsuk-button">No</a>
        </div>
      </div>
      <button class="gem-c-modal-dialogue__close-button" aria-label="Close modal dialogue">×</button>
    </dialog>
  </div>

  <div class="gem-c-modal-dialogue" data-module="modal-dialogue" id="dialog-deleteNote334">
    <div class="gem-c-modal-dialogue__overlay"></div>
    <dialog class="gem-c-modal-dialogue__box" aria-modal="true" role="dialog" tabindex="0">
      <div class="gem-c-modal-dialogue__content">
        <h1 class="nhsuk-heading-l">Delete note</h1>
        <p>Are you sure you want to delete this note?</p>
        <div class="dialog-actions">
          <a class="nhsuk-button" href="/internal/notes/delete?noteId=334" role="button"
            data-module="nhsuk-button">Yes</a>
          <a class="nhsuk-button nhsuk-button--secondary modalNo" href="#" role="button"
            data-module="nhsuk-button">No</a>
        </div>
      </div>
      <button class="gem-c-modal-dialogue__close-button" aria-label="Close modal dialogue">×</button>
    </dialog>
  </div>

  <div class="gem-c-modal-dialogue" data-module="modal-dialogue" id="dialog-deleteNote328">
    <div class="gem-c-modal-dialogue__overlay"></div>
    <dialog class="gem-c-modal-dialogue__box" aria-modal="true" role="dialog" tabindex="0">
      <div class="gem-c-modal-dialogue__content">
        <h1 class="nhsuk-heading-l">Delete note</h1>
        <p>Are you sure you want to delete this note?</p>
        <div class="dialog-actions">
          <a class="nhsuk-button" href="/internal/notes/delete?noteId=328" role="button"
            data-module="nhsuk-button">Yes</a>
          <a class="nhsuk-button nhsuk-button--secondary modalNo" href="#" role="button"
            data-module="nhsuk-button">No</a>
        </div>
      </div>
      <button class="gem-c-modal-dialogue__close-button" aria-label="Close modal dialogue">×</button>
    </dialog>
  </div>

  <!-- Dialogs --> <!-- <div class="dialog" th:id="'dialog-deleteNote' + ${note.id}" aria-hidden="true" th:each="note, stat : ${notes}">

      <dialog class="dialog-holder"
        th:aria-describedby="${'dialog-title-note' + stat.index}"
        role="alertdialog">

        <div class="dialog-content"
          th:id="${'dialog-content-deletenote' + stat.index}" role="document"
          tabindex="0">

          <h1 class="dialog-heading"
            th:id="${'dialog-title-note' + stat.index}">Delete note</h1>

          <form class="form">

            <p>Are you sure you want to delete this note?</p>

            <div class="dialog-actions">
              <a class="button" sec:authorize="hasAuthority('Delete Notes')"
                th:href="@{/notes/delete(noteId=${note.id})}" role="button">Yes</a>
              <a class="dialog-cancel" href="/">No</a>
            </div>

            <a class="dialog-close" aria-label="close dialog"
              role="button"> <span class="icon icon-close">x</span>
            </a>

          </form>

        </div>

      </dialog>

    </div>
    <div class="dialog" th:id="'dialog-deleteDocument' + ${doc.id}"
      th:each="doc : ${documents}">

      <dialog class="dialog-holder" aria-labelledby="dialog-title-document"
        aria-describedby="dialog-title-document" role="alertdialog">


        <div class="dialog-content" id="dialog-content-document"
          role="document">

          <h1 class="dialog-heading" id="dialog-title-document">Delete
            document</h1>

          <form class="form">

            <p>Are you sure you want to delete this document?</p>

            <div class="dialog-actions">
              <a class="button"
                sec:authorize="hasAuthority('Delete Documents')"
                th:href="@{/document/deleteDocument(documentUuid=${doc.uuid})}">Yes</a>
              <a class="dialog-cancel" href="/">No</a>
            </div>

            <a class="dialog-close" aria-label="close" type="button"> <span
              class="icon icon-close">x</span>
            </a>

          </form>

        </div>

      </dialog> -->

  <div class="dialog" id="dialog-signOut" aria-hidden="true">
    <dialog id="signout-content-1" class="dialog-holder" role="alertdialog">
      <div class="dialog-content" id="signoutContainer" role="document" tabindex="0">
        <h1 class="dialog-heading">Sign out</h1>
        <form class="form">
          <p id="signout-content-1">This will end your session. Are you sure you want to sign out?</p>

          <div class="dialog-actions">
            <a class="nhsuk-button nhsuk-u-margin-right-4" href="/internal/logout" role="button"
              data-module="nhsuk-button">Yes</a>
            <a class="nhsuk-button nhsuk-button--secondary" href="#" role="button" data-module="nhsuk-button"
              onclick="cancel()">No</a>
          </div>

          <a class="dialog-close" aria-label="close" type="button" role="button">
            <span class="icon icon-close">x</span>
          </a>
        </form>
      </div>
    </dialog>
  </div>
  <script>
    function cancel() {
      document.getElementById("signoutContainer").tabIndex = 0;
      document.getElementById("dialog-signOut").ariaHidden = true;
    }
  </script>

</div>
{% endblock %}