{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->
{% block header %} {{ header({ "service": { "name": "Bursary", "href": "/" },
"showNav": "false", "showSearch": "false" }) }} {% endblock %}
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Check your answers {%
endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %} {% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

{{ backLink({
"href": "javascript:history.go(-1)",
"text": "Go back"
}) }}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <span class="nhsuk-caption-l">Course details</span>
    <h1 class="nhsuk-app-heading" id="checkYourDetails">Check your answers</h1>

    <dl class="nhsuk-summary-list">

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Academic year</dt>
        <dd class="nhsuk-summary-list__value">September 2022</dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Course year</dt>
        <dd class="nhsuk-summary-list__value">Course year 5</dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">University</dt>
        <dd class="nhsuk-summary-list__value">
          <p>University of Newcastle (medical)</p>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Type of course</dt>
        <dd class="nhsuk-summary-list__value">
          <p>Undergraduate degree</p>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Study type</dt>
        <dd class="nhsuk-summary-list__value">
          <p>Full time</p>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Course name</dt>
        <dd class="nhsuk-summary-list__value">
          <p>Bachelor of Medicine & Surgery - MBBS - 5 years</p>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Course start year</dt>
        <dd class="nhsuk-summary-list__value">
          <p>2017</p>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Course history</dt>
        <dd class="nhsuk-summary-list__value">
          Course year 1 - 2018 to 19 <br>
          Course year 2 - 2019 to 20 <br>
          Course year 3 - 2020 to 21 <br>
          Course year 4 - 2021 to 22 <br>
        </dd>
      </div>

    </dl>

    {% if data['submitted'] != 'true' %}
    <h2 class="nhsuk-heading-m">If you find a mistake</h2>
    <p>If you've made a mistake on your application, you need to delete it and start again.</p>
    <p>To do this, <a href="tasklist">go back</a> to the previous page and select 'delete it and start again'.</p>
    {% endif %}

  </div>
</div>

{% endblock %}