<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Student dashboard {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block header %} {{ header({ "service": { "name": "Bursary", "href": "/" },
"showNav": "true", "showSearch": "false", "primaryLinks": [ { "url" :
"/dashboard/dashboard-enrolment", "label" : "Home" }, { "url" :
"personal-details", "label" : "Personal details" }, { "url" : "#", "label" :
"Payment details" }, { "url" : "#", "label" : "Sign out" } ] }) }} {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
<!-- Breadcrumb -->

{% endblock %}
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1 class="app-page-heading">
        <span class="nhsuk-caption-l">Your NHS Bursary reference number is BRN0000259</span> NHS Bursary account
      </h1>

      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="
            beta-hub-main-topic
            nhsuk-grid-column-one-half
            nhsuk-card-group__item
          ">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content beta-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href=""> Apply for an NHS Bursary </a>
              </h2>
              <!-- <div class="nhsuk-card__description">
                <p>You can now apply for an NHS bursary</p>
              </div> -->
            </div>
          </div>
        </li>

      </ul>

      <!-- <div class="nhsuk-care-card nhsuk-care-card--non-urgent">
        <div class="nhsuk-care-card__heading-container">
          <h3 class="nhsuk-care-card__heading">
            <span role="text"
              ><span class="nhsuk-u-visually-hidden">Notifications </span
              >Notifications</span
            >
          </h3>
          <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
        </div>
        <div class="nhsuk-care-card__content">
          <table class="nhsuk-table">
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">Notification</th>
                <th role="columnheader" class="" scope="col">Description</th>
                <th role="columnheader" class="" scope="col" style="width: 25%">
                  What you can do
                </th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">Upload your needs assessment</td>
                <td class="nhsuk-table__cell">
                  For your Disabled Students' Allowance application, you must
                  upload your needs assessment after this has been carried out.
                </td>
                <td class="nhsuk-table__cell"><a href="needsassessment-upload">Upload</a></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">
                  Equality and diversity questionnaire
                </td>
                <td class="nhsuk-table__cell">
                  This is an anonymous questionnaire and will be used by the
                  Department of Health and Social Care for monitoring purposes.
                </td>
                <td class="nhsuk-table__cell"><a href="">Answer</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div> -->
    </div>
  </div>
</div>
{% endblock %}