{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->
{% block header %} {{ header({ "service": { "name": "Bursary", "href": "/" },
"showNav": "false", "showSearch": "false" }) }} {% endblock %}
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Check your answers {%
endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %} {% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

{{ backLink({
"href": "javascript:history.go(-1)",
"text": "Go back"
}) }}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <span class="nhsuk-caption-l">Student expense details</span>
    <h1 class="nhsuk-app-heading" id="checkYourDetails">Check your answers</h1>


    <dl class="nhsuk-summary-list">

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Pension contributions</dt>
        <dd class="nhsuk-summary-list__value">£20.75</dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Life assurance payments</dt>
        <dd class="nhsuk-summary-list__value">Not applicable</dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Mortgage payments</dt>
        <dd class="nhsuk-summary-list__value">Not applicable</dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Rent payments</dt>
        <dd class="nhsuk-summary-list__value">£1,200</dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Maintenance payments</dt>
        <dd class="nhsuk-summary-list__value">Not applicable</dd>
      </div>

    </dl>

    {% if data['submitted'] != 'true' %}
    <h2 class="nhsuk-heading-m">If you find a mistake</h2>
    <p>If you've made a mistake on your application, you need to delete it and start again.</p>
    <p>To do this, <a href="tasklist">go back</a> to the previous page and select 'delete it and start again'.</p>
    {% endif %}

  </div>
</div>

{% endblock %}