{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

{% block header %} {{ header({ "service": { "name": "Bursary", "href": "/" },
"showNav": "false", "showSearch": "false" }) }} {% endblock %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} What you will need {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <div class="nhsuk-back-link">
      <a
        class="nhsuk-back-link__link"
        href="/person-assessment/scenarios/dependent-person1/dashboard/dashboard-childrencomplete"
      >
        <svg
          class="nhsuk-icon nhsuk-icon__chevron-left"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          aria-hidden="true"
        >
          <path
            d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"
          ></path>
        </svg>
        Go back</a
      >
    </div>

    <h1 class="nhsuk-heading-xl">
      <span class="nhsuk-caption-l">Your income</span>What you will need
    </h1>

    <p>
      To assess your partner's NHS Bursary application, we need to know how much
      you earned in the most recently completed financial year.
    </p>
    <p>We’ll ask you if you got money from:</p>

    <ul>
      <li>a job or self-employment</li>
      <li>bank or building society interest</li>
      <li>sponsorship</li>
      <li>rent (full property or part of your home)</li>
      <li>a pension or taxable state benefits</li>
      <li>maintenance payments</li>
    </ul>

    <h2 class="nhsuk-heading-s" id="evidence">Evidence you will need</h2>

    <p>Depending on your answers, you may need to upload copies of your:</p>

    <ul>
      <li>payslips</li>
      <li>P60, P45, or a letter from your employer</li>
      <li>
        tax return, self-assessment form, or a letter from your accountant
      </li>
      <li>bank statements</li>
      <li>rent or mortgage statements</li>
      <li>most recent pension statement</li>
      <li>HMRC or benefits letter</li>
      <li>rent or mortgage statements</li>
      <li>child maintenance letter</li>
    </ul>

    <div class="nhsuk-warning-callout">
      <h3 class="nhsuk-warning-callout__label">
        <span role="text">
          <span class="nhsuk-u-visually-hidden">Important: </span>
          Important
        </span>
      </h3>
      <p>
        You will need to provide information for the most recently completed
        financial year. Please ensure the values you declare match the
        supporting evidence you provide exactly.
      </p>
    </div>
    <a href="salary-question" class="nhsuk-button" role="button">Start now</a>
  </div>
</div>
{% endblock %}
