<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-processor.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Student dashboard {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->


<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent" role="main" style="padding: 0;">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <div>
          <div>
            <h1 class="nhsuk-heading-xl">
              <span class="nhsuk-caption-l" id="studentRef">
                <span>BRN0000259-4 - Mike Lee (August 2024)</span>
                <span class="nhsuk-u-visually-hidden"> - </span>
              </span>
              Change details
            </h1>
          </div>
        </div>

        <!-- <div class="nhsuk-card" style="background: #005EB8; margin-top: 0;">
          <div class="nhsuk-card__content">
            <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
              Change of circumstances completed
            </h1>
          </div>
        </div> -->


        <p>The following changes were made for this student:</p>
        <ul>
          <li>address updated</li>
          <li>bursary details updated</li>
          <li>payments updated</li>
          <li>note created</li>
        </ul>

        <h2 class="nhsuk-heading-m" style="margin-top: 40px;">Changes made to student's record</h2>

        <!-- <h2 class="nhsuk-heading-m" style="margin-top: 40px;">Bursary details updated</h2> -->

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Bursary details updated
            </span>
          </summary>
          <div class="nhsuk-details__text">

            <p>These changes were made to the student's bursary application.</p>

            <table role="table" class="nhsuk-table-responsive">
              <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
                  <th role="columnheader" class="" scope="col">
                    Question
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Old answer
                  </th>
                  <th role="columnheader" class="" scope="col">
                    New answer
                  </th>
                </tr>
              </thead>
              <tbody class="nhsuk-table__body">
                <tr role="row" class="nhsuk-table__row">
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading" aria-hidden="true">Age </span>Living with parents
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading" aria-hidden="true">How much </span>Yes
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading" aria-hidden="true">How often </span>No
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </details>


        <!-- <h2 class="nhsuk-heading-m" style="margin-top: 40px;">Calculation details</h2> -->

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Payments updated
            </span>
          </summary>
          <div class="nhsuk-details__text">


            <p>This was the student's updated award. We updated their payment schedule.</p>
            <dl class="nhsuk-summary-list">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Non means tested grant
                </dt>
                <dd class="nhsuk-summary-list__value">
                  £1020
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Means tested bursary
                </dt>
                <dd class="nhsuk-summary-list__value">
                  £2696
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Extra weeks Allowance
                </dt>
                <dd class="nhsuk-summary-list__value">
                  £1892
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Dependants Allowance
                </dt>
                <dd class="nhsuk-summary-list__value">
                  £0
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Parent Learning Allowance
                </dt>
                <dd class="nhsuk-summary-list__value">
                  £0
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Childcare Allowance
                </dt>
                <dd class="nhsuk-summary-list__value">
                  £0
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Total amount payable
                </dt>
                <dd class="nhsuk-summary-list__value">
                  £5608
                </dd>
              </div>

            </dl>

          </div>
        </details>


        <!-- <h2 class="nhsuk-heading-m">Note created</h2> -->

        <details class="nhsuk-details nhsuk-expander">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Note created
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>This note was added to the student's record.</p>

            <div class="nhsuk-card">
              <div class="nhsuk-card__content">

                <p><strong>Change of circumstances - 26 November 2024 at 11:37am</strong><br>
                  Linked activity 252 - Change of address</p>

                <p>Change of circumstances completed. Address updated. Living with parents updated. Payments updated.
                </p>

                <p>Processor comment: I have added this optional comment, to provide some additional info about this
                  change which could be useful.</p>

                <p>Change type: Change of address<br>
                  Previous address: 13 Pleasant House, Laney Street, Smalltown, Scotland, NE33 3AB<br>
                  New address: 34 The Tower, Streetson Crescent, Bigtown, England, SR2 7NB<br>
                  Living with parents: No<br>
                  Comment: Change of university house.<br>
                  Date of change: 15 October 2024</p>

                <div class="nhsuk-hint" id="contact-hint">
                  Last modified by <strong>John Smith</strong>
                </div>

                <!-- <dl class="nhsuk-summary-list">
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Note type
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Change of Circumstances
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Link to activity (optional)
                </dt>
                <dd class="nhsuk-summary-list__value">
                  252 - Change of address (complete)
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Comments
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Change of university house.<br>
                  Old address: 13 Pleasant House, Laney Street, Smalltown, Scotland, NE33 3AB<br>
                  New address 34 The Tower, Streetson Crescent, Bigtown, England, SR2 7NB<br>
                  Effective from date: 15 October 2024
                </dd>
              </div>
            </dl> -->

              </div>
            </div>
          </div>
        </details>


        <div class="nhsuk-form-group">

          <a class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-right-5" id="complete" href="student-details-locked-complete"
            role="button" data-module="nhsuk-button" style="margin-top: 20px;">Return to Payment schedule history</a>

        </div>

      </div>
    </div>

  </main>
</div>
{% endblock %}