{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}Have both of your parents died? {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}
<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="/status/relationship" id="back">
    <svg
      class="nhsuk-icon nhsuk-icon__chevron-left"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      aria-hidden="true"
    >
      <path
        d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"
      ></path>
    </svg>
    Go back</a
  >
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <fieldset class="nhsuk-fieldset">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-app-heading" id="parentH1">
          <span class="nhsuk-caption-l">Status assessment</span>
          Have both of your parents died?
        </h1>
      </legend>
      <p>This only includes your biological or adoptive parents.</p>

      <p>
        If both of your parents have died, you will need to upload a copy of
        their death certificates. You will not need to upload these again for
        future applications.
      </p>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-three-quarters">
          <form method="post">
            <div class="nhsuk-form-group">
              <div class="nhsuk-radios__item">
                <input
                  class="nhsuk-radios__input"
                  id="yesParent"
                  name="parentStatus"
                  type="radio"
                  value="yesParent"
                />
                <label class="nhsuk-label nhsuk-radios__label" for="yesParent">
                  Yes
                </label>
              </div>

              <div class="nhsuk-radios__item">
                <input
                  class="nhsuk-radios__input"
                  id="noParent"
                  name="parentStatus"
                  type="radio"
                  value="noParent"
                />
                <label class="nhsuk-label nhsuk-radios__label" for="noParent">
                  No
                </label>
              </div>
            </div>

            <button class="nhsuk-button" type="submit" id="continueBtn">
              Continue
            </button>
          </form>
        </div>
      </div>
    </fieldset>
  </div>
</div>
{% endblock %}
