<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Check your answers {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-app-heading" id="checkYouranswers">
      <span class="nhsuk-caption-l">Status assessment</span>
      Check your answers
    </h1>

    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-heading-m">
          Based on your answers you will be classed as an independent student.
        </h2>
        <p>
          Your means-tested bursary entitlement will be assessed on the income
          of you and your partner (if you have one).
        </p>
      </div>
    </div>
  </div>
  <div class="nhsuk-grid-column-full">
    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Do you want to apply for an Income Assessed bursary?
        </dt>
        <dd class="nhsuk-summary-list__value">Yes</dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="incomebursary">
            Change<span class="nhsuk-u-visually-hidden">
              Do you want to apply for an Income Assessed bursary?</span
            >
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Have Student Finance England confirmed you're an independent student?
        </dt>
        <dd class="nhsuk-summary-list__value">Yes</dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="newalreadyassessed">
            Change<span class="nhsuk-u-visually-hidden">
              Have Student Finance England confirmed you're an independent
              student?</span
            >
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Do you live at your parents house?
        </dt>
        <dd class="nhsuk-summary-list__value">No</dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="newalreadyassessed">
            Change<span class="nhsuk-u-visually-hidden">
              Do you live at your parent's house?
            </span>
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Are you married or in a civil partnership?
        </dt>
        <dd class="nhsuk-summary-list__value">No</dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="relationship">
            Change<span class="nhsuk-u-visually-hidden">
              Are you married or in a civil partnership?</span
            >
          </a>
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Have you been assessed as independent because you are aged 25 and
          over?
        </dt>
        <dd class="nhsuk-summary-list__value">No</dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="assessed-25">
            Change<span class="nhsuk-u-visually-hidden">
              Have you been assessed as independent because you are aged 25 and
              over?</span
            >
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="nhsuk-heading-m" id="confirmYourDetails">
      Confirm your details
    </h2>

    <p>
      By clicking continue you’re confirming that the details you’re providing
      are correct.
    </p>

    <div class="nhsuk-form-group">
      <a
        href="newassessedevidence"
        class="nhsuk-button"
        role="button"
        id="continueBtn"
        >Save and continue</a
      >
    </div>
    <a href="#">Cancel and return to dashboard</a>
  </div>
</div>
{% endblock %}
