<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Does an employer pay you a wage? {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %} {% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" href="javascript:history.go(-1)" id="back">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          aria-hidden="true">
          <path
            d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
          </path>
        </svg>
        Go back</a>
    </div>

    <form action="/change-of-circumstances/V3/apply/income/employment" method="POST">
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
          <h1 class="nhsuk-heading-l" id="sponsorshipH1">
            <span class="nhsuk-caption-l">Change of circumstances</span>Will you earn any employment income this
            academic year?
          </h1>
          <div class="nhsuk-radios nhsuk-radios--conditional">
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="yes" name="employment" type="radio" value="yes"
                aria-controls="conditional-contact-1" aria-expanded="false" />
              <label class="nhsuk-label nhsuk-radios__label" for="yes">
                Yes
              </label>
            </div>

            <div class="
                nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-1">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-u-font-weight-bold" for="employment-info">
                  Enter the amount before any deductions, such as taxes and National Insurance
                </label>
                <p class="nhsuk-hint">
                  This is for the <span id="september-year"></span> to <span id="next-year"></span> academic year.
                </p>
                <label class="nhsuk-label" for="example">
                  Cost in pounds
                </label>
                <div class="nhsuk-input__wrapper">
                  <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
                  <input class="nhsuk-input nhsuk-input--width-5" id="example" name="example" type="text">
                </div>
              </div>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="no" name="employment" type="radio" value="No" checked />
              <label class="nhsuk-label nhsuk-radios__label" for="no">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="nhsuk-form-group">
        <button class="nhsuk-button" type="submit">Continue</button>
        <p><a href="tasklist-approved">Cancel</a></p>
      </div>

      <!--       <div class="form-group">
        <p><a href="/index" id="cancel">Cancel</a></p>
      </div> -->
    </form>
  </div>
</div>
<script>
  // Get today's date
  const today = new Date();
  let year = today.getFullYear();

  // If current month is before September (0-indexed, so September is 8)
  if (today.getMonth() < 8) {
    year -= 1;
  }

  // Display the most recent September's year
  document.getElementById("september-year").textContent = year;

  // Display the following year
  document.getElementById("next-year").textContent = year + 1;
</script>
{% endblock %}