<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Check your answers {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-app-heading" id="checkYouranswers">
      <span class="nhsuk-caption-l">Your passengers</span>
      Check your answers
    </h1>
  </div>
  <div class="nhsuk-grid-column-full">
    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Did you take any passengers?</dt>
        <dd class="nhsuk-summary-list__value">Yes</dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="claim-passengers">
            Change<span class="nhsuk-u-visually-hidden">
              Change Did you take any passengers?</span
            >
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Which passengers?</dt>
        <dd class="nhsuk-summary-list__value">John Smith</dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="which-passengers">
            Change<span class="nhsuk-u-visually-hidden">
              Change which passengers</span
            >
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Which weeks did you take them?</dt>
        <dd class="nhsuk-summary-list__value">
          Week 1 - 1/8/2021 - 7/8/2021 <br />
          Week 2 - 8/8/2021 - 14/8/2021
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="which-weeks">
            Change<span class="nhsuk-u-visually-hidden">
              change which weeks</span
            >
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">When did you take them in week 1?</dt>
        <dd class="nhsuk-summary-list__value">
            Friday 6th August - 10 miles
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="which-days-1">
            Change<span class="nhsuk-u-visually-hidden">
              change when you took them in week 1</span
            >
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">When did you take them in week 2?</dt>
        <dd class="nhsuk-summary-list__value">
            Friday - 13th August - 10 miles
        </dd>

        <dd class="nhsuk-summary-list__actions">
          <a href="which-days-2">
            Change<span class="nhsuk-u-visually-hidden">
              change when you took them in week 2</span
            >
          </a>
        </dd>
      </div>
    </dl>

    <h2 class="nhsuk-heading-m" id="complete">Complete your passenger details</h2>

    <p>
      By clicking continue you’re confirming that the details you’re providing
      are correct.
    </p>

    <div class="nhsuk-form-group">
      <a
        href="/ppe/plan-d/ur-scenario/tasklist-complete"
        class="nhsuk-button"
        role="button"
        id="continueBtn"
        >Save and continue</a
      >
    </div>
  </div>
</div>
{% endblock %}
