{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} How many miles do you take them to and from university each
day? {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %} {% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="which-weeks" id="back">
    <svg
      class="nhsuk-icon nhsuk-icon__chevron-left"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      aria-hidden="true"
    >
      <path
        d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"
      ></path>
    </svg>
    Go back</a
  >
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <fieldset class="nhsuk-fieldset">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-app-heading" id="assessed">
          <span class="nhsuk-caption-l">Your passengers</span>
          Which of these days did you take John Smith as a passenger?
        </h1>
      </legend>

      <div class="nhsuk-form-group">
        <div class="nhsuk-checkboxes nhsuk-checkboxes--conditional">
          <div class="nhsuk-checkboxes__item">
            <input
              class="nhsuk-checkboxes__input"
              id="day-1"
              name="day"
              type="checkbox"
              value="Monday 2nd August 2021"
              aria-controls="conditional-day-1"
              aria-expanded="false"
            />
            <label class="nhsuk-label nhsuk-checkboxes__label" for="day-1">
              Monday 2nd August
            </label>
          </div>

          <div
            class="
              nhsuk-checkboxes__conditional
              nhsuk-checkboxes__conditional--hidden"
            id="conditional-day-1"
          >
            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="conditional-day-1">
                How many miles did you take them?</label
              >
              <input
                class="nhsuk-input nhsuk-input--width-5"
                id="conditional-day-1"
                name="days"
                type="text"
              />
            </div>
          </div>

          <div class="nhsuk-checkboxes__item">
            <input
              class="nhsuk-checkboxes__input"
              id="day-2"
              name="day"
              type="checkbox"
              value="Tuesday 3rd August"
              aria-controls="conditional-day-2"
              aria-expanded="false"
            />
            <label class="nhsuk-label nhsuk-checkboxes__label" for="day-2">
              Tuesday 3rd August
            </label>
          </div>

          <div
            class="
              nhsuk-checkboxes__conditional
              nhsuk-checkboxes__conditional--hidden"
            id="conditional-day-2"
          >
            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="conditional-day-2">How many miles did you take them? </label>
              <input
                class="nhsuk-input nhsuk-input--width-5"
                id="conditional-day-2"
                name="day"
                type="text"
              />
            </div>
          </div>

          <div class="nhsuk-checkboxes__item">
            <input
              class="nhsuk-checkboxes__input"
              id="day-3"
              name="day"
              type="checkbox"
              value="Wednesday 4th August"
              aria-controls="conditional-day-3"
              aria-expanded="false"
            />
            <label class="nhsuk-label nhsuk-checkboxes__label" for="day-3">
              Wednesday 4th August
            </label>
          </div>

          <div
            class="
              nhsuk-checkboxes__conditional
              nhsuk-checkboxes__conditional--hidden"
            id="conditional-day-3"
          >
            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="conditional-day-3">
                How many miles did you take them?
              </label>
              <input
                class="nhsuk-input nhsuk-input--width-5"
                id="conditional-day-3"
                name="day"
                type="text"
              />
            </div>
          </div>

          <div class="nhsuk-checkboxes__item">
            <input
              class="nhsuk-checkboxes__input"
              id="day-4"
              name="day"
              type="checkbox"
              value="Thursday 5th August"
              aria-controls="conditional-day-4"
              aria-expanded="false"
            />
            <label class="nhsuk-label nhsuk-checkboxes__label" for="day-4">
              Thursday 5th August
            </label>
          </div>

          <div
            class="
              nhsuk-checkboxes__conditional
              nhsuk-checkboxes__conditional--hidden"
            id="conditional-day-4"
          >
            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="conditional-day-4">
                How many miles did you take them?
              </label>
              <input
                class="nhsuk-input nhsuk-input--width-5"
                id="conditional-day-4"
                name="day"
                type="text"
              />
            </div>
          </div>

          <div class="nhsuk-checkboxes__item">
            <input
              class="nhsuk-checkboxes__input"
              id="day-5"
              name="day"
              type="checkbox"
              value="Friday 6th August"
              aria-controls="conditional-day-5"
              aria-expanded="false"
            />
            <label class="nhsuk-label nhsuk-checkboxes__label" for="day-5">
              Friday 6th August
            </label>
          </div>

          <div
            class="
              nhsuk-checkboxes__conditional
              nhsuk-checkboxes__conditional--hidden"
            id="conditional-day-5"
          >
            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="conditional-day-5">
                How many miles did you take them?
              </label>
              <input
                class="nhsuk-input nhsuk-input--width-5"
                id="conditional-day-5"
                name="day"
                type="text"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="nhsuk-form-group">
        <a
          href="which-days-2"
          class="nhsuk-button"
          role="button"
          id="continueBtn"
          >Continue</a
        >
      </div>
    </fieldset>
  </div>
</div>

{% endblock %}
