{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

{% block header %} {{ header({ "service": { "name": "Bursary", "href": "/" },
"showNav": "false", "showSearch": "false" }) }} {% endblock %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} You've provided your children details {% endblock
%}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %} {% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-app-heading" id="complete">
      You've provided your children details
    </h1>

    <p>You have provided your evidence for your children.</p>

    <h2 class="nhsuk-heading-s" id="whatHappensNext">What happens next</h2>

    <p>
      To progress with your application, you need to give us details of your
      income and expenses for the upcoming academic year.
    </p>

    <a href="/students/income/intro" class="nhsuk-button" id="continue"
      >Continue to income assessment</a
    >

    <p>
      <button
        class="nhsuk-button nhsuk-button--secondary"
        type="submit"
        id="return"
      >
        Return to my dashboard
      </button>
    </p>
  </div>
</div>

{% endblock %}
