{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} How did you travel to the Royal Victoria Infirmary? {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %} {% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="which-addresses" id="back">
    <svg
      class="nhsuk-icon nhsuk-icon__chevron-left"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      aria-hidden="true"
    >
      <path
        d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"
      ></path>
    </svg>
    Go back</a
  >
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <fieldset class="nhsuk-fieldset">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-app-heading" id="assessed">
          <span class="nhsuk-caption-l">Week 3 - 15/8/2021 to 19/8/2021</span>
          How did you travel to the Royal Victoria Infirmary?
        </h1>
      </legend>
      <div class="nhsuk-hint" id="claim-options-hint">
        Select all options that apply for this week.
      </div>

      <div class="nhsuk-form-group">
        <div class="nhsuk-checkboxes">
          <div class="nhsuk-checkboxes__item">
            <input
              class="nhsuk-checkboxes__input"
              id="car"
              name="claim"
              type="checkbox"
              value="car"
            />
            <label class="nhsuk-label nhsuk-checkboxes__label" for="car">
              Car
            </label>
          </div>

          <div class="nhsuk-checkboxes__item">
            <input
              class="nhsuk-checkboxes__input"
              id="get-lift"
              name="claim"
              type="checkbox"
              value="A lift from someone else"
            />
            <label class="nhsuk-label nhsuk-checkboxes__label" for="get-lift">
              A lift from someone else
            </label>
          </div>
          <div class="nhsuk-checkboxes__item">
            <input
              class="nhsuk-checkboxes__input"
              id="public-transport"
              name="claim"
              type="checkbox"
              value="public transport"
            />
            <label
              class="nhsuk-label nhsuk-checkboxes__label"
              for="public-transport"
            >
              Public transport
            </label>
          </div>
          <div class="nhsuk-checkboxes__item">
            <input
              class="nhsuk-checkboxes__input"
              id="walk"
              name="claim"
              type="checkbox"
              value="walk"
            />
            <label class="nhsuk-label nhsuk-checkboxes__label" for="walk">
              Walk
            </label>
          </div>
          <div class="nhsuk-checkboxes__item">
            <input
              class="nhsuk-checkboxes__input"
              id="cycle"
              name="claim"
              type="checkbox"
              value="cycle"
            />
            <label class="nhsuk-label nhsuk-checkboxes__label" for="cycle">
              Cycle
            </label>
          </div>
        </div>
      </div>
      <div class="nhsuk-form-group">
        <a
          href="address-dates"
          class="nhsuk-button"
          role="button"
          id="continueBtn"
          >Continue</a
        >
      </div>
    </fieldset>
  </div>
</div>

{% endblock %}
