{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

{% block header %} {{ header({ "service": { "name": "Bursary", "href": "/" },
"showNav": "false", "showSearch": "false" }) }} {% endblock %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Dependent children assessment {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <div class="nhsuk-back-link">
      <a
        class="nhsuk-back-link__link"
        href="/person-assessment/scenarios/dependent-person1/dashboard/dashboard"
      >
        <svg
          class="nhsuk-icon nhsuk-icon__chevron-left"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          aria-hidden="true"
        >
          <path
            d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"
          ></path>
        </svg>
        Go back</a
      >
    </div>
    <h1 class="nhsuk-heading-xl">Dependent children assessment</h1>

    <p>
      To complete this section we need to know if you have any dependent
      children.
    </p>

    <p>A dependent child is a person aged:</p>
    <ul>
      <li>0 to 15 in a household (whether they are in a family or not)</li>
      <li>
        16 to 18 in full-time education and living in a family with his or her
        parent or grandparent
      </li>
    </ul>

    <p>We need this information to determine the student's eligibility.</p>

    <h2 class="nhsuk-heading-s" id="evidenceYouWillNeed">
      Evidence you will need
    </h2>
    <p>
      Depending on your answers, you may need to upload copies of your child's:
    </p>
    <ul>
      <li>Birth certificate</li>
      <li>Foster carer letter</li>
      <li>Adoption letter</li>
    </ul>
    <p>
      If your child is aged 16 to 18 and in full time education we will need
      evidence of this.
    </p>

    <a href="dependent-children" class="nhsuk-button">Start now</a>
  </div>
</div>
{% endblock %}
