{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->
{% block header %} {{ header({ "service": { "name": "Bursary", "href": "/" },
"showNav": "false", "showSearch": "false" }) }} {% endblock %}
<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Check your children's details {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-app-heading">Check your children's details</h1>

    <div class="nhsuk-form-group">
      <table role="table" class="nhsuk-table-responsive">
        <caption class="nhsuk-u-visually-hidden">
          dependent children table
        </caption>
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" scope="col">Name</th>
            <th role="columnheader" scope="col">Date of birth</th>
            <th role="columnheader" scope="col">Higher education</th>
            <th role="columnheader" scope="col">What you can do</th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Name </span>Joe
              Bloggs
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Date of birth </span
              >13/5/2009
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading"
                >Higher education</span
              >No
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading"
                >What you can do </span
              ><a href="#" id="deleteChild"
                >Delete
                <span class="nhsuk-u-visually-hidden">Joe bloggs</span></a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <a
      href="name"
      class="nhsuk-button nhsuk-button--secondary"
      type="submit"
      id="addAnotherChild"
    >
      Add another child
    </a>
    <h2 class="nhsuk-heading-l" id="completeH2">
      Submit your children's details
    </h2>
    <p>
      By clicking accept you’re confirming that the details you’re providing are
      correct.
    </p>

    <div class="nhsuk-form-group">
      <a id="register" role="button" class="nhsuk-button" href="evidence"
        >Accept and continue</a
      >
    </div>

    <a href="#">Cancel and return to dashboard</a>
  </div>
</div>
{% endblock %}
