<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} 
{{ serviceName }} prototypes | Create a password
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<a class="nhsuk-skip-link" href="#maincontent" id="skipLink">Skip to main content</a>
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" href="postcode" id="back">
        <svg
          class="nhsuk-icon nhsuk-icon__chevron-left"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          aria-hidden="true"
        >
          <path
            d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"
          ></path>
        </svg>
        Go back
      </a>
    </div>

    <h1 class="nhsuk-app-heading" id="passwordH1">
      <span class="nhsuk-caption-l">Question 6 of 7</span>
      <span>Create a password</span>
    </h1>
    <p>Your password must contain:</p>
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>at least 8 characters</li>
      <li>an uppercase letter</li>
      <li>a lowercase letter</li>
      <li>a number</li>
    </ul>
    <fieldset class="nhsuk-fieldset" role="group" aria-describedby="password">
      <legend class="nhsuk-u-visually-hidden">password field</legend>

      <div class="nhsuk-form-group">
        <label id="password-label" for="password" class="nhsuk-label"
          >Create a password</label
        >


        <input name="password" id="password"
          class="nhsuk-input nhsuk-u-width-two-thirds" type="password"
          autocomplete="off" maxlength="35" value=""/>
      </div>

      <div class="nhsuk-form-group">
        <label id="confirmPassword-label"
          for="confirmPassword" class="nhsuk-label">Confirm your password</label>

        <input name="confirmPassword"
          id="confirmPassword" class="nhsuk-input nhsuk-u-width-two-thirds"
          type="password" autocomplete="off" maxlength="35"
          value=""/>
      </div>
    </fieldset>
  </div>
</div>
<div class="nhsuk-inset-text">
  <span class="nhsuk-u-visually-hidden">Information: </span>
  <p>You'll need your password to sign in to your account, so remember this.</p>
</div>

<div class="nhsuk-column-grid-row">
  <div class="nhsuk-grid-column-third">
    <div class="nhsuk-form-group">
      <a class="nhsuk-button" href="student-id" type="submit" id="next" role="button">
       Continue
      </a>
    </div>

<!-- <div class="form-group">
  <p><a href="/register/landing" id="cancel">Cancel</a></p>
</div> -->
{% endblock %}
