<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Student Bursaries prototype
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-app-heading">
            Accessibile autocomplete
        </h1>
        <label for="location-picker" class="nhsuk-label">Enter university</label>
        <select id="location-picker" class="nhsuk-select nhsuk-u-width-three-quarters">
            <option value="">Select a university</option>
            <option id="1">ANGLIA RUSKIN UNIVERSITY - CAMBRIDGE</option>
            <option id="2">ANGLIA RUSKIN UNIVERSITY - CHELMSFORD</option>
            <option id="3">ANGLIA RUSKIN UNIVERSITY - PETERBOROUGH</option>
            <option id="4">BIRMINGHAM CITY UNIVERSITY</option>
            <option id="5">BIRMINGHAM METROPOLITAN COLLEGE</option>
            <option id="6">BOURNEMOUTH UNIVERSITY</option>
            <option id="7">BPP UNIVERSITY LTD</option>
            <option id="8">BRUNEL UNIVERSITY LONDON</option>
            <option id="9">BUCKS NEW UNIVERSITY</option>
            <option id="10">CANTERBURY CHRIST CHURCH UNIVERSITY</option>
            <option id="11">CITY UNIVERSITY LONDON</option>
            <option id="12">COLCHESTER INSTITUTE</option>
            <option id="13">COVENTRY UNIVERSITY</option>
            <option id="14">DE MONTFORT UNIVERSITY</option>
            <option id="15">EDGE HILL UNIVERSITY</option>
            <option id="16">KEELE UNIVERSITY</option>
            <option id="17">KINGS COLLEGE LONDON</option>
            <option id="18">KINGSTON UNIVERSITY</option>
            <option id="19">LEEDS BECKETT UNIVERSITY</option>
            <option id="20">LIVERPOOL JOHN MOORES UNIVERSITY</option>
            <option id="21">LONDON METROPOLITAN UNIVERSITY</option>
            <option id="22">LONDON SOUTH BANK UNIVERSITY</option>
            <option id="23">MANCHESTER METROPOLITAN UNIVERSITY</option>
            <option id="24">MIDDLESEX UNIVERSITY</option>
            <option id="25">NEW COLLEGE DURHAM</option>
            <option id="26">NORTHUMBRIA UNIVERSITY</option>
            <option id="27">OXFORD BROOKES UNIVERSITY</option>
            <option id="28">SHEFFIELD HALLAM UNIVERSITY</option>
            <option id="29">SOLENT UNIVERSITY</option>
            <option id="30">ST GEORGE'S - UNIVERSITY OF LONDON</option>
            <option id="31">STAFFORDSHIRE UNIVERSITY</option>
            <option id="32">UNIVERSITY COLLEGE LONDON</option>
            <option id="33">UNIVERSITY OF BEDFORDSHIRE</option>
            <option id="34">UNIVERSITY OF BIRMINGHAM</option>
            <option id="35">UNIVERSITY OF BOLTON</option>
            <option id="36">UNIVERSITY OF BRADFORD</option>
            <option id="37">UNIVERSITY OF BRIGHTON</option>
            <option id="38">UNIVERSITY OF BRISTOL</option>
            <option id="39">UNIVERSITY OF CENTRAL LANCASHIRE</option>
            <option id="40">UNIVERSITY OF CHESTER</option>
            <option id="41">UNIVERSITY OF CUMBRIA</option>
            <option id="42">UNIVERSITY OF DERBY</option>
            <option id="43">UNIVERSITY OF EAST ANGLIA</option>
            <option id="44">UNIVERSITY OF EAST LONDON</option>
            <option id="45">UNIVERSITY OF ESSEX</option>
            <option id="46">UNIVERSITY OF EXETER</option>
            <option id="47">UNIVERSITY OF GLOUCESTERSHIRE</option>
            <option id="48">UNIVERSITY OF GREENWICH</option>
            <option id="49">UNIVERSITY OF HERTFORDSHIRE</option>
            <option id="50">UNIVERSITY OF HUDDERSFIELD</option>
            <option id="51">UNIVERSITY OF HULL</option>
            <option id="52">UNIVERSITY OF LEEDS</option>
            <option id="53">UNIVERSITY OF LEICESTER</option>
            <option id="54">UNIVERSITY OF LINCOLN</option>
            <option id="55">UNIVERSITY OF LIVERPOOL</option>
            <option id="56">UNIVERSITY OF MANCHESTER</option>
            <option id="57">UNIVERSITY OF NEWCASTLE</option>
            <option id="58">UNIVERSITY OF NORTHAMPTON</option>
            <option id="59">UNIVERSITY OF NOTTINGHAM</option>
            <option id="60">UNIVERSITY OF PLYMOUTH</option>
            <option id="61">UNIVERSITY OF PORTSMOUTH</option>
            <option id="62">UNIVERSITY OF READING</option>
            <option id="63">UNIVERSITY OF ROEHAMPTON</option>
            <option id="64">UNIVERSITY OF SALFORD</option>
            <option id="65">UNIVERSITY OF SHEFFIELD</option>
            <option id="66">UNIVERSITY OF SOUTHAMPTON</option>
            <option id="67">UNIVERSITY OF ST MARK AND ST JOHN</option>
            <option id="68">UNIVERSITY OF SUFFOLK</option>
            <option id="69">UNIVERSITY OF SUNDERLAND</option>
            <option id="70">UNIVERSITY OF SURREY</option>
            <option id="71">UNIVERSITY OF TEESSIDE</option>
            <option id="72">UNIVERSITY OF THE WEST OF ENGLAND</option>
            <option id="73">UNIVERSITY OF WEST LONDON</option>
            <option id="74">UNIVERSITY OF WINCHESTER</option>
            <option id="75">UNIVERSITY OF WOLVERHAMPTON</option>
            <option id="76">UNIVERSITY OF WORCESTER</option>
            <option id="77">UNIVERSITY OF YORK</option>
            <option id="78">UNIVERSIYT OF PLYMOUTH</option>
            <option id="79">YORK ST JOHN UNIVERSITY</option>
        </select>

    </div>
</div>

{% endblock %}