<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}What is your email address? {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %} {% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="/register/landing" id="back">
    <svg
      class="nhsuk-icon nhsuk-icon__chevron-left"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      aria-hidden="true"
    >
      <path
        d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"
      ></path>
    </svg>
    Go back
  </a>
</div>

<form
  id="registrationForm"
  name="registrationForm"
  action="/register/phone"
  method="post"
>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-app-heading" id="contactH1">
        <span class="nhsuk-caption-l">Registration</span> What is your email
        address?
      </h1>

      <p>Enter the email address you would like us to contact you on.</p>

      <div class="nhsuk-form-group">
        <label id="email-label" for="email" class="nhsuk-label"
          >Email address</label
        >

        <input
          name="email"
          id="email"
          class="nhsuk-input nhsuk-u-width-two-thirds"
          type="text"
          autocomplete="on"
          maxlength="256"
          spellcheck="false"
          inputmode="email"
          value=""
        />
      </div>

      <!--<div class="nhsuk-form-group">
        <label id="phone-label" for="phone" class="nhsuk-label"
          >UK telephone number</label
        >

        <input
          name="phone"
          id="phone"
          class="nhsuk-input nhsuk-input--width-10"
          type="text"
          maxlength="20"
          inputmode="numeric"
          autocomplete="on"
          value=""
        />
      </div>-->
    </div>
  </div>

  <div class="nhsuk-column-grid-row">
    <div class="nhsuk-grid-column-third">
      <div class="nhsuk-form-group">
        <button class="nhsuk-button" type="submit" id="next" role="button">
          Continue
        </button>
      </div>
    </div>
  </div>
</form>

{% endblock %}
