<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} User registration journey
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %} {% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" href="/">
        <svg
          class="nhsuk-icon nhsuk-icon__chevron-left"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          aria-hidden="true"
        >
          <path
            d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"
          ></path>
        </svg>
        Go back</a
      >
    </div>
    <!-- Change the page title here -->
    <h1 class="app-heading-l" id="userRegH1">
      <span class="nhsuk-caption-l">NHSBSA Prototype</span>
      User registration journey
    </h1>

    <hr aria-hidden="true" />

    <h2 class="nhsuk-heading-m">
      User registration
      <strong
        class="task-completed status-shortlisted"
        style="background-color: #330072; float: right"
      >
        MVP Ready
      </strong>
      <span class="nhsuk-caption-m nhsuk-caption--bottom"
        >Last updated: 29 September 2021</span
      >
    </h2>

    <p>The following have been completed:</p>

    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>accessibility testing throughout</li>
      <li>various content updates</li>
      <li>index page shows all changes and updated pages</li>
      <li>titles have been updated</li>
    </ul>

    <p>Most recent updates:</p>
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>Summary screen content has been updated</li>

    </ul>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">
            Registration journey pages
          </caption>
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">Journey point</th>
              <th role="columnheader" class="" scope="col">Link</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Landing screen</td>
              <td class="nhsuk-table__cell">
                <a href="/register/landing" id="viewLanding"
                  >View
                  <span class="nhsuk-u-visually-hidden">landing screen</span></a
                >
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Email address</td>
              <td class="nhsuk-table__cell">
                <a href="/register/contact" id="viewEmail"
                  >View
                  <span class="nhsuk-u-visually-hidden"
                    >email address screen</span
                  ></a
                >
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Phone number</td>
              <td class="nhsuk-table__cell">
                <a href="/register/phone" id="viewPhone"
                  >View
                  <span class="nhsuk-u-visually-hidden"
                    >Phone number screen</span
                  ></a
                >
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Name</td>
              <td class="nhsuk-table__cell">
                <a href="/register/name" id="viewName"
                  >View
                  <span class="nhsuk-u-visually-hidden">name screen</span></a
                >
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Date of birth</td>
              <td class="nhsuk-table__cell">
                <a href="/register/dob" id="viewDOB"
                  >View
                  <span class="nhsuk-u-visually-hidden"
                    >date of birth screen</span
                  ></a
                >
              </td>
            </tr>

            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Address</td>
              <td class="nhsuk-table__cell">
                <a href="/register/address" id="viewAddress"
                  >View
                  <span class="nhsuk-u-visually-hidden">address screen</span></a
                >
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Password</td>
              <td class="nhsuk-table__cell">
                <a href="/register/account" id="viewPassword"
                  >View
                  <span class="nhsuk-u-visually-hidden">password screen</span></a
                >
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Student ID</td>
              <td class="nhsuk-table__cell">
                <a href="/register/student-id" id="viewStudentID"
                  >View
                  <span class="nhsuk-u-visually-hidden"
                    >student id screen</span
                  ></a
                >
              </td>
            </tr>

            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Summary</td>
              <td class="nhsuk-table__cell">
                <a href="/register/summary" id="viewRegSummary"
                  >View
                  <span class="nhsuk-u-visually-hidden">summary screen</span></a
                >
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Activate account</td>
              <td class="nhsuk-table__cell">
                <a href="/register/done" id="viewActivate"
                  >View
                  <span class="nhsuk-u-visually-hidden"
                    >activate account screen</span
                  ></a
                >
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Sign in</td>
              <td class="nhsuk-table__cell">
                <a href="/register/login" id="viewSignIn"
                  >View
                  <span class="nhsuk-u-visually-hidden">sign in screen</span></a
                >
              </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Account activated</td>
              <td class="nhsuk-table__cell">
                <a href="/register/registration-complete" id="viewActivated"
                  >View
                  <span class="nhsuk-u-visually-hidden"
                    >Account activated screen</span
                  ></a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="nhsuk-expander-group">
      <details
        class="nhsuk-details nhsuk-expander"
        nhsuk-polyfilled="true"
        id="after-mvp"
      >
        <summary
          class="nhsuk-details__summary"
          role="button"
          aria-controls="nhsuk-details__text5"
        >
          <span class="nhsuk-details__summary-text">
            Following changes after MVP</span
          >
        </summary>
        <div class="nhsuk-details__text" id="nhsuk-details__text5">
          <table class="nhsuk-table">
            <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">
              Following changes
            </caption>
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">Journey point</th>
                <th role="columnheader" class="" scope="col">Link</th>
              </tr>
            </thead>
            <p>After MVP, these should be implemented from UR findings.</p>
            <p>
              The first is a contact preferences page, the second is an accessible
              autocomplete for postcode.
            </p>

            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">Contact preferences</td>
                <td class="nhsuk-table__cell">
                  <a href="/register/contactpref" id="viewContactPreferences"
                    >View
                    <span class="nhsuk-u-visually-hidden"
                      >contact preferences screen</span
                    ></a
                  >
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">Postcode lookup</td>
                <td class="nhsuk-table__cell">
                  <a href="/register/postcode" id="viewPostcodeLookup"
                    >View
                    <span class="nhsuk-u-visually-hidden"
                      >postcode lookup screen</span
                    ></a
                  >
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">Address selection</td>
                <td class="nhsuk-table__cell">
                  <a href="/register/address1" id="viewAddressSelector"
                    >View
                    <span class="nhsuk-u-visually-hidden"
                      >Address selection screen</span
                    ></a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </details>
    </div>
  </div>
</div>

{% endblock %}
