<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} {{ serviceName }} prototypes{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->

{% block beforeContent %} {% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <!-- Change the page title here -->
    <h1 class="app-heading-l">
      <span class="nhsuk-caption-l">NHSBSA prototype</span>
      {{ serviceName }} prototypes
    </h1>

    <!-- Add your content here -->
    <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <!-- <div class="nhsuk-action-link">
          <a class="nhsuk-action-link__link" href="/MFA/intro">
            <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24" aria-hidden="true">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
              </path>
            </svg>
            <span class="nhsuk-action-link__text">Multi-factor authentication</span>
          </a>
        </div> -->

        <!-- RECENT WORK -->

        <h2 class="nhsuk-heading-l">Recent work (30/8/2024 onwards)</h2>

        <!-- Reset incorrect application data journey -->

        <div class="nhsuk-expander-group">
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">Tasklist rework: Delete application, new CYAs, and content
                tweaks (30/8/2024)</span>
            </summary>
            
            <div class="nhsuk-details__text">

              <hr>

              <!-- <div class="nhsuk-action-link">
                <a class="nhsuk-action-link__link" href="new-work/reset-application/v3/tasklist">
                  <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path
                      d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                    </path>
                  </svg>
                  <span class="nhsuk-action-link__text">Start latest journey - V3 Tasklist page</span>
                </a>
              </div> -->

              <h2 class="nhsuk-heading-l">Summary</h2>
              <ul>
                <li><strong>Issue:</strong> Students completing applications with incorrect data are currently unable to
                  go back and
                  change their answers before submission.</li>

                <li><strong>Agreed solution:</strong></li>
                <ul>
                  <li>Allow student to delete their application, from the Tasklist page.</li>
                  <li>Also add 'Check Your Answers' pages for each section they have completed (accessible from the
                    Tasklist), to allow them to check (but NOT edit) their changes, before submitting or deleting their
                    application.</li>
                </ul>

                <li><strong>JIRA ticket:</strong> <a href="https://bsa2468.atlassian.net/browse/SSCRD-217"
                    target=”_blank”>Link</a></li>
                <li><strong>Miro discussion/documentation on this work:</strong> <a
                    href="https://miro.com/app/board/uXjVKvh6Nz8=/" target=”_blank”>Link</a></li>
              </ul>

              <hr>


              <h2 class="nhsuk-heading-l">Prototyped journeys</h2>

              <!-- VERSION 3 -->
              <h3 class="nhsuk-heading-s">V3 (completed 3/10/2024)</h3>
              <ul>
                <li><strong>Page links:</strong></li>
                <ul>
                  <li>Tasklist (Not completed + Not submitted): <a
                      href="new-work/reset-application/v3/tasklist-1-not-complete">Link</a></li>
                  <li>Tasklist (Completed by student only + Not submitted): <a
                      href="new-work/reset-application/v3/tasklist-2-completed-by-student">Link</a></li>
                  <li>Tasklist (Completed by all + Not submitted): <a
                      href="new-work/reset-application/v3/tasklist-3-all-complete">Link</a></li>
                  <li>Tasklist (Completed by student only + Submitted): <a
                      href="new-work/reset-application/v3/tasklist-4-completed-by-student-submitted">Link</a></li>
                  <li>Tasklist (Completed by all + Submitted): <a
                      href="new-work/reset-application/v3/tasklist-5-submitted">Link</a></li>
                  <Li>CYA pages: Accessible from within Tasklist pages, above.</Li>
                  <li>CYA - Partner details (ONLY accessible here - Student will only get Parent OR Partner details -
                    Parent details has been linked in Tasklist): <a
                      href="new-work/reset-application/v3/partner-details-view-answers">Link</a></li>
                </ul>
              </ul>

              <!-- VERSION 2 -->
              <h3 class="nhsuk-heading-s">V2 (completed 20/9/2024)</h3>
              <ul>
                <li><strong>Page links:</strong></li>
                <ul>
                  <li>Tasklist (Completed + Not submitted): <a href="new-work/reset-application/v2/tasklist">Link</a>
                  </li>
                  <li>Tasklist (Completed + Submitted): <a
                      href="new-work/reset-application/v2/tasklist-submitted">Link</a></li>
                  <Li>CYA pages: Accessible from within Tasklist pages, above.</Li>
                </ul>

                <li><strong>Changes made:</strong></li>
                <ul>
                  <li>'Delete application' journey added, at bottom of Tasklist page.</li>
                  <li>'Check your answers' (CYA) pages added for each section, via new links in Tasklist page.</li>
                  <li>'Course details' section added to Tasklist, with link to new View Answers page for this section.
                  </li>
                  <li>Tasklist sections no longer get combined after application submission - original layout is
                    preserved.</li>
                </ul>
              </ul>

              <!-- VERSION 1 -->
              <h3 class="nhsuk-heading-s">V1 - Current tasklist page (as of 4/9/2024)</h3>
              <ul>
                <li>Tasklist (Completed + Not submitted): <a href="new-work/reset-application/v1/tasklist">Link</a>
                </li>
                <li>Tasklist (Completed + Submitted): <a
                    href="new-work/reset-application/v1/tasklist-submitted">Link</a></li>
              </ul>

          </details>
        </div>

        <hr style="margin-top: 60px;">






        <h2 class="nhsuk-heading-l">Outdated journeys (up to 10/6/2022)</h2>

        <!-- OUTDATED JOURNEYS -->

        <div class="nhsuk-expander-group">
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">Outdated journeys</span>
            </summary>
            <div class="nhsuk-details__text">

              <hr>

              <h3 class="nhsuk-heading-m">Main bursary journey</h3>
              <div class="nhsuk-action-link">
                <a class="nhsuk-action-link__link" href="/register/intro">
                  <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path
                      d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                    </path>
                  </svg>
                  <span class="nhsuk-action-link__text">Go to user registration journey</span>
                </a>
              </div>
              <div class="nhsuk-action-link">
                <a class="nhsuk-action-link__link" href="/enrolment/index">
                  <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path
                      d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                    </path>
                  </svg>
                  <span class="nhsuk-action-link__text">Go to course details</span>
                </a>
              </div>
              <div class="nhsuk-action-link">
                <a class="nhsuk-action-link__link" href="/eligibility/branching/index">
                  <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path
                      d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                    </path>
                  </svg>
                  <span class="nhsuk-action-link__text">Go to eligibility assessment</span>
                </a>
              </div>

              <div class="nhsuk-action-link">
                <a class="nhsuk-action-link__link" href="/status/intro">
                  <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path
                      d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                    </path>
                  </svg>
                  <span class="nhsuk-action-link__text">Go to status assessment</span>
                </a>
              </div>
              <div class="nhsuk-action-link">
                <a class="nhsuk-action-link__link" href="/relationship/index">
                  <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path
                      d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                    </path>
                  </svg>
                  <span class="nhsuk-action-link__text">Go to person 1/2 details</span>
                </a>
              </div>
              <div class="nhsuk-action-link">
                <a class="nhsuk-action-link__link" href="/students/index">
                  <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path
                      d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                    </path>
                  </svg>
                  <span class="nhsuk-action-link__text">Go to student income assessment</span>
                </a>
              </div>

              <div class="nhsuk-action-link">
                <a class="nhsuk-action-link__link" href="person-assessment/index">
                  <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path
                      d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                    </path>
                  </svg>
                  <span class="nhsuk-action-link__text">Go to person 1 and 2 assessment</span>
                </a>
              </div>

              <br />

              <h3 class="nhsuk-heading-m">Additional funding</h3>

              <div class="nhsuk-action-link">
                <a class="nhsuk-action-link__link" href="/childcare-app/">
                  <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path
                      d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                    </path>
                  </svg>
                  <span class="nhsuk-action-link__text">Go to childcare application</span>
                </a>
              </div>

              <div class="nhsuk-action-link">
                <a class="nhsuk-action-link__link" href="ppe/index">
                  <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path
                      d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                    </path>
                  </svg>
                  <span class="nhsuk-action-link__text">Go to Practice Placement Expenses (PPE)</span>
                </a>
              </div>

              <div class="nhsuk-action-link">
                <a class="nhsuk-action-link__link" href="ppe-hei/index">
                  <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path
                      d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                    </path>
                  </svg>
                  <span class="nhsuk-action-link__text">Go to Practice Placement Expenses - HEI</span>
                </a>
              </div>
              <div class="nhsuk-action-link">
                <a class="nhsuk-action-link__link" href="DSA/index">
                  <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path
                      d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                    </path>
                  </svg>
                  <span class="nhsuk-action-link__text">Go to Disabled Students Allowance - Student Facing</span>
                </a>
              </div>

              <div class="nhsuk-action-link">
                <a class="nhsuk-action-link__link" href="DSA-internal/index">
                  <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path
                      d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                    </path>
                  </svg>
                  <span class="nhsuk-action-link__text">Go to Disabled Students Allowance - Internal</span>
                </a>
              </div>

              <br />

              <h3 class="nhsuk-heading-m">Standalone prototypes</h3>
              <div class="nhsuk-action-link">
                <a class="nhsuk-action-link__link" href="dashboard/index">
                  <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path
                      d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                    </path>
                  </svg>
                  <span class="nhsuk-action-link__text">Go to dashboard</span>
                </a>
              </div>

              <div class="nhsuk-action-link">
                <a class="nhsuk-action-link__link" href="enrolement-breakdown/index">
                  <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path
                      d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                    </path>
                  </svg>
                  <span class="nhsuk-action-link__text">Go to internal dashboard</span>
                </a>
              </div>

              <div class="nhsuk-action-link">
                <a class="nhsuk-action-link__link" href="MFA-SMS/index">
                  <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path
                      d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                    </path>
                  </svg>
                  <span class="nhsuk-action-link__text">Go to multi-factor authentication</span>
                </a>
              </div>

              <div class="nhsuk-action-link">
                <a class="nhsuk-action-link__link" href="privacy/index">
                  <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path
                      d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                    </path>
                  </svg>
                  <span class="nhsuk-action-link__text">Go to privacy notice</span>
                </a>
              </div>

              <div class="nhsuk-action-link">
                <a class="nhsuk-action-link__link" href="/bank-details/index">
                  <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path
                      d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                    </path>
                  </svg>
                  <span class="nhsuk-action-link__text">Go to bank details</span>
                </a>
              </div>

              <div class="nhsuk-action-link">
                <a class="nhsuk-action-link__link" href="/test-examples/index">
                  <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path
                      d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                    </path>
                  </svg>
                  <span class="nhsuk-action-link__text">Go to evidence upload</span>
                </a>
              </div>

            </div>

        </div>

        {% endblock %}
      </div>
    </div>
  </div>