{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

{% block header %} {{ header({ "service": { "name": "Bursary", "href": "/" },
"showNav": "false", "showSearch": "false" }) }} {% endblock %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}What you’ll need
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %} {% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" href="#">
        <svg
          class="nhsuk-icon nhsuk-icon__chevron-left"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          aria-hidden="true"
        >
          <path
            d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"
          ></path>
        </svg>
        Go back</a
      >
    </div>
    <h1 class="nhsuk-app-heading">
      <span class="nhsuk-caption-l">Your income</span>What you’ll need
    </h1>

    <p>
      To make sure we assess you on your income correctly, we need to know about money you'll get in the academic year you're submitting a change for.
    </p>

    <p>You need to tell us about:</p>

    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>sponsorships</li>
      <li>pension payments</li>
      <li>rental income</li>
      <li>taxable state benefits</li>
      <li>maintenance payments</li>
      <li>trust funds</li>
      <li>other taxable income</li>
    </ul>

    <p>You also need to tell us about any pension payments you got in the last financial year and any employment or self-employment income if you’re a part-time student.</p>

    <h2 class="nhsuk-heading-s" id="evidenceYouWillNeed">
      Evidence you’ll need
    </h2>
    <p>You may need to upload evidence to support some of your answers. Examples of evidence include:</p>
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>payslips</li>
      <li>pension statements</li>
      <li>tax returns</li>
      <li>benefits letters</li>
      <li>Child Maintenance Service letters</li>
    </ul>

    <div class="nhsuk-inset-text">
      <span class="nhsuk-u-visually-hidden">Information: </span>
      <p>For your security, you’ll be signed out if you do nothing for 60 minutes.</p>
    </div>


    <a href="scholarship" class="nhsuk-button">Continue</a>
    <p><a href="tasklist">Cancel</a></p>
  </div>
</div>

{% endblock %}
