<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Check your income answers {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %} {% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-heading-xl">
      <span class="nhsuk-caption-l">Your income</span>Check your income answers
    </h1>

    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key" style="width: 50%">Sponsorship income</dt>
        <dd class="nhsuk-summary-list__value">£6000</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="scholarship">
            Change<span class="nhsuk-u-visually-hidden"> sponsorship income</span>
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Employment income</dt>
        <dd class="nhsuk-summary-list__value">None</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="employment">
            Change<span class="nhsuk-u-visually-hidden"> salary payments</span>
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Self-employment income</dt>
        <dd class="nhsuk-summary-list__value">None</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="self-employment">
            Change<span class="nhsuk-u-visually-hidden"> self-employment income</span>
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Pension payments</dt>
        <dd class="nhsuk-summary-list__value">None</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="pension">
            Change<span class="nhsuk-u-visually-hidden"> pension payments</span>
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Rental income</dt>
        <dd class="nhsuk-summary-list__value">£4000</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="rent">
            Change<span class="nhsuk-u-visually-hidden"> rental income</span>
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Taxable state benefits</dt>
        <dd class="nhsuk-summary-list__value">£300.45</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="benefits">
            Change<span class="nhsuk-u-visually-hidden"> taxable state benefits</span>
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Maintenance payments</dt>
        <dd class="nhsuk-summary-list__value">None</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="maintenance">
            Change<span class="nhsuk-u-visually-hidden"> Maintenance payments</span
            >
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Money from trust fund</dt>
        <dd class="nhsuk-summary-list__value">None</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="trust-fund">
            Change<span class="nhsuk-u-visually-hidden"> money from trust fund</span>
          </a>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">Other taxable income</dt>
        <dd class="nhsuk-summary-list__value">£750</dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="other">
            Change<span class="nhsuk-u-visually-hidden"> other taxable income</span
            >
          </a>
        </dd>
      </div>
    </dl>

    <!--<h2 class="nhsuk-heading-l">Submit your income details</h2>
    <p>
      By clicking accept you’re confirming that the details you’re providing are
      correct.
    </p>-->

    <div class="nhsuk-form-group">
      <a href="evidence" class="nhsuk-button" role="button"
        >Save and continue</a
      >
    </div>

    <p><a href="#">Cancel and return to dashboard</a></p>

    <!-- PROTOTYPE NAVIGATION - NOT TO BE DEVELOPED -->

    <div class="nhsuk-card nhsuk-card--care nhsuk-card--care--non-urgent" style="margin-top: 100px;">
      <div class="nhsuk-card--care__heading-container" style="background-color: #4c2b92;">
        <h2 class="nhsuk-card--care__heading">
          <span role="text">Prototype navigation</span>
        </h2>
      </div>

      <div class="nhsuk-card__content">
        <h4 class="nhsuk-heading-s">Alternative navigation:</h4>

        <p><a href="no-income">You have declared that you have no income</a> page shown if no income entered</p>

        <hr>

        <p>Please note: This 'Prototype navigation' section is NOT to be developed in the real service.</p>
      </div>

    </div>


  </div>
</div>

{% endblock %}
