{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

{% block header %} {{ header({ "service": { "name": "Bursary", "href": "/" },
"showNav": "false", "showSearch": "false" }) }} {% endblock %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %} Expenses assessment {% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <div class="nhsuk-back-link">
      <a
        class="nhsuk-back-link__link"
        href="/person-assessment/scenarios/dependent-person1-2/person-2/dashboard/dashboard-incomecomplete"
      >
        <svg
          class="nhsuk-icon nhsuk-icon__chevron-left"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          aria-hidden="true"
        >
          <path
            d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"
          ></path>
        </svg>
        Go back</a
      >
    </div>

    <h1 class="nhsuk-heading-xl">Your expenses assessment</h1>

    <p>
      To complete this section, you’ll need to know information about your
      expenses.
    </p>
    <h2 class="nhsuk-heading-s" id="evidence">Evidence you will need</h2>

    <p>Depending on your expenses, you might need to send proof of:</p>
    <ul>
      <li>Pension statement or Bank statements</li>
      <li>
        P60 or March (week 52 month 12) Payslip, P45, letter from employer, HMRC
        Letter
      </li>
      <li>
        Tax return, self assessment form, copy of relevant accounts, letter from
        accountant, HMRC Letter
      </li>
    </ul>
    <p>
      You will need to provide us with evidence supporting the amounts you
      declare.
    </p>
    <a href="personal-pension-question" class="nhsuk-button" role="button"
      >Start now</a
    >
  </div>
</div>

{% endblock %}
